<div class="sagebackground">
  <div class="pt-4 pb-4">
    <div class="card containerCustom">
      <div class="heddagablerbackground">
        <p class="topcornergrey">Unavailable for purchase</p>
      </div>

      <div class="container">

        <h1 class="pt-3"><strong>Hedda Gabler</strong> <small>(adapted)</small></h1>



        <h4>– Edinburgh Fringe Festival – Aug 2006 – Bulandra Theatre – 2007
        ‘Ibsen re-invented to stunning effect’ – The List – 2006
        </h4>
        <p>
        The daughter of General Gabler, Hedda, an elegant socialite, has married a boring academic, George Tesman, to the astonishment of her friends. In the society press, her name had been linked with the revolutionary leader, Eilert Lȍvborg, but she turned him down for someone less dangerous. When Lȍvborg comes back into her life with a new mistress, Mrs. Elvsted, and the MS of a new book, The History of the Future, Hedda takes revenge. She burns the only copy of his book and urges him to kill himself. When even his suicide does not go according to plan, she dramatically kills herself. Tesman, who always blames himself for the world’s misfortunes, wants to repair the damage. He starts to reconstruct Lȍvborg’s vision of an apocalyptic future from his notes, with the support of an ardent Mrs. Elvsted.
        </p>
        <p>Author’s note: this was a shortened version of Ibsen’s play, first performed in 1891, which |I adapted as part of a double bill with my play, The Man of the Future is Dead. The production was generously supported by the Norwegian government.</p>
        <p>‘Ibsen re-invented to stunning effect’ – The List – 2006</p>
      </div>
    </div>
  </div>
</div>
