<%= image_tag("heddagabler02.jpg", class: "img-banner") %>

<div class="container card">

  <h1 class="pt-3 pd-3"><strong>Hedda Gabler</strong> <small>(adapted)</small></h1>



  <h2>– Edinburgh Fringe Festival – Aug 2006 – Bulandra Theatre – 2007
  ‘Ibsen re-invented to stunning effect’ – The List – 2006
  </h2>
</div>
