<h1>Hedda Gabler <small>(adapted)</small></h1>

<%= image_tag("heddagabler01.jpg", class: "img_size_m") %>

<h2>– Edinburgh Fringe Festival – Aug 2006 – Bulandra Theatre – 2007
‘Ibsen re-invented to stunning effect’ – The List – 2006
</h2>
