<div class="container mt-2">
  <h1>THE GLOBAL VILLAGE</h1>

  <p> Arthur Koestler once remarked that the difference between the post-war generation and all
  preceding ones was that for the first time they knew how to destroy the world.</p>

  <p>That knowledge altered all perspectives. Previously, it had been possible to argue the
  case for just wars. There were certain principles for which whole nations could fight and even
  contemplate their own destruction, in the belief that, through the carnage, some good could
  come. With the prospect of nuclear warfare, that rationalisation of blood-lust disappeared for
  good. No cause could conceivably justify the abandonment of restraint by the nuclear powers.
  No morality exists on a dead planet.
  </p>

  <p>The Bomb made cowards of us all; and long may such cowardice thrive. In the 1980s,
  however, another knowledge no less alarming or revolutionary, but equally pervasive, may
  take its pride of place in our thinking. It is the realisation that, for the first time, we can
  control the world. Science has placed remarkable forces at our disposal, powers which in the
  past would have been beyond our capacity to understand, let alone manipulate. How we use
  the new technology is up to us.
  </p>
  <p>We can within a generation or so end the perennial scourges of mankind - famine,
  disease, dire poverty, and certain kinds of climatic disasters. Or we can destroy the planet by
  subtler methods than blowing it up. We can bum off the oil, cut down the trees, pollute the
  oceans and leave ourselves gasping in thin air, grasping at our neat oxygen containers to stop
  thc dizziness as we walk from shop to shop in fumed cities.</p>
  <p>If there are deserts, we will have created them: where there is want, we will be the
  chief cause of deprivation. This recognition as to what technology has laid at our feet is
  admittedly not globally shared. It belongs, for the most part, to the developed North rather
  than the underdeveloped South, to use the Brandt Commission's valuable shorthand.
  </p>
  <p>Most of the world's population still lives in an uncomprehending submission to the
  ebbs and flows of fortune, not understanding why their crops fail or the fish stay away from
  their seas. Not least among the inequities upon this planet is that of information; and as with
  all such blatant imbalances, the privileged suffer along with the disadvantaged.
  </p>
  <p>The Brandt Commission’s Report, North-South, is full of horrifying statistics. Then
  are already 800 million absolute poor in the world, and this number is steadily increasing.
  Each chapter provides throwaway facts about injustice and global absurdities. 450 billion US
  dollars is spent annually on military programmes, over half by the Northern superpowers,
  Russia and the United States; while only 20 billion is spent on development aid.</p>
  <p>‘With 600 million people, India bas a GNP two-fifths the size of that of the United
  Kingdom, which has 55 million people.’ ‘All the fuel used by the Third World for all
  purposes is only slightly more than the amount of gasoline the North burns to move its
  automobiles’.
  </p>
  <p>And so on. If the Brandt Commission's Report serves no other purpose than to
  remind the North of these global facts, it will not have been compiled in vain. It attempts,
  however, more than that. It relates the statistics together in ways which are not immediately
  obvious. It points out, for example, that the shortage of energy in the South, particularly of
  oil, causes the poor to search for the most primitive fuel of all, wood, which leads to
  deforestation. It tries to steer away from normal political configurations, which is why the
  very title is significant, lumping Russia in with the States as part of the North, together with
  such obviously antipodean countries as Australia and New Zealand which are nevertheless
  northern in culture and development.</p>
  <p>It also proposes an immediate programme for action; and within that programme, it
  stresses mutual self-interest as the mainspring for endeavour, rather than charity or straight
  aid. In that sense, it is a liberal document, with its emphasis on the rights of man and on the
  cultural independence of nations.</p>
  <p>It is a constructive, thoughtful, non-coat-trailing document; and one encouraging sign
  in Britain over the past few weeks has been the way in which not only the papers have given
  it proper coverage, but also the public seem to have taken it to heart. North-South is a
  best-seller, according to the Evening Standard lists.</p>
  <p>But it is not easy to read. It is presented and written with clarity: it avoids jargon and
  repeats the salient points with a doggedness which brooks no opposition. It does not suffer,
  except in details, from the normal failings of committee reports; and the commissioners,
  widely drawn from North and South, East and West, including Braadt himself, Edward
  Heath, Olaf Pa1me, Adam Malik and other statesmen, are to be congratulated on discovering
  a unanimity of style as well as of purpose.</p>
  <p>The material is fascinating, the presentation clear, the style readable; and yet my mind
  kept wandering, glancing through passages and then frantically re-reading them, as if my
  attention had to be screwed to the sticking post again and again, as if the ibo1ts were always
  working loose. This was partly because the information was so densely packed: each sentence
  set off a train of thought, which had to be followed to its often bitter conclusion.</p>
  <p>Partly too, it was because we were being asked to think ia global rather than the
  familiar national terms. In Chapter 7, for example, on ‘Disarmament and Development’,the
  authors tell us that ‘more arms do not make mankind safer, only poorer’, which is perfectly
  true, on a global scale; but I can think of many countries which are made safer and richer, at
  least in the short tern, through their military expenditure.</p>
  <p>If somebmly were also to come along with a visionary scheme to make Europe an
  arms-free zone, I would want to look very closely at the small print, the safeguards and
  guarantees, before the doubts in my mind were calmed.</p>
  <p>There are many such passages. The authors rightly stress the importance of free trade,
  good nineteenth-century liberals that they are. They point out that while low cost goods from
  the Third World may damage, say, the clothing industry in the North of England, the British
  economy as a whole may benefit. The exports from India and Taiwan bring in much-needed
  foreign currency to those countries which can then be spent on buying high technology
  British goods.</p>
  <p>The authors develop with statistics a convincing case to suggest that the North caa
  only get out of its recession through encouraging the development of the South. And yet if I
  were an MP for a Northern town and had to watch over the decline of a once-thriving local
  industry, it would require an almost Panglossian faith to argue to my constituents that all is
  really for the best in the best of all possible worlds.
  </p>
  <p>The great stumbling block to the entire programme presented by the Brandt
  Commission is the presence of innumerable parish outlooks around the world which
  individually may be of little significance but collectively are formidable—with one group
  digging their heels in here, and another raising objections there, until the grand design is lost
  in a conglomeration of sensitive details.
  </p>
  <p>I have just been round the world for the first time, which still sounds a majestic boast,
  although in fact I stuck to countries labelled as North by the Brandt Commission with only a
  brief stopover in Singapore to break the pattern. It was impossible not to be struck by the
  different local headlines in the various countries.
  </p>
  <p>A cyclone which devastated Fiji over Easter rated not a column inch in the British
  papers. The lead story on New Zealand's News at Ten, when I arrived, concerned the leaking
  of a secret report which warned of a glut of timber in the mid-1990s. The unemployed during
  the depression had been set to work in planting acres of trees during the 1930s, to replace the
  sub-tropical forests plundered by the early settlers: aad now these trees had matured, and
  over-matured, to swamp the timber and paper industries.</p>
  <p>What other country, I thought, could be so removed from all the calamities which
  threaten the world as to speculate about problems so far ahead; and in any case, what
  accountants' alchemy could transform these grand forests, which harboured so much richness
  of life, into a debit on the national balance sheet?</p>
  <p>That was one neighbourhood headline; but another sort appeared in the West Coast
  papers in the United States in early April, two weeks before President Carter's ill-fated
  mission to rescue the hostages in Iran. In Los Angeles, there was much speculation about the
  prospect of an Entebbe-style raid; and journalists and editors alike were fantasising about the
  chances of success.
  </p>
  <p>This sounded like wild cowboy talk, dangerous electioneering, and surely I thought
  that it would not to be taken seriously in Washington. Could they not see that such a raid, if it
  went even marginally wrong, might, at worst. trigger a Third World War, or so damage future
  relations with Middle East countries that the oil on which the United States depends would be
  instantly threatened. Even if the raid worked, might this not encourage other countries to try
  their luck in other escapades? Despite one's sympathy for the hostages and their familia, and
  the dislike of the Iranian students' behaviour, the risks involved in such a mission seemed
  absurdly high.
  </p>
  <p>In Los Angeles, however, all the surrounding problems were reduced to one simple choice -
  to act or not to act - and one question - would the mission work? And I, not taking this debate
  seriously, left, thanking God prematurely that Cyrus Vance was at the White House to keep
  the local hotheads in check—for London where I was greeted by headlines announcing that
  British Leyland was once more facing a life-or-death crisis.
  </p>
  <p>The Brandt Commission valiantly strove to remind us that we live in a global village;
  but there are so many family feuds to overcome, so many difficulties and such a variety of
  perspectives that their task requires a messianic fervour, to batter down quibbles with their
  zeal.</p>
  <p>The tone of North-South is not quasi-religious,but cool and determined: and there
  were times when the commissioners seemed to underrate the power of the parish outlooks
  lined up against them. It was also disconcerting to read passages where an apparently
  admirable stance came into conflict with my tiny and marginal understanding of how the
  world currently works.</p>
  <p>Let us take two comparatively small, but in fact very large, examples. We can all
  agree that the world's resources of oil are finite: they are so by definition. What nobody
  knows is just how finite they are, whether they will virtually dry up in thirty, fifty or a
  hundred years' time, or even longer. New sources of oil are being discovered every day; and
  in New Zealand, where the oil crisis has bitten more deeply than in the United States or
  Britain, they are considering the prospect of prospecting for oil in the waters of the South
  Island.
  </p>
  <p>Timing here is crucial. If we take an apocalyptic view, then the world requires a
  massive and immediate programme, harnessing the sources of tidal and solar power, and
  exploring the possibilities of widespread nuclear energy. The Commissioners expressed the
  various fears about the safety of nuclear power stations and the dispersal of radio-active
  waste.</p>
  <p>If our outlook is more sanguine, we can a8ord to talk about conservation programmes
  and letting market forces work to price oil gradually out of the system, while alternative
  sources take over. One view requires unprecedented international action, while the other does
  not. This is guesswork on an enormous scale; just as it is guesswork as to whether central
  sheathes housing the nuclear core in nuclear power stations will stand the test of time, or
  whether they may develop flaws, like metal fatigue in aircraft, an unforeseen hazard of the
  past.</p>
  <p>On an assessment of the world's energy resources, many matters depend. When we
  talk about the development of the South, what do we mean? Widespread industrialization, on
  the Northern model? And if so, would this involve the proliferation of national car, aircraft
  and shipping industries, all energy intensive, all contributing to a wasteful use of the world's
  resources? Or do we mean some new kind of development, more appropriate to the future -
  and if so, what? Are we aiming towards a plateau of sufficiency, where each country has
  enough according to its needs, but no more?
  </p>
  <p>Or do we anticipate a future where each country is developed industrially, competitive
  in the world's market, but disregarding the ecological consequences? It may be selfish and
  patronising for the North to say to the poor South, ’Disregard our example. We must discover
  new ways to become rich and self-sufficient without plundering the environment.’ But is that
  not the advice which, in the long term, we must give? Will the poor Puerto Ricans listen,
  gazing agog at the Cadillacs of their Northern neighbours?</p>
  <p>If we decide against wasteful industrialisation, can we expect the aim of world
  sufficiency to be achieved through the modified and monitored market forces in which the
  Brandt Commission for the most part places its trust?</p>
  <p>Even if we accept the Brandt Commission's call for a new World Monetary Order,
  releasing countries from their dependence on the American dollar and the tattered remains of
  the Bretton Woods agreement, is it likely that in the state of uneasy suspicion, sometimes
  amounting to outright war that much of the world accepts as its natural order, the trust can be
  found to support a supranational currency?
  </p>
  <p>It is all highly speculative; and behind such speculations, looms the awful prospect of
  what happens when elaborate, costly, development aid programmes go wrong, as in the case
  of Micronesia.</p>
  <p>Micronesia, a group of many small islands in the Pacific, stretching along the Equator,
  came under US trusteeship after the Second World War. It includes the Bikini atoll, as well as
  Guam, the largest island, the Caroline and Palan islands, and the Marshall and Gilbert islands.
  </p>
  <p>The Micronesians, less than half a million of them, lived an idyllic, peaœful existence,
  until the Second World War. There were plenty of fish in their waters, plenty of food on the
  land; but by international standards, their life was primitive in the extreme.</p>
  <p>They had almost no monetary income, no welfare services, little Western-style
  education and little contact with the outside world. It was also an area where atom bombs
  could be exploded with the minimum fuss; and in the wake of the bomb, came the
  trusteeship. President Kennedy decided that something should be done about Micronesia and
  for the past fifteen years, aid and development programmes for Micronesia have been pouring
  out of Washington.
  </p>
  <p>The result äas been disastrous. No industries have been established but the
  Micronesians’ habits of elegant survival, and, in places, the balance of nature, have been lost.
  The staple diet of the Micronesians has become canned food—tuna fish from Japan, bully
  öeef from the States. There is little fishing, little farming and the natives queue up for US
  government dole, to be spent on Coca-Cola and tinned beer, whose remains litter the villages.
  </p>
  <p>This text-book example of how not to do it should not be taken, of course, as an
  argument against development aid programmes: but as a peripheral warning when
  considering the first task in the Brandt Commission's Emergency Programme, 1980-85, the
  large-scale transfer of resources to developing countries.</p>
  <p>This consists of two main objectives - immediate assistœœ to the ’poverty belt’ of
  countries stretching across Africa and Asia, and the provision of financing the debts and
  deficits of middle-income countries; and would require, in different forms of international
  financing, a minimum of 4 billion dollars, in addition to current aid. The rich countries should
  aim at a commitment of 0.7 of their GNPs towards development.</p>
  <p>The Brandt Commission have other ingenious ways of raising the finance, including a
  special tax on armaments and a recycling of oil revenues through a proposed new
  international financial institution, a World Development Fund.
  </p>
  <p>The aim is laudable and needs to begin. In practice, however, one would like to know
  more about what is meant by development, both by the rich Northern countries and the OPEC
  bloc, and by the poor Southern countries needing assistance.</p>
  <p>There could be cases where (as in Micronesia) the best form of aid is leaving well
  alone. Some of the world's worst disasters are self-inflicted by man. Maybe Voltaire was right
  to suggest that the best response to global disorders is to cultivate one's own garden.</p>
  <p>The Brandt Commission counsel agaînst pessimism. Among their other immediate
  aims, they call for an international energy strategy. a world food programme and major
  reforms in the international financial system.</p>
  <p>The Commission calls for optimism and action, based on a sober assessment of the
  world's needs. I would like to be able to share it without any qualifications at all, for all
  mental reservations are a threat to its success. Nevertheless, there may be a dimension
  missing from North-South whose absence threatens the enterprise.
  </p>
  <p>If I call this a spiritual dimension, there is the danger of misinterpretation. I wish for
  no bland submissions to divine will; but rather a wisdom and respect for the natural powers
  which technology has placed at our disposal. I sense the lack of awe, of a charity which is not
  selfishness in another disguise and a clearer recognition of the rough beasts that are slouching
  towards different Bethlehenis to be born.
  </p>
  <p>I do not think that the enlightened self-interest in which the Brandt Commission for
  the most part placed their trust, is a strong enough moral force to accomplish the ends which
  we all desire. The Brandt Commission left unasked one vital question.. Can we, in such a
  fundamental matter, change the way in which we think?</p>
  <p>This intangible, quasi-philosophical, quasi-religious part of our mind which penetrates
  our lives and yet cannot be relegated to any particular aspect of them - remains beyond the
  reach of any five, ten or fifteen year crash programme.</p>
  <p>And yet it is where the future of the planet will be decided.</p>
</div>
