<div class="plantingtreeimg">
  <div class="cardsdis container-fluid">
    <div class="img-container">

    <%= image_tag("sliding_scales_Cover.jpg", class: "wid50 me-5", alt: "Sliding Scales Cover") %>
    </div>
    <div class="textcenteronsmallerscreens">
      <div class ="text-container">
        <h3 class="size3">Sliding Scales – how to live relatively - 2023</h3>
        <h4 class="size7 cite2">(available online)</h4>
        <%= link_to "Interested?", emailform_path, class:"mainbutton2 black-outline-button" %>

      </div>
    </div>
  </div>

  <div class="col-m container-fluid sizebooks">
    <p>‘We are experiencing,’ said Daniel Greenberg, the parliamentary commissioner for standards in public office, ‘a new low in the reputation of politics and politicians.’ The government that emerged after the Conservatives’ victory in 2019 quickly became mired in scandal. In 2022, its troubles became farcical. It achieved a record of incompetence and instability, with 3 prime ministers, 3 chancellors of the exchequer and 3 new cabinets within a few months.
Britain was not the only Western democracy to experience this ‘perma-crisis’, a new word that entered Collins Dictionary. In the US rioters stormed Capitol Hill. Britain suffered from a confrontational system whose two main parties were perpetually at odds, The media manipulation, abuse, and fake facts threatened the very survival of democratic government.
Sliding Scales disentangles the different narratives of democracy in Europe and the West, and the patriotic myths that provide each country with a sense of identity. Was any democracy ready to face the twin challenge of global warming and mass migration? Nonetheless…
The contrast between an autocracy and a democracy was demonstrated by the Russian invasion in 2022, which was met by the defiance and resistance of Ukrainians. In a democracy, authority is delegated upwards from the people, not downwards from a despot.
</p><p>Topics: How to live relatively:
    </p>
    <ol>
      <li>In a democracy</li>
      <li> In an open relationship</li>
      <li>While playing second fiddle</li>
      <li>While granting independence to colonies</li>
      <li>In a classless society</li>
      <li>As a selfish gene</li>
      <li>At the end of history</li>
      <li>In a changing climate</li>
      <li>As an algorithm</li>
      <li>In a holiday prison</li>
      <li>As a world leader</li>
      <li>On a sliding scale</li>
    </ol>
  </div>
</div>
