<div class="container mt-2">
  <h1>A GARDEN IN SIBERIA</h1>
  <p>Afanasi Koptelov, the novelist, lives with his brother, the hunter, in a wooden cottage in a
  small village some twenty miles from Novosibirsk in Siberia.</p>
  <p>met him in late November before the rigours of winter had set in, but it was cold
  enough, at minus twenty-five degrees, for Valery, our guide-interpreter from Gosteleradio, to
  quote Pushkin, ‘Sun and frost, a fine day!’.
  </p>
  <p>The garden could only be identified and admired through indentations in the snow, as
  with ancient burial mounds, although a few low apple trees defied the elements. There were
  home-grown apples at lunch, and sliced tomatoes, but shamefully I did not taste them, not
  realising how significant they were.
  </p>
  <p>I gorged myself on the little mcat-filled dumplings called pelmeni, for Afanasi
  explained how mail riders used to gallop from staging post to staging post with frozcn
  pelmeni in their pouches, which could be placed in boiling water to provide a good hot meal
  in ten minutes, Sibcrian fast food.
  </p>
  <p>Yes, of course, there was Siberian vodka too, and of course, we were expected to
  drain the little glasses in a single gulp, and then wait for a second or so, until the ethnic fluid
  hit the boots and bounced back again, melting the limbs from ankles upwards. And of course,
  this instant anti-freeze was accompanied by toasts to world peace and brotherhood and
  similar irreproachable sentiments, so that the visitor who did not down his vodka in one go
  would feel guilty and thus obliged to prove his manhood in another toast, until an
  unseasonable thäw set in, reducing us all to a kind of slush on the carpet.</p>
  <p>Afanasi, I'm sorry to say, drank Pepsi-Cola, under doctor's orders, for he is eighty-one
  years old, but his brother, who kills bears, made sure that we lacked nothing in the way of
  fellowship, liquid or otherwise.</p>
  <p>The cottage was low ceilinged, very warm, with hot-water pipes crossing the floor,
  and Afanasi's study was lined with books and stuffed in every cranny with mementoes,
  sometimes grand, like medals for literature, and sometimes intimate and personal. There were
  photos of his wife, who died last year, or of a box of apples, all tagged and labelled, which his
  son had photographed many years ago for display at school.
  </p>
  <p>Those apples were a bit of a nuisance at the beginning, for wc were supposed to be
  recording an interview for the BBC about Afanasi's latest work, Lenin in Siberia, but
  whencver I asked some sharply-honed question, such as ’What did Lenin think of Siberia†’,
  Afanasi would talk about apples, and I would glance indifferently at these withered
  specimens of Golden Obnoxious and say, ‘Very interesting, Mr. Koptelov, but what about
  your latest book?’ and he would reply, light glistening from his gold-capped teeth, 'I'm glad
  you find them interesting, for I have another photograph of apples over here’, and the lot
  would be translated by our patient Valery, before we began again; until struggling to find a
  middle way between politics, literature and horticulture.</p>
  <p>I asked Afanasi about his early book, The Garden, which I had not wanted to mention
  —but what thc hell? And then it transpired that what was tripping mc np were not applesper
  se, but symbolism, for when Afanasi was a young man, there were no apples in Siberia, apart
  from some sour hedgerow crabs—but through careful grafting (described in his book), thc
  crab stems were encouraged to nurture some more palatable specimens, until at last Siberia,
  with its three-months summer, could grow its own apples.
  </p>
  <p>Apples were only the beginning. Then came tomatoes, grown under glass, and various
  methods were devised for keeping plants with berries warm during winter, until that desolate
  tract of the Soviet Union, renowned for receiving those not welcome in Moscow, could be
  described as ‘a real garden!’</p>
  <p>All around Novosibirsk now there were small allotments, each with wooden huts
  where one could store tools and even sleep, where the Siberian factory workers could get
  away from it all and try their hands at growing fruits and vegetables.</p>
  <p>Who first noticed and extolled the untapped riches of Siberia—its minerals, its water
  and ice power, its mountains, lakes and valleys, its sturdy inhabitants and even its capacity to
  grow apples† Why, Lenin, who was also not blind to the strategic importance of Siberia, the
  land of the last retreat, of continental size and well-walled by mountain ranges, guarded by its
  harsh winters and self-sufficient.</p>
  <p>In Novosibirsk, there is the second largest opera house in the world, a monument to
  culture, with a row of marble statues encircling the auditorium, where there are balconies like
  jury boxes and enough seats in the stalls for your average praesidium. But the strangest fact
  about this odd building is that it was constructed between 1942 and 1945, by Stalin's decree,
  in the heart of the war, when most manpower and materials were being rushed to the front.</p>
  <p>The official explanation is that Stalin was confident that the war would be won and
  was already planning the future—but the unofficial one is that he was contemplating a retreat
  across the Urals to the fortress of Siberia, where his government could be safe, listen to
  speeches and watch opera.
  </p>
  <p>Apples were Afanasi's way of demonstrating Siberia's development— not as dramatic,
  perhaps, as the hydroelectric dam over the river Ob, not as death-defying as those human
  walruses who cut holes in the ice for their midwinter dips, not as sleek as University City
  with its exhibitions of' avant-garde Estonian art, but more homely and practical than those
  other achievements.</p>
  <p>They also taught me a little about Afanasi's tum of mind, useful when interviewing a
  writer whose language one does not understand. In manner, Afanasi Koptclov reminded mc
  of the late J. B. Priestley, slow-speaking, an odour of commonsense, down-to-earth anecdotes
  and a moralist. His books are enormously popular throughout the Soviet Union. They sell a
  million copies per title, in print runs of 100,000 which are insufficient to meet the demand.
  </p>
  <p>I asked for his address in Moscow and was told that 'Afanasi Koptelov, Siberia’ would
  probably find him. He is little known in the West for, as Valery acidly explained, he is not a
  dissident, quite the reverse. Nor is he merely a mouthpiece for the regime.</p>
  <p>Moralising is the curse of Russian literature, as it is of their drama. I have before me a
  collection of essays by a Lenin-prize winning journalist, about the Soviet Union. It is titled
  This Is My Native Land and it reads in English rather like those stories in Arthur Mee's
  Children's Encyclopaedia, full of strange facts and daring adventures, each usefully supplied
  with a moral.</p>
  <p>President Chernenko himself insisted in a recent statement, praised for its liberalising
  approach, that ‘the real extent of the influence that literature and art on the whole exert on the
  moulding of the ideological and moral frame of the people's mind is the most precise
  criterionof their success’.</p>
  <p>Afanasi's books, I suspect, mould the Russian minds with the best of them. He
  explained how, in Lenin In Siberia, he wanted to show the human side of Lenin. How? Warts
  and all? Not exactly. Afanasi cited what Lenin must have been thinking when he approached
  the BritishMuseum in London, where Marx sat and studied. His human Lenin muststill have
  been thinking of Marx, not of the leak in his shoes, the cold at the back of his throat, dinner
  or the girl at the next desk.</p>
  <p>Nonetheless, he is no party hack—or, rather, perhaps we in the West are too apt to see
  the presence of propaganda in works which would be seen by Russians in another light.
  Koptelov's appeal partly lies in his sense of Siberian history, his knowledge of folklore aid his
  tales about how men pit their ingenuities against the elements.
  </p>
  <p>His book The Great Trek tells of the tribal migrations over the continent, how to
  survive against wolves, bears and winter. His adventure stories carry credibility for, as a
  Siberian peasant, Koptelov knows the landscape and his subjects so well.</p>
  <p>But what might mislead Westerners, as it did me, is his sense of unforced optimism.
  The first impression which we receive of life in the Soviet Union is one of drabness,
  punctuated by instances of wild, pre-revolutionary colour. In Moscow, there are the
  ponderous slabs of grey architecture, the tower blocks and the Teutonic, parade-ground
  avenues, with monstrously ugly statues of Yuri Gagarin or the crescent-shaped flight of a
  metal space rocket, hard, vainglorious, inhuman.</p>
  <p>The Metro may be a wonder of urban transport, but, with the US problem neatly
  reversed, there is too much public affluence, too much private squalor. The range of food in
  the supermarkets is depressingly limited, and subject to sudden feasts, such as a pile of salt
  fish, and unexpected shortages.</p>
  <p>You don't see such curious Western luxuries as paper handkerchiefs or Tampax; and
  inMoscow, sitting in an Intourist hotel, surrounded by foreign currency shops, a Westerner
  feels isolated by privilege. There may be no unemployment in the Soviet Union, but wherever
  you go, you see people grappling with menial and often silly tasks which would be despised
  in Britain.
  </p>
  <p>I have the image of a middle-aged woman, round and fat, with layers of assorted
  clothes, chipping the ice from the steps of the Lenin Library, with a heavy pick, while the
  flakes of ice, thus detached, froze on the steps behind her before they had been cleared away.
  </p>
  <p>To talk of the economic achievements of the Soviet Union under those circumstances
  invites a rude response, and yet this is precisely what they do boast about.</p>
  <p>A ‘leading Soviet economist’ on the Voice of Moscow proclaimed that the gross
  national product of the Soviet Union had increased by 100% since 1917, not very impressive
  when you think about it, and that this had been achieved through the hard work of theSoviet
  People. He exhorted the Soviet people to work even harder so that the benefits could be even
  greater.</p>
  <p>The technological revolution which,so concerns us in the West affected his peroration
  very little; and I guess that he would have regarded the proposition as unsound and
  ideologically suspect that the Russians should work less hard but more intelligently,even at
  the expense of full employment.</p>
  <p>When Afanasi Koptelov talked about the improvements in the Siberian way of life,
  the economic growth and expansion, and illustrated his arguments with apples, the
  perspective changed. What seems ludicrous in Moscow is credible in his little village near
  Novosibirsk; and Moscow is, after all, situated in an untypical corner of the Soviet Union.
  When Westerners sneer at the inefficiencies o1 the system, and the Five Year Plans whose
  targets are publicly over-reached but do not seem to make any difference, they may be
  seriously deluding themselves—for there has been great change.</p>
  <p>The economy has improved, but it requires the perspective of Siberia, not Moscow, to
  appreciate this fact. And Koptelov with his knowledge as to what it was like in Siberia in the
  old days has chronicled their evolution.</p>
  <p>A significant part of that troubled history lies in the legacy of the Second World War,
  and here again I suspect that we misread the situation. In 1985, the Ministry of Culture has
  advised theatres throughout the Soviet Union that they should find some way to celebrate the
  end of the war; and my initial reaction on hearing this vital news was to think,‘Well, what on
  earth have they been doing in 1984?’—for plays, films and books distantly or directly
  connected with the Second World War are everywhere, in Moscow, as in Siberia.</p>
  <p>Leonid Reshetnikov, a former colonel in the Red Army who writes poetry and lives in
  Siberia, indignantly resented the suggestion (from a Dutch journalist) that the Soviet Union is
  obsessed with the subject, arguing that the younger generation must know about the desperate
  anguish which Russia suffered.
  </p>
  <p>‘Well,’ replied the journalist, ‘we all know that you lost more than twenty million
  lives. But we in lesser ways also suffered and we have made an effort to put the past behind
  us. You do the opposite. You want to remember the war.’</p>
  <p>The Western suspicion is that war memories are encouraged to reinforce the idea that
  there is a continual military threat from the West, that the Soviet Union must continually arm
  itself to prevent another (and even more cataclysmic) war from happening and that the
  endless footage of Moscow under bombardment is being recycled for Cold War purposes.</p>
  <p>I saw a new fiIm in Siberia which illustrates this point. It was regarded as ‘liberal’ in
  that it dealt with a love affair between a Russian soldier and a girl from a Nazi family who
  meet again later in peace. An illiberal film would never have conceded that a Russian soldier
  could have had such a relationship. Many details in the film revealed an inner message.
  Post-war West German life was not only unbearably garish, with stripjoints ripping off the
  unwary East German customer, but also violent.</p>
  <p>The eyes of a West German at a fairground shooting gallery turned sinister and silver
  as he fingered the trigger of a gun. The shots of the Second World Was were intermingled
  with mushroom clouds. The whole emphasis was that the West Germans have not changed
  and that the West itself is dangerously trigger-happy. Reagan and Thatcher are monsters.
  </p>
  <p>War movies and plays are as popular in the Soviet Union as they once were in the
  West, and they usually point to the moral that the West is still to be feared. In Siberia as in
  Moscow, there is the unquestioning assumption that the West intends to invade Russia with
  only the might of the Soviet army to hold them back.</p>
  <p>It is depressing to feel how far the frost has penetrated the soil, to what cultural
  depths, East and West, the Cold War has managed to sink. It is hard to believe in Russia that
  the NATO forces are not poised for an immediate assault. It is equally hard in the West not to
  view Russia as a colonising power.</p>
  <p>And the cold is thawing, very little, drip by drip. The war, for example, is not instantly
  described as the Heroic Struggle of the Soviet people against the Forces of Fascism and
  International Capitalism. Leonid Reshetnikov no longer wants to write Kiplingesque lyrics
  about the heroic soldier, but about the horrors and destruction of war.
  </p>
  <p>Jingoism is becoming old- fashioned. Another Siberian writer, Rasputin, who lives by
  Lake Baikal writes stories about the sad ironies of war, one of which is currently being
  performed as an opera in Moscow. It concerns a Russian soldier who left his post, not to
  desert but simply to see his wife and children again. He intended to return to his duties but
  while he was away, peace was declared. His tragedy was that nobody will believe that he did
  not intend to desert, for he lost his opportunity to prove himself in battle.</p>
  <p>Under the disguise of war stories, there are new pleas for tolerance and understanding,
  which mitigate the cold war tone. There is more warmth in the soil than we can imagine..
  </p>
  <p>This was what Afanasi Koptelov meant when he proudly showed us his apples and
  tomatoes as an allegory of survival. There is a little heat somewhere beneath the snow and
  even sour crabs can yield sweet fruit. Such a simple Arthur Mee-like moral may not cut much
  ice with Reagan or Gromyko, but the climate did seem to become milder while we travelled
  the long way back to Moscow.</p>
  <p>1984</p>
</div>
