<div class="deeporangebackground">
  <div class="pt-4 pb-4">
    <div class="card containerCustom">
      <div class="mauibackground">
        <p class="topcornergrey">Unavailable for purchase</p>
      </div>
      <div class="container">
        <h1 class="pt-3"><strong>Maui</strong></h1>
        <h4>libretto for the opera by Barry Anderson, 1958</h4>

        <p>Maui was an opera, composed in the late 1950s by the New Zealand composer, Barry Anderson, with a libretto by John Elsom. It was devised on a grand scale with a large orchestra and chorus. The subject was the legendary demi-god of the Maoris, Maui-tikitiki-a-Taranga, the fifth son of the goddess Taranga, who went fishing and dragged the island of Hawaii from the depths of the ocean. The opera tells of his heroic adventures, which began ‘with the creation of the world and worked up to a climax.’
          Anderson was a pioneer of electro-acoustic music and founded the West Square Electronic Workshop in the 1960s. He collaborated with Harrison Birtwhistle and provided the electronic music sections of Birtwhistle’s opera, The Mask of Orpheus (1985), which was premiered to great acclaim at IRCAM in Paris in 1987.
          Maui was written in a more conventional musical style, influenced by the Austrian composers, Alban Berg, and Arnold Schoenberg. Anderson died in 1987, at the early age of 52, but John Elsom remembers the weeks when they worked together with much affection and pleasure.

        </p>
      </div>
    </div>
  </div>
</div>
