<h1>The Listener</h1>
<p>Following the publication of his first book, Theatre Outside London, John became a regular contributor and presenter for BBC arts programmes, including Kaleidoscope, Critics’ Forum, and Theatre Call. He was the theatre critic for the BBC’s weekly magazine, The Listener, and wrote more than 700 reviews over a ten-year span, many available through JustAsk.
This was a key period in post-war British theatrical history. The new National Theatre was launched. Peter Hall replaced Laurence Olivier as the NT’s Director. The reps and fringe groups thrived. Among the new playwrights who emerged, were Pinter, Mercer, Ayckbourn, Frayn, Schaffer, and Bond. British musicals (Evita, Cats, Phantom) sometimes transferred from the West End to Broadway, a notable change of direction. The stage casts included great names from the past (Noël Coward, Richardson, and Gielgud), as well as a new generation of stars (Dench, Mirren, McKellen and Finney).
John’s reviews provide a unique record of the memorable first nights, the controversies, the role of the Arts Council, and the growing rivalry between live performance, TV, and the record industries.
</p>

 <%= image_tag("CR_1.jpg") %>
