
<div class="contactformbackground">
  <h1 class="text-center textwhite">Contact me</h1>

  <div class="container pt-3" >
    <article class="card-body mx-auto" style="max-width: 600px;">
      <form class="card">
        <div class="form-row m-3">
          <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
          </div>
          <div class="form-group">
          <label for="inputAddress">Email</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Email">
        </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Postcode </label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">What would you like to read?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Send</button>
      </form>
    </article>
  </div>
</div>
