<div class="deepskyblue", style="height: 100%;">
  <div class="pt-4 pb-4">
    <div class="card containerCustom">
      <div class="themanofthefutureisdeadbackground" aria-label="The Man of the Future is Dead Cover">

      </div>
      <div class="container-fluid">
        <h1 class="pt-3 size7"><strong>The Man of the Future is Dead</strong></h1>

        <h2 class="size5">Edinburgh Fringe Festival – 2006 – Bulandra Theatre, Bucharest, 2007</h2>

        <cite class="sizeplays">French translation by Nicole Boireau</cite> <br/>
        <cite class="sizeplays">Russian translation by Sergei Volynets</cite> <br/>



        <p class="sizebooks">A sequel to Ibsen’s Hedda Gabler. George Tesman, a worthy academic, struggles to complete Lȍvborg’s History of the Future, against the advice of his conservative friend, Dr. Brach. The local left-wing newspaper editor, Hovstad, demands that ‘truth be known’ about Lȍvborg’s revolutionary opinions and accuses the Establishment of murdering him. Tesman is frightened by Lȍvborg’s visionary future, and daunted by the risks he might be taking; but he is inspired by Lȍvborg’s mistress, Mrs. Elvsted, a Shavian New Woman. In the working-class suburbs, there are riots and demonstrations, and a local grocer’s shop is ransacked. The 20th Century begins.</p>
        <p class="sizebooks">Author’s Note: At the turn of the 20th century, ‘the age of the Common Man’, there were many writers who predicted the world-to-come of science and revolutionary change. They included H.G. Wells, Jules Verne, and the followers of Marx and Engels. I researched what might have been Lȍvborg’s vision of the future in Oslo, with the support of the Norwegian Ministry of Culture, from many articles had been re-printed and translated from French, German and Russian magazines. Across Europe, there was a culture of Modernism, which made similar predictions, including Contemporary Review in Britain, a monthly magazine for which I regularly wrote.</p>
        <p class="sizebooks">My play was about a civilization that failed to live up to its original dreams. It was written to stand on its own as a full-length play. For the Edinburgh fringe festival, and for the Bulandra Theatre in Bucharest, I shortened my text and adapted Hedda Gabler so that they could play together in a double bill.</p>
        <p class="sizebooks">‘…intelligent and engaging theatre…’ – Marc Brown – Daily Telegraph – Aug 11, 2006</p>
        <p class="sizebooks">‘…a play with as many facets as a diamond’ – Ivana Vlad – Realitatea Romaneasca – May 20, 2007 (→further press) (→Journalism)</p>
        <%= link_to "Interested?", emailform_path, class:"mainbutton2 black-outline-button" %>


      </div>
    </div>

  </div>
</div>
