<div class="deepskyblue">
  <div class="card container">
    <%= image_tag("ukraine_wong-2.jpg", class: "card-img-top") %>
    <div class="container">
      <h1 class="pt-3 pd-3"><strong>The Man of the Future is Dead</strong></h1>

      <h2>Edinburgh Fringe Festival – 2006 – Bulandra Theatre, Bucharest, 2007</h2>



      <p>A sequel to Ibsen’s Hedda Gabler. The brilliant writer, Eilert Lȍvborg, has shot himself in a brothel. The stylish socialite, Hedda Gabler, a former girlfriend, has burnt the manuscript of his revolutionary work, The History of the Future, in the family stove, before committing suicide herself. George Tesman, Hedda’s husband and a second-rate academic, feels morally obliged to re-write Lȍvborg’s futuristic masterpiece from his fragmentary notes.
      The Man of the Future is Dead concerns Tesman’s heroic struggle to complete Lȍvborg’s work, against the advice of his conservative friend, Dr. Brach. The left-wing agitator and newspaper editor, Hovstad, demands that ‘truth be known’ about Lȍvborg’s revolutionary opinions; but Tesman is more inspired by Lȍvborg’s mistress, Mrs. Elvsted, a New Woman, whose vision of the brave new world excites and terrifies him. In the suburbs, a socialist revolution begins.
      Author’s Note: At the turn of the 20th century, ‘the age of the Common Man’, there were many writers who (like Lȍvborg) predicted the world to come of science and revolutionary change. They included H.G. Wells, Jules Verne, and the followers of Marx and Engels. After a hundred years, we know how many of their predictions came true, how many were disastrous, and how many might have been useful if they had been followed by more intelligent people.
      I researched what might have been Lȍvborg’s vision of the future in Oslo, with the support of the Norwegian tourist board and Ministry of Culture; and discovered that many articles had been re-printed and translated from French, German and Russian magazines. Across Europe, there was a culture of Modernism, which made similar predictions, including Contemporary Review in Britain, a monthly magazine for which I regularly wrote.
      My play was about a European civilization that failed to live up to its original dreams. It was written to stand on its own as a full-length play. For the Edinburgh fringe festival, and for the Bulandra Theatre in Bucharest, I shortened my text and adapted Hedda Gabler so that they could both play together in a double bill.
      ‘…intelligent and engaging theatre…’ – Marc Brown – Daily Telegraph – Aug 11, 2006
      ‘…a play with as many facets as a diamond’ – Ivana Vlad – Realitatea Romaneasca – May 20, 2007 (→further press) (→Journalism)
      </p>
    </div>
  </div>

</div>
