<div class="pt-4 pb-4 lightgreybackground">
  <div class="card containerCustom">
    <div class="malonediesbackground">

      </div>
    <div class="container-fluid">
      <h1 class="pt-3 size7"><strong>Malone Dies</strong></h1>
      <h4 class="size5">Edinburgh International Festival (and on tour) – 1984</h4>



      <p class="sizebooks">Adapted from Samuel Beckett’s novel, Malone Dies, for the actor and comedian, Max Wall.</p>
      <p class="sizebooks">Author’s note: In the early 1980s, Max Wall returned to the London stage in a one-man show. His come-back season was the talk of the town, and the artist Maggie Hambling painted a series of portraits which hung in the National Portrait Gallery. I interviewed Max for LBC and suggested that he should act in Beckett’s plays, sending him a copy of Krapp’s Last Tape, which he performed with great success at Greenwich Theatre. </p>
      <p class="sizebooks">With Beckett’s permission, I edited parts of Malone Dies for Max’s solo reading at the National Portrait Gallery, which went so well that he was invited to perform at the Edinburgh Festival. I adapted the book, ruthlessly slashing the text to keep the performances within a limit of two hours but to retain the structure of the story.</p>
      <p class="sizebooks">‘The supreme achievement of the Festival’s Beckett Season’. The Scotsman, Aug 1984 (→further press). → Journalism (theatre reviews).</p>
    </div>
  </div>
</div>
