<h1>Cold War Theatre</h1>

<h3>Routledge (1992) – re-issued (2015)</h3>

<%= image_tag("cold_war_theatre.jpg", class: "img_size_m") %>

<p>In 1985, John Elsom was elected as world president of the International Association of Theatre Critics, a UNESCO NGO for those who write about the theatre, including press critics, theatre scholars, and literary managers. The Cold War that had dominated world politics for thirty years was starting to thaw. It was a mission of the IATC to improve the friendly links between East and West, and to raise the level of mutual understanding.
Cold War Theatre described leading theatrical movements from both sides of the Iron Curtain and considered how politics influenced the stage performances - and sometimes vice versa. Shakespeare’s plays were staged in Soviet Siberia, as well as in Stratford upon Avon.
Topics: The Conscience of a Diplomat; The Trial of Arthur Miller; Binky Beaumont’s West End; At the Back of the Mind; Olivier Passes the Baton; The Heat in Brecht’s Coolness; the Velvet Prison; the Age of Aquarius; the Unravelling.
‘Exciting and illuminating reading, striking at the very core of the existence of culture and the theatre in the 20th century’ – Jana Smatlakova – Kultimy Zivot (1993) (→further press)
→Is Shakespeare Still Our Contemporary? The End of the Absurd? Journalism.
</p>
