<div class="skyblue">
  <div class="pt-4 pb-4">
    <div class="card containerCustom">
      <%= image_tag("worldwithin.jpg", class: "card-img-top") %>
      <div class="container">
        <h1 class="pt-3"><strong>World Within</strong></h1>
        <h2>Unteatru, Bucharest - 2011</h2>



        <p>Adapted by Catinca Draganescu and Valentina Zaharia, and translated into Romanian, from two short stories by John Elsom.</p>

        <p>Programme note - Unteatru: “A woman lies paralyzed within her body. She can only blink, once for ‘yes’, twice for ‘no’. But her mind takes her on a journey across vast distances, back to her childhood, forward to the gates of death, and downwards to the recesses of her heart.” It was live streamed by the theatre’s management as “the MOST relevant play of our times.”</p>

        <p>Author’s note: World Within was adapted by the writer/director, Catinca Draganescu, for the actress, Valentina Zaharia, whose solo performance occupies a treasured place in my mind. It ran in repertoire, playing in both English and Romanian.</p>

        <p>‘…very powerful, very moving, with a beginning that frightens and an unexpected ending that haunts…’ Andrei Craciun – Metropolis Journal</p>

        <p>‘A must-see show that disturbs, troubles and yet amuses you…’ Ion Andrei Pulcan, My Stage
  (→further press)
        </p>

        <p>→World Without Worship</p>
      </div>
    </div>
  </div>
</div>
