<div class="container mt-2">
  <h1>HOW TO CONTROL THE COLLAPSE - Yugoslavia before the death of Tito</h1>
  <p>Wherever you went, you heard a different language.</p>
  <p>At a reception where the advertised cocktails were all the local plum brandies, sweet
  but explosive, I learnt how to say 'Good Morning' in Chinese. A director from Peking
  coached me, Shu Qiang, through a relay of interpreters, all nodding, bowing and smiling,
  until I had got the pronunciation right—or almost right, for I could never say it at breakfast
  without sending the entire Chinese delegation, four of them, into fits of imitation and, worse,
  retaliation, for their `Gud Mor Ning' changed a wholesome English phrase into a sinister
  oriental one.</p>
  <p>The Chinese interpreter had learnt Serbo-Croat in Peking. He spoke it with such
  fluency that our Yugoslav hosts could scarcely believe that he had never left China in his life
  before; and were amazed and flattered that he should have chosen their language to learn,
  rather than French or English, of which he understood not a word. His proficiency was a
  smaller symbol—as the symposium in Novi Sad on The Modern Actor was a larger one—of
  the role which Yugoslavia has come to play in world affairs, a link between East and West,
  East and East (for there was also a one-woman Russian delegation), a Third World outpost in
  old Europe; but, strictly speaking, it did not guarantee that he would be able to follow all the
  proceedings or the plays in the accompanying Sterijino Pozorje festival, for in this region,
  Slavonia, there are five official languages, of which Serbo-Croat is only one, Or two.</p>
  <p>We saw plays in Hungarian and Slovenian; and at one of the daily televised
  discussions about the premieres the night before, where actors met critics in a coil of cables
  and a sweat of lights, someone got up and spoke in Ruthenian, an obscure language indeed.
  The nearest equivalent to a lingua franca was French, which, with Serbo-Croat and English,
  was one of three official languages at the Symposium, held very formally in the regional
  parliament building.
  </p>
  <p>Most Yugoslays understood and spoke German all too well, but they were reluctant to
  acknowledge that they did, for it brought back bad memories. Novi Sad is in the north-east of
  Yugoslavia, about 40 miles from Bel-grade, on the Danube and surrounded by those flat,
  fertile plains which stretch all the way north, past Budapest—the Hungarian plains, the
  ancient granary of Europe.
  </p>
  <p>At different times, Slavonia could have claimed to be an outpost of several
  empires—Ottoman, Austro-Hungarian and Russian—for unlike those inaccessible mountain
  regions of Bosnia, Montenegro and Macedonia to the south and west, by the Adriatic, where
  towns and villages have trumpeted their independence since the start of history, Slavonia has
  few natural or artificial barriers against invasion: Novi Sad, however, possesses one of them.
  </p>
  <p>We were staying in it, a castle turned into a hotel, on a sharp butt of a hill, overlooking
  a strategic curve in the Danube. It was built mainly against the Turks. At first sight, it looked
  more like a country house than a castle, with no turrets or slits, and only a few preserved
  anti-tank guns from the Second World War to remind you of its recent past. But underneath
  the hotel, in the hill itself, were tunnels and armouries, trenches and machine gun hollows,
  trained towards the vulnerable river, which, in springtime, when the waters rushed down from
  the distant hills, could float warships from south or north.
  </p>
  <p>These battlements were now covered in soft grass, perfect for privacy and lovers. The
  hotel rooms had lost their severity, carved wood and chandeliers softening the bullet-proof
  stone; while deep in the bomb-proof cellars was the most international symbol of all, a place
  where languages did not matter for they could scarcely be heard, a swinging disco.
  </p>
  <p>Novi Sad bas turned cosmopolitanism into a cottage industry. The interpreters came
  from local colleges, young, attractive and living at home, where their parents could keep an
  eye on them. This most provincial of provincial towns, for it has never had the opportunity to
  be anything else, is naturally polyglot; and. as an easy extension of its own linguistic diversity. it becomes every two years a theatrical united nations, with delegates coming from all
  over the world, from Iraq and Zaire, from Japan, Senegal. Mexico, Morocco, Cyprus. botb
  Germanies, from countries where there is really no theatre at all and others where there is too
  much. a small library of academics. a thesaurus of writers, a conflict of critics and an option
  of producers.</p>
  <p>At this symposium, since nobody knew exactly what a modem actor was or how he
  differed from an ancient Thespian, we talked egotistically about ourselves, which was quite
  engrossing enough. The dramatist Sterianus whom the festival commemorates is forgotten
  everywhere in Europe but here.
  </p>
  <p>Novi Sad has no particular advantages for the role which it has set itself, apart from
  languages. willingness and hospitality. Its national theatre—and many Yugoslav towns have
  national theatres, because so many nations comprise Yugoslavia—is in that familiar state of
  semi-completion, holes for stages, boards for lighting grids. that ours in London suffered for
  years. The other theatres are no more than adapted halls; and one director, desperate at the
  thought of staging Chekhov’s Three Sisters in a long, skinny auditorium with a proscenium
  arch stage, turned the place inside out, sitting the audience on the stage and covering the rows
  of seats with parachute silk and bullrushes to look like a lake.
  </p>
  <p>The actors bounced on the forestage on foam-rubber mattresses. It was, under the
  circumstances, very Peter Stein; but what alarmed some foreign visitors was the lack of fire
  regulations. The fire exits were at the other end of the theatre; and in between, actors were
  carrying lit candles among flammable rushes. One slip. or a private grievance, could have set
  the rushes alight and burnt up a substantial part of the International Association of
  TheatreCritics.</p>
  <p>Because the languages were hard to follow, despite synopses and interpreters, we
  became very aware of such matters as fire regulations and the low technical standards of the
  Yugoslav productions. The rights shed unwanted shadows, sometimes across the faces of the
  actors; the stage-hands were a little obvious and there were many similar snags.
  </p>
  <p>There was a religious allegory for Easter Sunday, The Legend, in which Christ
  debated with his sceptical self. The set consisted of white, filmy sheets, combing to an
  elegant fold of white curtains backstage; but at the side of the focal point, in full view, was a
  large pulley which nobody had managed to hide. Lazarus had to be resurrected twice; and his
  first elevation went smoothly enough. Salvo Avdic as Lazarus, with a white face and
  drooping anarchist's moustache, rose through the floor, amid mists, on a stage lift, On the
  second occasion, however, the lift stuck and the smoke gun failed to light. Avdic had to
  clamber out of the hole and sit on the side. striking matches to light the gun. It is bad enough,
  as any politician knows, to be resurrected twice without having to provide your own smoke.</p>
  <p>This roughness had a moral, which is why I mention it, for Yugoslav theatres are very
  democratic places. It can be confusing if too many people have to be consulted before
  something gets done. When the whole company was united behind a group e8ort, as in two
  admirable student productions or in the powerful Liberation of Skopjie where we were jostled
  around the concrete shell of the national theatre to the sound of gunfire, the results were
  impressive; but if there's a hint of hesitancy. the uncertainty can spread ie all directions, into
  an endless discussion of ends and means, with nobody wanting to take responsibility, or
  everybody doing so, which amounts to the same problem.</p>
  <p>The uneven results on the stages illustrate what Komunist, the Belgrade paper, once
  described as ‘the most wonderful ideological conspiracy in the world’, the Yugoslav
  experiment in workers’ self-management.This system has been well described in Dusky
  Doder's The Yugoslav (Allen and Unwin), good grass-roots journalism. strong in detail but a
  littl weak in theory, from an American foreign correspondent born in Yugoslavia.</p>
  <p>What struck me about these theatrical examples o1 self-management was not that they
  didn't work well, but that they worked at all. and under conditions which, in Britain, would
  have brought NATTKE (the National Association of Theatrical, Television and Kine
  Employees) out on strike and drawn Equity into a lather of full-page ads in The Stage.</p>
  <p>Self-management. and indeed the unique Yugoslavia pattern of democracy. was one of
  several tantalising paradoxes which drew me to Novi Sad in the first place, along with other
  delegates whose curiosity overcame their apprehensions of a symposium in Serbo-Croat.
  </p>
  <p>These paradoxes need to be savoured separately: collectively, they aretoo
  overwhelming, like the miracle which wantonly upsets the laws of nature. The first is of a
  non-aligned communist country, whose head of state provides the closest parallel, outside
  Monaco, to an absolute monarch, Josip Broz Tito.</p>
  <p>Tito's personal triumph, apart from non-alignment, has been to maintain and
  strengthen the national coherence of a country which once gave Balkanisation its bad name.
  By all logic. Tito's country should have torn itself apart years ago with tribal rivalries. There
  are six more-or-less self-governing republics in Yugoslavia, each with its dominant race but
  with large ethnic minorities.</p>
  <p>In 1971, Croatian nationalists were demanding a seat in the United Nations for
  themselves; and there are other groups, such as the Albanians, who look across
  none-too-friendly borders for their national leaders. Even if we temporarily forget racial
  differences - hard enough in a place where the signs are in five languages and even the plum
  brandies are patriotic—there are other forces, economic among them, conspiring against
  stability: the perpetual tug-of-war between consumerism and egalitarianism, West and East,
  the drain of emigrant workers (20% of the labour force) to affluent countries and the stresses
  of modernisation in a land regarded not so long ago as the most backward in Europe.
  </p>
  <p>Doder mentions some of the statistics: they are astonishing. The illiteracy rate has
  been cut within a generation from 50% to 15% of the population. In 1938, there were only
  100 miles of paved roads: no there are 30,000 miles. In 1945, there were 3 universities, now
  158. The life expectancy has increased from 46 years (in 1938) to 68. And so on, down a long
  list of indices of advancement.</p>
  <p>However sceptical we may feel about Tito's methods of government (and about
  statistics), it is quite safe to assert that thèse claims must be, to a large degree, true, because
  otherwise they would be too easy to contradict, even by a casual visitor to Novi Sad. And if
  true. they must have been achieved through a reasonably purposeful and united country, for
  nothing stops advancement in its tracks more sharply than distrust.</p>
  <p>If national unity were not sufficiently improbable under the circumstances, it was
  capped by this display of power devolution. ‘Yugoslavia’, a young industrialist told me.
  during a lull at the disco, ‘is the most democratic country in Europe’. He paused, and added:
  ‘In the world’. Well, it was noisy in that swinging cellar. and there may have been wry
  undertones which I missed, and œrtainly Yugoslavs sometimes talk about the world as if it
  were the only place which really matters; but my impression was that he meant exactly what
  he said.</p>
  <p>Doder put it differently: he likened the Yugoslav central government to a kindly
  schoolmaster who nevertheless carries a big stick, which he uses on rare occasions.
  </p>
  <p>They could both be right: much depends upon how the 1974 Constitution works in
  practice and it may still be too soon to decide how it will survive under real pressure. The
  constitution left the federal government with few direct powers — foreign affairs, the army
  and internal security among them.</p>
  <p>The other powers were delegated, first, to the republican parliaments, and second to
  the local assemblies. The local assembly is, in theory, the basic unit of government. lt consists
  of representatives from three groups — local industry, the unions and the communities. The
  assembly elects delegates to the republican parliament, to reflect the composition of the three
  groups: while the federal government is evenly balanced between the republican delegates
  and those from the central authority headed by Tito.</p>
  <p>The individual worker who elects someone to represent him at the local assembly, is
  at the same time determining the composition of the republican and the federal parliaments.
  The theory of workers’ self-management, which predates the constitution, devolves power
  still further. to the factory floor; while the local communities, in theory, represent many
  smaller associations.</p>
  <p>Ivo Bresan, the Yugoslav dramatist whose comedies, though written from a Marxist
  standpoint, satirise the confusions and hypocrisies of socialism in practice, has written a
  comedy, The President is Dead, which premiered this summer at Split.</p>
  <p>The director, Marin Caric. described it to me. It was about a housing association
  whose tenants had to elect a chairperson to represent them. Nobody wanted the job, apart
  from an old, isolated man, who had nothing else to do. He is elected, for want of anyone else;
  but. given the power, he proves to be an interfering old busybody, measuring up people's
  rooms to prove that they are all exactly equal. And they are not. The tenants, maddened by
  the meddling. resort to the ultimate political weapon—assassination: with tire least willing
  and competent member democratically chosen to carry it out,</p>
  <p>And so, according to Bresan, local democracy has its sinister, as well as its confusing,
  side. For the foreign visitors to the Novi Sad festival, these nuances were lost in a wash of
  general impressions. Here we were, sitting down together, Arab with Jew, Russian with
  Chinese, in a silly season of non-alignment enjoying the sun and food of a quiet provincial
  town in nowhere, whose very composition of tribes and languages reproached the rest of the
  world for quarrelling unnecessarily.
  </p>
  <p>Some of us came from countries with acute secessionist problems. The Basques were
  worrying. the Walloons were troublesome, the Ukrainians impossible; while several kept
  asking me about what was going to happen in Northern Ireland, not to mention Scotland after
  the failure of the devolution campaign. The Canadian delegate dreaded the forthcoming
  general election, which could so easily lead, he said, to the Balkanisation of Canada.</p>
  <p>He blamed the unfair voting system, not proportional representation but
  first-past-the-post, as in Britain.</p>
  <p>Are there any mysterious political formulas by which Yugoslavia has managed to
  combat those secessionist threats which dog peaceful and affluent Canada still?</p>
  <p>In one sense, Tito's recent approach has been against a certain orthodoxy in Britain
  and Cânada. In Britain, many assume that the answer to the threat of secession must be the
  strengthening of the central government. That sounds logical. In Yugoslavia, however, the
  response to these challenges has been wholesale devolution, strengthening the very powers
  which could cause a collapse — encouraging Serbs to be more Serbian, Croats more
  Croatian. The warlike qualities of the Macedonians and Bosnians were praised, and rival
  churches were allowed to pursue their independence.</p>
  <p>My main impression from a short and selective visit was that the real strength of the
  Yugoslav federation came from recent folk-memories, which have been so vivid and
  traumatic that they have wiped out older ones. Nobody wanted to return to a situation where
  one race could be played off against another; nobody looked for a return to that internal
  weakness which left Yugoslavia as a small card in a poker game between major powers;
  nobody forgot the German invasion or the blood-curdling threats from Stalin.</p>
  <p>If Canada breaks up, it may be partly because it lacks external threats. Yugoslavia
  survives because of them. But Yugoslavia has been lucky in that its national independence
  has been personified by one extraordinary man. that lively octogenarian, President Tito. You
  cannot escape from the Tito legend in Yugoslavia: his face is even upon theatre programmes.
  Everybody tells stories about him—his ruthlessness, his tolerance, his love of good living, his
  one-upmanship, his sense of priorities, his subtlety, his forthrightness, the bears he shoots, his
  style.</p>
  <p>Hagiography aside, Tito's political astuteness in internal Yugoslav affairs has been
  shown, to my mind, in the way in which he has manipulated the two most fundamental laws
  of government.</p>
  <p>Since these laws are entirely of my own formulation, I had better explain them. The
  first is that governments always seek those powers which they deem necessary to their
  survival as governments. The second is that the acquisition of these powers becomes, after a
  time, self-defeating. The country becomes a vast bureaucracy or military camp. The simplest
  procedure loses itself in a mass of complications, until the government collapses through the
  weight of its own over-centralised authority.</p>
  <p>Neurotic governments snatch power wherever they can, greedily hang on to it, thus
  ensuring their ultimate collapse. Sensible governments play the power game with more
  finesse, calculating at the very moment when they are demonstrating their authority through
  repression and censorship. how to give it away again. without causing too much fuss.</p>
  <p>The art of government is shown not so much by what it does in the swell of its office,
  but by how it anticipates and controls its collapse. Unlike almost any other autocrat you can
  name, Tito has learnt how to divert the forces ranging up against him into a kind of
  democracy. He controlled the collapse; and that, in time, may prove to be the most valuable
  lesson imparted by his strange federation to the bewildered, onlooking world.
  </p>
  <p>July, 1979</p>
</div>
