<div class="plantingtreeimg">
  <div class="cardsdis container-fluid">
  <div class="img-container">
    <%= image_tag("historyofnat.jpg", class: "wid50 me-5") %>
  </div>
    <div class ="text-container">
      <h3 class="size3">The History of the National Theatre </h1>
      <h4 class="size7">John Elsom & Nicholas Tomalin</h4>
      <h5 class="size7 cite2">Jonathan Cape (1978)</h5>
      <%= link_to "Interested?", contactform_path, class:"mainbutton2 black-outline-button" %>

    </div>
  </div>


  <div class="col-m container-fluid sizebooks pt-3">

    <p>The crowning achievement of the post-war theatre revival was the opening of the new National Theatre in 1976 on the South Bank of the Thames, after 150 years of lobbying and fund-raising. The NT company was founded in 1963, under the leadership of Laurence Olivier, and occupied a temporary home in the Old Vic, while its new theatre was being built.
    The NT paid a triumphant visit to Moscow in 1964, a gesture of good will that helped to calm the fears left by the Cuban Missile crisis. It demonstrated the value of ‘soft diplomacy’ at a time when the UK was seeking to join the European Union.
    The new building was designed by the Modernist architect, Denys Lasdun, with wood-patterned concrete slabs, likened by one London councillor to a war-time bunker. It was estimated to cost £3 million, although, due to inflation, this figure rose to £15 million by the time that it was ready to open, five years after it was scheduled to do so.
    These delays added to other mishaps. The rising costs placed an added burden on the ACGB. Regional reps complained that their grants were cut to fund the new NT, while former directors in the NT’s inner circle resigned at the policies from the new company director, Peter Hall.
    The NT was expected to represent the best of British theatre, ‘a centre of excellence’. By trying to reflect all shades of opinion, it failed to satisfy those who were most ambitious for its success.
    Nicholas Tomalin was commissioned to write The History of the National Theatre; but he was killed in 1973 on the Golan Heights during the Yom Kippur war. John Elsom incorporated his notes into his account of the NT’s long and often controversial history.
    Topics: The Prophets; the Pioneers; the Money-Raisers; the Utopians; the road to Chichester; the First ‘First Night’; the Best of Everything; A Monument to our Time; Four Green Bottles; Long Day’s Journey; the Malcontents; Moving In; the Challenge of the National.</p><p>
    ‘The account is doggedly fair, and steers its way tactfully and very knowledgeably through committees, reports and statistics, as well as personal friendships and rows… an important and comprehensive study…’ Jeremy Treglown, New Statesman, 1978 (→further press and letters)
      →Cold War Theatre, Journalism, Change and Choice,
    </p>
  </div>
</div>
