<html>
  <body>
    <div class="container mt-2">
      <h1>CHANGING FRAMES</h1>
      <p>‘THESE may be a little unnerving at first,’ said the optician, as he handed me my new pair of
      long-distance spectacles. They were. What had previously been a flat floor now had a sharp
      downhill slope, while the door, off-centre from the direct line of vision, bent inwards
      alarmingly. They'll have to fix that door, I thought.</p>

      <p>The cars in the street outside, however, loomed with unnatural clarity. I could see the set lines
      to a young driver's jaw as he fretted in the traffic, while his companion rummaged through
      her handbag. Beyond the first two rows of nearly stationary vehicles, there were cars
      whizzing past in the opposite direction, deadly as bullets; while on the other side of the road,
      too close, too close, a mother wheeled a pram with one hand while clutching a toddler with
      the other. There was a greengrocers’ shop with two pensioners counting the cost of potatoes. I
      could see the spots on the spuds
      </p>

      <p>‘You'll soon get used to them,’ said the optician, as he demonstrated the little elastic clip to
      the arms of the spectacles, which kept them on in high winds. ‘For sportsmen,’ he explained,
      ‘No trouble when yachting.’</p>
      <p>‘But do I want to get used to them/’ I thought. A world where the floor is fiat, the door
      rectangular and you can't see the bullets for the blur outside, seems a much safer place; and it
      was only the cost of the frames and the lenses, and the memory of the awful headaches to
      which my old glasses may have contributed, which prevented me from handing the
      spectaclesback to him with a polite excuse, such as ‘Sorry, no, excellent lenses, superb elastic
      clip, how do they think of these things? but, sorry, no. The old world was quite difficult
      enough to handle. I don't want to know about the other side of the road.’
      </p>
      <p>There was also the matter of my mirror image. Having a kind of nondescript face, I have
      come to rely on my spectacles to add distinction to what would otherwise be a smudged list
      of features, a nose that doesnot know where to stop, a mouth too slack and a complexion of
      granulated plastic. There is a mole to one side of my nose which I once thought of cultivating
      into a beauty spot, until it grew enormous and hairy and kept getting sliced by the razor; but,
      with that exception, there is nothing which, in the words of the eighteenth century landscape
      gardener, ‘lends enchantment to the view’.
      </p>
      <p>Nothing, that is, except my spectacles. My old horn rimmed frames had the merit of covering
      quite a lot of my face with academic distinction. My new ones, on the other hand, have
      square metal frames, with a worry bar spanning the bridge, with thinner arms at the end of
      which, as the optician explained, lies this curious elastic extension for high winds. They are
      Thatcherite glasses, for junior executives who jog and abseil in between clinching
      forward-looking deals in Yemen.</p>
      <p>My new spectacles, in short, not only alter my vision of the outside world, but the image of
      me in the eyes of my beholders; and that, to slide from the particular to the general, is the
      characteristic of frames. Reality may not change at all, except perhaps in its quietly flowing,
      evolutionary way, punctuated by cataclysms; but our perceptions of it change sharply, as we
      shift from frame to frame. Already, I have become accustomed to my new spectacles; and
      when I put on my old ones, the world becomes blurred and distorted, unrecognisable in fact,
      just as I can now startle others by donning the horn rims.
      </p>
      <p>lii April, UNESCO held a meeting of its affiliated non-governmental organisations (NGOs) in
      Paris, 528 of them, listed in three categories, ‘A’, ‘B’ and ‘C’. I was there, representing the
      International Association of Theatre Critics (Category B), and found myself in the roles of
      being both the optician and his myopic patient. 1 had, for example, two very misleading
      mental images of UNESCO — one as a high-powered international bureaucracy and the other
      as a fairly corrupt and inefficient do-gooding, talk shop, which aimed to set the world to
      rights while misdirecting phone calls.
      </p>
      <p>As it happened, I had doubts about some of the definitions (which returns us to 'frames’), but
      few about the worthiness of the causes or the dedication of those who were championing
      them.Far from being a moral mafia, the UNESCO NGOs reminded me of those hardworking
      village committees who organise fëtes and whist drives to raise money for the church spire.
      </p>
      <p>In their cases, however, the problems were of overwhelming scale and urgency. ‘Forty
      thousand children die every day,’ stated one delegate from the World Health Organisation
      (WHO), of starvation or diseases relating to malnutrition. One thousand children die just in
      Mexico every day.</p>
      <p>Our newspapers were full of news from Lanarka airport, where a hi-jacked plane from
      Kuwait Airlines had temporarily landed, with its fifty passengers on board held to ransom.
      The theatrical quality of the drama at Lanarka quite eclipsed all the other news of the day, the
      breathless appeals from the passengers on the plane, the threats of the hooded bandits calmin
      the justice of their cause, the speculations about how the plane could be stormed; and
      nowhere, not even in the most enlightened papers, was there a word about the forty thousand
      new corpses unnecessarily littering the planet.
      </p>
      <p>And, of course, as a practising journalist, I could easily appreciate that the Lanarka hi-jack
      was ‘news’ but the infant mortality statistics were not. We have fallen into the habit of
      believing that our news programmes are factual, precise and represent a reasonable response
      to world events;whereas they are, in fact, theatre, and not very sophisticated theatre.</p>
      <p>I am not blaming the editors, the journalists or the broadcasting authorities; but I do blame
      critics for the limpid and casual assessment of their own roles, which deters them from
      considering those theatrical frames which do not proclaim themselves as theatre.
      </p>
      <p>When I assert that news broadcasts are theatre, I do not wish to denigrate them, only to
      describe them more precisely. My friends in the News and Talks and Documentary
      departments of the BBC might instantly object that theatre is fiction, whereas news
      broadcasts are fact. Isn't that a fundamental difference between them?</p>
      <p>Not so fundamental perhaps, only up to a point, Lord Copper. Plays are often based on tact as
      well; and all plays, even the most light-hearted comedy, are based on somebody's perception
      of reality. They are, however, carefully labelled as fiction. If we miss the credits at the
      beginning, there are all kinds of signs which we can quickly interpret to mean that this event
      is not actually happening now but is a model of what could happen.</p>
      <p>News broadcasts on the other hand insist that what we are seeing is fact, is what is actually
      happening or has happened; and in that sense, they try to defeat that scepticism which may
      query what is on offer. The signature tune is particularly urgent. All news programmes start
      with the world floating in space, but with lines tracing to London, Paris, Moscow or New
      York, as if to suggest that nothing of importance exists without finally arriving at
      Broadcasting House.
      </p>
      <p>Meanwhile, the facts have been selected, to fit the three minute slots available or whatever
      length is considered best to match the public's span of attention. Naturally, to retain the
      interest of audience, and to keep up the ratings, these items have to be mixed, adventure
      stories with boxing, politics, human interest, sport, art and quirky anecdotes about elephants
      giving birth or the costs of a metre of salami.
      </p>
      <p>This global chit-chat has the fascination of a soap opera, which also never ends, and it can
      occasionally be useful; but it should never be confused with anything other than what it is, a
      framework within which certain facts can be displayed — and an artificial framework, that is,
      one which we can alter.</p>
      <p>Within this frame, facts are selected for their dramatic values — but these values have been
      derived from an old-fashioned concept of theatre, in which deaths, marriages and similar
      battles for victory or defeat loom large. If we change the frame by lengthening the newscast
      and concentrating on one topic, then we have 'in-depth’ documentaires, the equivalent in
      theatrical terms of switching from a variety bill to a short play. Most documentaries retain a
      play- like structure, in which arguments and facts are set out dialectically, with some kind of
      denouement at the end.</p>
      <p>The difference between plays, newscasts and documentaries is that plays are essentially
      concerned with the frames through which we perceive the world, using facts to justify the
      new frame, whereas newscasts accept the frame which they have been given and use it, like a
      pair of spectacles, to identify those facts that they can see.</p>
      <p>If you change the frames, you can see different facts or the same facts in a different
      perspective; which is why, at the UNESCO meeting of NGOs, we had to discuss frames
      before talking about anything else.</p>
      <p>There were, for example, several NGOs concerned width human rights, and several for
      women's rights, and some for youth,and others for family, and some for education and others
      for literacy, and a few for political freedom (anti-West) and one or two for political freedom
      (pro-West), and some for the free flow of information, and a handful for anti-racism and
      anti-sexism, and a thimbleful for ecology, and a smidgeon for economic development, and a
      schooner for raising cultural profiles, and a smattering for amnesty, and a snickering for
      religious tolerance;and all of these admirable organisations had enormous and genuine
      troubles on their hands which required world action and world money to tackle, nothing less,
      and 99% of the NGOs believed that the only answer was to raise the consciousness of the
      world to their particular troubles, which meant of course, changing frames.
      </p>
      <p>We have to change frames to see the other side of the road. Theatre critics should be aware
      of the limitations of those frames which we have inherited. This is their job. They should also
      notice where we have failed to change to perceive our new environments.</p>
      <p>We all inherit old pairs of spectacles from our national cultures through which we blink and
      dimly perceive the tilting earth, the toddler's hand and the blur of traffic. The role of the critic
      is to test out alternative frames in an effort to see them better..</p>
      <p>Elsewhere, in Moscow, things got to such a pretty pass during the years of stagnation, as one
      ageing leader after another renewed acquaintance with what Lenin might have meant, that the
      frames of politics, culture and economics had to be broken. A braver, more determined effort
      to change ideological frames than Mikhael Gorbachev’s glasnost I have yet to discover</p>
      <p>But we all need glasnost, we all need to change frames, however unnerving that may be, and
      we still live in a world of distorting specs, whether we know it or not.</p>
      <p>June 1988</p>
    </div>






















  </body>
</html>
