<div class="container">
  <div class="container">
    <h1>The London Magazine</h1>
  </div>
  <div class="d-flex justify-content-around align-items-center">
    <%= image_tag("LM1.jpg", class: "img_test") %>
    <div>
      <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
    </div>
  </div>
  <div class="pt-3">
    <p>During the 1960s, John was the theatre correspondent and talent scout at Paramount Pictures; and taught part-time at the City Literary Institute, Drury Lane, London, where he started a theatre group. He contributed articles mainly on the theatre to The London Magazine, then edited by the poet and cricket correspondent, Alan Ross. This was London’s leading cultural magazine, founded in 1732, which published poems, short stories, and social criticism, from a wide range of international writers.
    His articles, available through JustAsk, include (i) Genet and the Sadistic Society (1963), (ii) The End of the Absurd? (1964), (iii) Was Hedda Well-Made? (1965), (iv) Interrupted Games (1966), (v) Musical Offering (1966), (vi) Drama in the Sixties (1966), (vii) Marguerite Duras (1966), (viii) Strasberg and Stanislavski (1966), (ix) A Bond Honoured (1966), (x) Send-ups, Suck, Suck (1967), (xi) The Nottingham Playhouse (1968), (xii) Sense of Direction (1968), (xiii) Theatre Royal, Windsor (1969), (xix) Nearer – My God! – to Thee (1969), (xx) The Future Past (1969), (xxi) Feudal Longings (1969), (xxii) Che, Patrice and the Violence from Bexhill (1969), (xxiii) Motiveless Murders and Fun (1969), (xxix) Half Term (1970), (xxx) Click (1970), (xxxi) David Mercer (1970), (xxxii) Hampton Court (1970), (xxxiii) Joan Littlewood (1970).
  </p>


  </div>
</div>
