<div class="plantingtreeimg">
  <div class="cardsdis container setposition">
    <%= image_tag("postwarbritishtheatre.jpg", class: "wid50 me-5") %>

    <div class ="wid50 tealign">
      <h1>Post-War British Theatre</h1>
      <h6>John Elsom</h6>
      <h5>Routledge and Kegan Paul (1976 and 1980), re-issued (2015)</h5>
       <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
    </div>


  </div>
  <div class="col-m container">
    <p>British theatre experienced a revival after its decline during the war. It was transformed by talents from the new reps and the ‘angry’ fringe; but it had not lost touch with the stars of the 1930s. Olivier and Gielgud still shone among the actors, Coward, and Rattigan among the playwrights. They were challenged by artists, who soon started to dominate the theatre, film, and TV industries, such as Burton, Finney, and O’Toole, and Pinter, Osborne, and Stoppard.

    Rarely had British theatre been so diverse and controversial, reflecting the uncertainties of a country that had not quite lost its empire or found its place within the new dangers of Cold War.

    Topics: Language and money; actors and stars; the search for self; well-made plays; Brecht’s cool ambiguity; the angry plays; how the West End was (nearly) won; fringe alternatives; national aspirations; many roads, few maps; climate and language.</p><p>

    ‘Probably the best book available on this intricate and intriguing subject…’ Sunday Times, 1976. (→ further press).

    →Post-war British Theatre Criticism, Journalism (theatre reviews)

    </p>
  </div>

</div>
