<div class="skyblue">
  <div class="card container">
    <%= image_tag("thewellintentionbuilder_edited.jpg", class: "card-img-top") %>

    <div class="container">

      <h1 class="pt-3 pd-3"><strong>The Well-Intentioned Builder</strong></h1>

      <h2>Cockpit Theatre, 1966; NT of Craiova, 2004</h2>



      <p>A lonely woman invites a builder to examine a patch of damp in her old house. Brick by brick, he knocks the house down. ‘How bare the earth looks’, she says. ‘Now,’ replies the builder, ‘we can begin to build.’
      Author’s note: This play was originally written for a theatre collective in Hampstead, London, which I ran under the auspices of the Inner London Education Authority (ILEA). It followed the examples of similar collectives, run by Peter Brook at the LAMDA, Joan Littlewood at Stratford East, Roy Hart’s Theatre of the Voice and, among several reps, Peter Cheeseman’s team at the Victoria, Stoke on Trent. (→Theatre Outside London)
      We were all unpaid, professionals and amateurs alike. Our aim (as with other collectives) was to dramatize an experience which, in different degrees, we shared. Our group contained several émigrés from a war-torn Europe, seeking to mend and re-build their lost worlds. The lonely woman in a creaky house was a metaphor for the times in which we lived.
      Forty years later, my script was uncovered by the National Theatre of Craiova in Romania. It ran in repertoire for more than three years, in a fine production by Anca Maria Colteanu. On its first night, a woman embraced me and said that she had just seen ‘the story of her life’.
      ‘It’s hard to imagine how a text written in 1966 could be so present in 2004… firm and complex in its simplicity’. Drama, Bucharest, Romania (→ further press).
      Script and permissions: available online – translations into French and Romanian
      </p>
    </div>
  </div>
</div>
