<div class="plantingtreeimg">
  <div class="cardsdis container setposition">
    <%= image_tag("isshakespearestillcontemporary.jpg", class: "wid50 me-5") %>

    <div class ="wid50 tealign">
      <h1>Is Shakespeare Still Our Contemporary? </h1>

      <h3>(Ed.) – Routledge (1989)</h3>
      <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>

    </div>
  </div>

  <div class="col-m container">
  <p>An edited transcript of an IATC conference held publicly at the Young Vic in London in 1987, with leading European, Soviet and |US scholars and artists, with contributions from: Jan Kott, Erich Fried, Martin Esslin, Anna Foldes, Aleksander Anikst, Guy Dumur, Ruby Cohn, Peter von Becker, Georges Banu, Peter Brook, Elijah Moshinski, Toby Robertson, and others.
  → further press, → The End of the Absurd? (Recordings in British Library)
  </p>
  </div>
</div>
