<html>
  <body>
    <h1>Spring</h1>
    <p>ON April 29, 1987, spring ended in Britain for another year, not in calendar terms, but in the
    way in which we still appreciate the spring, through the senses and how we feel. From now
    on we will start grumbling about the summer, worry about unseasonable frosts or wonder
    whether we should hose the car in case of a severe drought.
    </p>
    <p>At least we will not be able to complain about not having had a spring, which began this year
    in a dramatic spell or sunshine at the start of April, and continued for more than a fortnight as
    the buds grew heavy and opened into 8owers, and ended in summerlike thunderstorms, which
    washed the last remaining petals from the previously golden and glowing forsythias.
    </p>
    <p>Two months ago the trees were bare and the daffodils had scarcely begun to flood across the
    London parks. The white narcissi with red-eyed pupils, a decadent plant, lazily opened their
    eyes, while the voluptuous hyacinths stealthily released their scents. And then suddenly the
    sun shone, and the whole world seemed to be in bloom, tulips and daffodils, together with the
    cloud-like cherry trees in pink and white, the primroses and polyanthus, the blue and purple
    aubrieta clinging to the stones of rocky walls and slopes, the sickly camellias turning brown
    at the edges before their purple blossoms fully matured. The azaleas were racing ahead of the
    rhododendrons, bursting into colour as their statelier cousins took their time and let their big
    purple cushions plump up and unfold at leisure.</p>
    <p>And then the pear, the damson, the almond and now the apple trees, and the wisteria even,
    those glorious trails of blue and lilac bedecking old walls. Before May the bluebells were
    out, and the lilies of the valley, and the stately Solomon Seal, and the wise violets content
    (among such wealth) not to draw attention to themselves lest the Revolution came, and yet it
    was still spring.</p>
    <p>This rhetorical flourish was all the more startling because this Spring followed a severe
    winter, when for two not-so-short spells, winds swept across Europe from Siberia, scudding
    the grey, snow laden clouds before them. It was abnormally cold. WaterlooStation was
    closed, while even from Southend, there were stories of people snowed up in their homes,
    unable to open their front doors because of the size of the drifts. The churches in London
    were turned into hostels for the unfortunates who had been sleeping roughin the streets.</p>
    <p>Crossing Westminster Bridge, on a night when the MPs in the House of Commons were
    debating cold weather allowances for pensioners, I came across an elderly lady, huddled in
    newspapers and a battered cardboard box, who had not bothered to seek better shelter. Such
    cold muddles the mind. There seems no escape from it arid like a rabbit transfixed by car
    hcad-lamps, she had evidently decided that she could only lie still and let winter do its worst.
    </p>
    <p>As I helped her to the church at St. Martins-in-the-Fields, where she could be looked after,
    she kept apologising for causing me trouble, as if it were more dignified to freeze to death
    than be obliged to a stranger; while I felt guilty at being so warm and well-wrapped up, with
    a genuine Siberian schapka padding my ears, and inclined to apologise to her for the great
    gulf in privilege between her situation and mine.</p>
    <p>And so we tottered to church, like the over-formal couple in the wartime radio comedy,
    ITMA, who used to say ‘After you, Claude!’ No, after you, Cecil’, except that we were
    saying ‘I'm so sorry! ’ ‘Don't mention it!’ ‘Am I going too fast?’ ‘Don't trouble yourself !’,
    which was not much of a conversation, but it carried us towards the heat and the light
    </p>
    <p>At such times, spring seems a long way away, but when it comes, as it came this year, it has
    the force of a miracle. The world is transformed from a hostile to a benevolent place; and if
    that is not an event which creates faith, Shaw's definition of a miracle, then I cannot imagine
    a better one. Nowadays it takes a disruptive winter, followed by a heady, voluptuous spring to
    remind us that the passing of the seasons, and the cycles of growth, death and rebirth, are the
    common-place miracles that surround us. In the West, we lucky ones live in such controlled
    and protected environments that nature has to be vulgarly spectacular for us to take much
    notice of it.</p>
    <p>Of course, we don't like standing in the rain for a bus. We watch cyclones and anticyclones
    swirling round the weather charts; but we don't feel threatened or blessed by the climate. In
    Britain, we are rarely hungry when there's a drought. This protection from the uncomfortable
    effects of nature is something which separates our civilization this century from almost all
    those which have preceded it.</p>
    <p>In London, nature is nearly always seen as something decorative, not fundamental, a matter
    of window boxes and ornamental gardens. The seasons have a habit of blurring into one
    another, as we turn the central heating up or down, and adjust the air-conditioning. The body
    itself loses its response to the cycles of the seasons. We do not put on fat to protect us from
    the cold, we just get fat. We do not lose unnecessary flesh during Lent, in readiness for the
    spring, we just diet to look good on our summer holidays. The sun is something which adds a
    final tanning to skins, already partly brown from sunbeds and sunlamps.</p>
    <p>The natural rhythm is lost from the parade of the days and gradually, we break step from
    nature, and it from us, and we can afford to behave in an arbitrary fashion, having nothing
    superior to ourselves by which to regulate our behaviour.</p>
    <p>There is a temptation to become moralistic or ecologically minded, and to hint darkly at all
    those evils that lie in wait for those who presumptuously believe that they can dominate, or
    detach themselves from nature. Hubris waits for us in the recycling centres.</p>
    <p>It comes as no surprise to learn that we are using up precious fossil fuels to protect ourselves
    from the winter, that we are polluting the air, that the seas are contaminated, that we are
    losing precious animal and vegetable species every day and that the ozone layers around the
    earth which protect us from the sun's rays are wearing thin. Maybe a moral deterioration has
    set in. We hold life cheap when we become careless with nature and where will it all end?</p>
    <p>Frankly, however, in Surbiton, I can't feel that we are living in an ecological disaster zone or
    in a modern Sodom’n’Gomorrah. I may be insensitive to the true state of affairs; and ignorant
    of the poisonous sprays with which all Surbitonites liberally soak their rose bushes. But I am
    fascinated by the What interests me, however, is the strangely detached attitude towards
    nature which suburbia has provoked. It always takes us by surprise.</p>
    <p>In the Middle Ages, when, God knows, we suffered from the seasons as well as delighted in
    them. We longed to be more in control of our environment and feared the winter and the long,
    hot summers which brought the plague. Christians at intervals would warn us against
    enjoying the pleasures of nature too much, lest we forget the greater joy and worse torments
    of the world to come. Mediaeval art did not want to imitate nature too closely, lest it
    distracted the viewer from spiritual realities.</p>
    <p>In the fifteenth century, when the artists in Florence started to examine the dimensions of the
    human body, their scientific approach shocked many of their contemporaries. Medievalists
    like Savanorola complained that the meaning of the Crucifixion was lost in too anatomical a
    dwelling on the muscles of the arms, and the swell of the stomach, of the body on the Cross.
    </p>
    <p>As social comforts increased, and nature became less threatening to man, it was possible to
    admire and even idolise nature, if at first in neo-classical postures. Spring, Summer, Autumn
    and Winter were admired in suitably heroic form. Many decades later, the Romantics came,
    who were prepared to enjoy nature wild ,and untamed by classical precedents. They
    celebrated those landscapes where the ibex roamed and edelweiss clung to mountain cliffs.</p>
    <p>The Romantics pitted humanity against the forces of hurricanes and cataracts. They might
    have been overwhelmed, though even in their defeats, there was an optimistic glory to the
    effort. When Turner painted the package boat arriving at the quay in Calais, pitching and
    tossing in the stormy waves, he asked you to admire the skill and daring of the sailors. When
    Turner’s Hannibal crossed the alps, the vast army with its terrified elephants nuzzled into the
    hollow of an awe-inspiring mountain with gigantic clouds massing above. Man, though tiny
    in contrast, received merit marks for his Promethean daring. When a humble cottage was
    crushed by a Turner avalanche, we might pity but also praise the bravery which built so frail
    a shack upon such angry slopes.</p>
    <p>We will never see nature like that again. Storms for us have been reduced to the quiet words
    from an airline pilot: ‘We are expecting turbulence. Please fasten your safety belts.’ When
    our disasters happen at sea, they happen, as with the Herald of Free Enterprise, in calm
    harbour waters from human error, because somebody forgot to close the doors.</p>
    <p>The little man who climbed the mountain slopes a century ago, and surveyedthe sunrise from
    the peaks, has taken charge of his environment, and built roads. tunnels, railways and metal
    ships, harnessed lightning in the form of electricity and drilled oil wells in the beds of the
    world’s most savage seas.</p>
    <p>Our perceptions of nature have changed. Nature for us is something vulnerable, at our mercy,
    frail and lacking in resilience. The vast forests are there to be exploited — or protected; and
    the cataracts harnessed to hydro-electric schemes. In the past, to live in harmony with nature,
    man had to be humble and keep his distance from its challenges. We had to adapt ourselves to
    it. Nowadays, nature adapts itself to us, or not as the case may be.</p>
    <p>The old moral precepts which invoked the forces of nature have lost their force. There are no
    special seasons for courtship, like spring, no times for death, and the token stooks in churches
    at harvest festival are there for nostalgia, not to fill the shelves at the supermarket/
    </p>
    <p>Meanwhile, are we starting to patronise nature? Are we starting to pretend that nature is some
    kind of sick patient that needs our help and attention? Ecology is our modernist
    neoclassicism, a return to nature (if in an idealised form) and an appeal to the virtues of the
    ancient world. It is a movement which all enlightened souls (to which we belong) support</p>
    <p>With Savanarola’s words in mind, however, we should still learn to be humble and afraid.
    There is something obliquely flattering in the thought that we can do so much damage to the
    world on which we still rely. That is why these sudden bursts of springs and winters which
    cause the House of Commons to sit up late discussing hyperthermia are useful jolts to our
    self-esteem.There are still miracles. There are events that we cannot explain or understand.</p>
    <p>Nature is never our abused servant. It can take control, whenever it wants.</p>
    <p>June 1987</p>
  </body>
</html>
