
<div class="container-fluid">
  <div class="container-fluid">
    <h1 class="text-center p-4 size3"><strong>The world and I</strong></h1>
  </div>
  <p class="sizejournal text-center spacedownonbigscreen"><strong>“As fine and thoughtful a theatre critic as you will find anywhere,” Michael Marshall, Managing Editor, The World & I, US monthly magazine.</strong></p>
  <div class="text-center">
    <%= cl_image_tag("W_I1fit_gv1cgg", class: "img_test", alt: "The World and I Cover") %>

    <div class="p-4">
      <%= link_to "Interested?", emailform_path, class:"btn btn-outline-dark" %>
    </div>
  </div>
  <div class="pt-3 container-fluid">
    <p class="sizebooks">In 1979, John joined the International Association of Theatre Critics (IATC/AICT), a UNESCO NGO (Non-Governmental Agency), which brings together those (world-wide) who write about the theatre – journalists, academics, and literary managers. The Cold War, which had dominated international relations since the end of WW2, was coming to an end. Following a period of détente, the barriers that separated East from West were broken down, culminating in the destruction of the Berlin Wall in 1989.
    John was elected in Mexico as an IATC Vice-President in 1984, and as world President in Rome in 1985, a role that he retained until 1992, twice re-elected. His aim was to overcome the decades of Cold War hostilities, encourage the appreciation of diverse cultures, and to support conferences and festivals. He was helped by the British Council, ministries of culture in IATC member countries, and by City University in London, where he started a post-graduate course in Arts Policy and Criticism.
    He continued to write talks and programmes for the BBC. John was an associate arts editor for the US magazine, The World & I, published by The Washington Times. His articles include:
    </p>
    <div>
      <ol>
        <li class="sizebooks ">What Do Fred Astaire, Jacqueline du Pré, and Noël Coward have in common? (1987)</li>
        <li class="sizebooks ">Nightmare Memories in Viennese Theater (1989)</li>
        <li class="sizebooks "> Stanislavski on Home Ground (1989)</li>
        <li class="sizebooks "> The World’s Biggest Festival – Edinburgh (1989)</li>
        <li class="sizebooks "> Coping with Glasnost (1990)</li>
        <li class="sizebooks "> Glasnost comes to Bulgaria (1990)</li>
        <li class="sizebooks "> Together Again – Berlin’s Theater Festival (1990)</li>
        <li class="sizebooks "> Spain Takes Centre Stage (1991)</li>
        <li class="sizebooks "> Nights at the Foot of Eternity – Theatre become Spectacle in Cairo (1994)</li>
        <li class="sizebooks ">The Flowering of Hungarian Theatre (1994)</li>
        <li class="sizebooks "> Beyond the Fringe (1995)</li>
        <li class="sizebooks "> Aping the Bard – Playwriting Classes from Hell (1996)</li>
        <li class="sizebooks "> Airport Art Strikes Again (1997)</li>
        <li class="sizebooks "> Burying the Avant-garde (1997)</li>
        <li class="sizebooks "> The Forgotten Shakespeare (1999)</li>
        <li class="sizebooks "> Brecht is Back! (1999)</li>
        <li class="sizebooks "> Fate and the Imperial Dream, (2000)</li>
        <li class="sizebooks "> Temples for the Gods – Britain’s New Theater Architecture (2000)</li>
        <li class="sizebooks "> China’s Window on the World (2001)</li>
        <li class="sizebooks "> Polish Madness – Tadeusz Kantor’s Eccentric Genius (2001)</li>
        <li class="sizebooks "> In Moscow, the Play’s the Thing (2002)</li>
        <li class="sizebooks "> Western Theater’s European Roots (2003)</li>
        <li class="sizebooks "> The End of the Musical? (2003)</li>
        <li class="sizebooks "> A Romanian Passion – Revising the Cassics (2004)</li>
        <li class="sizebooks "> Identity Matters – State of the Balkan Stage (2004)</li>
      </ol>
    </div>
  </div>
</div>
