<div>
  <div class="d-flex justify-content-around align-items-center aboutbackground pt-3 pb-3">
    <p class="vertical-lr pl-6 text_white cardbackground2 size5">John Elsom</p>
    <h1 class="text_white cardbackground2 size4">About</h1>

    <p class="vertical-rl d-flex align-items-center text_white cardbackground2 size5">Author/Playwright/Journalist</p>
  </div>

  <div class="containernohorizscroll cardbackground3 pt-3 mt-4">
    <div class="image-text-container">
      <%= image_tag("happy_grandad1.jpg", class:"aboutimagesmall m-4", alt: "John Elsom") %>
      <div class="text-content">
        <p class="size5 "> John Elsom has been a free-lance writer since leaving university. He was a talent scout for Paramount Pictures, a theatre critic for the BBC and an arts editor for the US magazine, The World and I. He was the world president of the International Association of Theatre Critics (IATC), a UNESCO NGO, from 1987-92, the years which saw the ending of the Cold War.

John was born in 1934 in Essex, England, but evacuated from the threat of the blitz in WW2. He was educated at Brentwood School, at Magdalene College, Cambridge (where his tutors included C.S. Lewis and F.R. Leavis) and at City University, London, where he received a PhD in cultural policy and arts management.

He married the Australian classical pianist, Sally Mays, in 1955 and together they wrote his first play with music, Peacemaker. In 1966, he joined the British Liberal Party and chaired their Arts and Broadcasting Committee, advising the parliamentary party on cultural questions. He campaigned for a national broadband network in the 1980s, but warned of the threats that an unregulated system might pose.

In his books, plays and articles, John unravels the narratives, myths and beliefs that led to Brexit, the Russian invasion of Ukraine, and the conflicts in the Middle East. In 2003, he was decorated by the Romanian president, Ion Iliescu, for services to culture during the Cold War.

After the loss of his first wife, Sally, who died of lung cancer in 2018, he married Judith (née Elliott), formerly a BBC arts producer, in 2021. He has two sons by his first marriage, and four grandchildren. He lives in Kingston upon Thames, SW London.
        </p>

        <p class="sizebooks"><small>‘…the voice of sanity in a deluded world.’ John Pick, Emeritus Professor, Gresham College, London</small></p>
      </div>
    </div>
  </div>
</div>
