<div>
  <div class="d-flex justify-content-around align-items-center aboutbackground pt-3 pb-3">
    <p class="vertical-lr pl-6 text_white cardbackground2">John Elsom</p>
    <h1 class="text_white cardbackground2">About John</h1>

    <p class="vertical-rl d-flex align-items-center text_white cardbackground2">Author/Playwright/Journalist</p>
  </div>

  <div class="container cardbackground3 pt-3 mt-4">
    <div class="image-text-container">
      <%= image_tag("happy_grandad1.jpg", class:"aboutimagesmall", alt: "John Elsom") %>
      <div class="text-content">
        <p >  John Elsom has been a free-lance writer since leaving university. He was a talent scout for Paramount Pictures, a theatre critic for the BBC and an arts editor for the US magazine, The World and I. He was the world president of the International Association of Theatre Critics (IATC), a UNESCO NGO, from 1987-92, the years which saw the ending of the Cold War.

        John was born in 1934 in Essex, England, but evacuated from the threat of the blitz in WW2. He was educated at Brentwood School, Essex, and at Magdalene College, Cambridge, where his tutors included C.S. Lewis and John Stevens. He married the Australian classical pianist, Sally Mays, and together they wrote his first play with music, Peacemaker.

        Under the auspices of the Inner London Education Authority (ILEA), John developed an amateur-professional theatre collective, following the examples set by Peter Brook and Joan Littlewood. The group staged the first production of The Well-Intentioned Builder, later revived by the NT of Craiova in Romania, where it ran for three years. He was a founder-member and chaired the Bush in London, still a leading ‘new-plays’ fringe theatre.

        The revival of British theatre during the 1960s was inspired by the new regional reps and the fringe theatres. Their successes prompted the building of a new National Theatre. This history is told in John’s theatre books, which describe how the ‘soft power’ of ‘culture’ came to acquire a wider political significance during the last years of the Cold War. ‘Shakespeare’ was a bridge.

        Under his leadership, the IATC organised 50 international meetings during this pivotal period, including 5 in the UK. John joined the British Liberal Party and became the chair of their Arts and Broadcasting Committee. He campaigned for a national broadband network but warned of the threats to democracy (fake facts and algorithms) that an unregulated system might pose.

        The advances in technology pose risks that our cultures (= the way in which we think) cannot easily control. In his books and plays, John unravels the narratives, myths and beliefs that led to the mistakes of Brexit, the Russian invasion of Ukraine, and the problems that all national governments face in trying to tackle climate change and mass migration.

        In 2003, he was decorated by the Romanian president, Ion Iliescu, for his services to culture during the Cold War. After the loss of his first wife, Sally, who died of lung cancer, he married Judith (née Elliott), formerly a BBC arts producer, in 2021.  They have a large and growing family.

        →Lifespan; Plays – The Well-Intentioned Builder; Journalism (‘The Fear of Words’); Books - Cold War Theatre, Missing the Point, State of Paralysis – a cultural history of Brexit, Sliding Scales and (fiction) Big Dada and the Paradiseville Experience.
        </p>

        <p><small>‘…the voice of sanity in a deluded world.’ John Pick, Emeritus Professor, Gresham College, London</small></p>
      </div>
    </div>
  </div>
</div>
