
<div class="mainbackground">
  <div class= "text-center pt-5">
    <div >
      <h1 class="display-1">John Elsom</h1>
      <h2 class="display-6">Author/Playwright/Journalist</h2>
      <%= link_to "books", books_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
