<div class= "container d-flex justify-content-center">
  <div >
    <h1 class="display-1">John Elsom</h1>
    <h2 class="display-6">Author/Playwright/Journalist</h2>
    <p class="btn btn-dark">button</p>
  </div>
</div>
