
<div class="mainbackground">
  <div class= "maincenter">
    <div>
      <h1 class="size1 textwhite">John Elsom</h1>
      <h2 class="size6 textwhite">Author/Playwright/Journalist</h2>

    </div>
  </div>
</div>
