<h1>Big Dada and the Paradiseville Experience - 2020 (fiction, available online)</h1>

<h2>OMG Paradiseville is a luxury hotel that rises high above the seaside village where it has been gratuitously dumped. </h2>

<%= image_tag("big_dada_cover.jpg", class: "img_size_m") %>

<p>Big Dada tells the story of a young man, who joins the hotel staff as a part-time porter and rises to become an assistant to the famous Luigi, head barman of the Terrace Bar, on the top floor, with spectacular views. His success story does not end there. He is placed as a manager in charge of the holographic playground on the 52nd floor, where his troubles begin.
‘Very funny, and pertinently apt’ - Patrick Curry (→ further reviews and tributes)
</p>
