<div class="plantingtreeimg">
  <div class="cardsdis container-fluid">
      <div class="img-container">
        <%= image_tag("big_dada_cover.jpg", class: "wid50 me-5") %>
      </div>
      <div class="textcenteronsmallerscreens">
        <div class ="text-container">
          <h2 class="size3">Big Dada and the Paradiseville Experience - 2020</h2>
          <h6 class="size7">(available online)</h6>
          <h6 class="size7 cite2">OMG Paradiseville is a luxury hotel that rises high above the seaside village where it has been gratuitously dumped.</h6>
            <%= link_to "Interested?", emailform_path, class:"mainbutton2 black-outline-button" %>
        </div>
      </div>

  </div>

  <div class="col-m container-fluid sizebooks">
    <p>Big Dada tells the story of a young man, who joins the hotel staff as a part-time porter and rises to become an assistant to the famous Luigi, head barman of the Terrace Bar, on the top floor, with spectacular views. His success story does not end there. He is placed as a manager in charge of the holographic playground on the 52nd floor, where his troubles begin.
    </p><p>‘Very funny, and pertinently apt’ - Patrick Curry (→ further reviews and tributes)
    </p>
  </div>
</div>
