<div class="plantingtreeimg">
  <div class="cardsdis container setposition">
    <%= image_tag("big_dada_cover.jpg", class: "wid50 me-5") %>
    <div class ="wid50 tealign">
      <h2>Big Dada and the Paradiseville Experience - 2020 (available online)</h2>
      <h6>OMG Paradiseville is a luxury hotel that rises high above the seaside village where it has been gratuitously dumped.</h6>
       <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>

    </div>
  </div>

  <div class="col-m container">
    <p>Big Dada tells the story of a young man, who joins the hotel staff as a part-time porter and rises to become an assistant to the famous Luigi, head barman of the Terrace Bar, on the top floor, with spectacular views. His success story does not end there. He is placed as a manager in charge of the holographic playground on the 52nd floor, where his troubles begin.
‘Very funny, and pertinently apt’ - Patrick Curry (→ further reviews and tributes)
    </p>
  </div>
</div>
