<html>
  <body>
    <h1>TO MERGE. OR NOT TO MERGE ...</h1>
    <p>Frankly, the Alliance hasn't much choice. When the Liberals and SDP shared out
      constituencies before the 1983 election (or had their quotas foisted upon them,
      whichever you like), they gave up their rights to be considered as national parties. It
      was an extraordinary gesture which made sound tactical sense, but still has to prove
      itself strategically or philosophically</p>

      <p>The pact thus cobbled together for the purpose of breaking the mold isn't likely to last
      for another four years. In SDP constituencies, the Liberal organizations will start to
      wither away, while in Liberal areas, the SDP will have difficulty in getting off the
      ground. The temporary sacrifices made tactically for the last election will start to
      look permanent. In the meantime, Labour is unlikely to continue to tear itself apart.
      Its current revival, having bought the dream ticket, may not last, but the electorate
      will be deciding in its own mysterious way as to whether Labour or the Alliance will
      prove to be an effective alternative government. The rivalry between the opposition
      parties will be conducted on a 'more-unified-than thou' basis.</p>

          <p>What both the Alliance and Labour most fear is an outbreak of internal feuding. But
      unity cannot be always imposed from on high, however much Steel and Owen may
      wish to do so. The external show of unity needs to be supported by internal methods
      of reaching agreement, which, practically speaking, will draw the two Alliance
      parties towards merger. The policy panels will have to be in close and continual
      consultation, which has not been the case until now. The constituency parties, Liberal
      or SDP, will have to consider the views of both sides before choosing their
      candidates: the Liberals favour joint selection, the SDP do not, but whichever view
      prevails, there will have to be de facto joint selection if local bickering is to be
      avoided. And, for this nettle also has to be grasped, the Alliance will have to decide
      between the two leaders as to which will lead them into the election as a
      Prime-Minister-in-Waiting.
      </p>

      <p>If the Alliance parties remain unmerged, they will be offering an indecent number of
      hostages to fortune; and the voters will be puzzled as to why they should choose to
      do so. If the Liberals and the SDP are saying essentially the same things, then there is
      no logical reason why they should not merge; at least until such time as proportional
      representation allows for shades of opinion. If they are putting forward different
      policies, then the electorate are entitled to know whose views will prevail.
      </p>

      <p>Dr. Owen may not have been exactly talking through his hat when he said that the
      British public like the idea of two political parties cooperating together for the good
      of the country, but perhaps his hat was too close to his lips for comfort. From my
      experience of canvassing, I found that voters were indeed confused by the idea that
      while Steel was leading the campaign, Jenkins would head a Alliance government.
      'Get yourself sorted out,' one said to me, a former Liberal voter, 'and then I'll consider
      voting for you.</p>

      <p>Merger, in short, is the obvious next step; and the obvious time to discuss such
      a merger was in September, 1983, at the time of the two party conferences. The
      atmosphere between the two parties was warm rather than cordial. Steel and
      Beith were well-received at the SDP's Assembly in Salford, home of the
      disenchanted.</p>

      <p>Owen was cheered on the last day of the Liberal's Assembly at Harrogate, an
      appropriate place for a rejuvenated Liberal Party, a Victorian baroque town
      with a massive new conference hall, straddling nearly everything. Various
      motions were floated whose general direction drifted towards the discussion of
      the possibility of something which might be considered, without being
      absolutely definite, as a tentative half-merger.</p>

      <p>The Liberals could afford to be trenchant about Northern Ireland, the SDP
      could pass solid resolutions on the economy and the social services; but when
      they came to the possibility of a merger between the parties, well, the wisest
      course was to leave the options open.</p>

      <p>An effective stalemate was reached on joint selection of candidates. The idea
      that the Alliance leader should be elected from a poll of both parties was
      mooted-and shelved. The old Labour Party used to fudge and mudge: the new
      Alliance is a vast improvement. It merely dodges and shelves. Let grass-roots
      cooperation thrive! Then the leadership will come along to mow the lawn. Let
      policy consultations flourish! Then the joint campaign committee will decide
      on the manifesto.</p>

      <p>The sad message left from both party assemblies was that the Alliance are not
      so determined to work for political power that they are prepared to take the
      necessary steps to set their joint houses in order. Perhaps the reason behind this
      alarming reticence lies in a mixture of short and long-term considerations.
      Neither party is convinced that its future rests with each other.</p>

      <p>They have accepted the tactical arguments in favour of the Alliance: they have
      considerable doubts and differences of opinion about the strategy and the
      philosophy. The SDP and the Liberals share certain general aims; and it may
      be still true to say that the common ground between the two Alliance parties is
      greater than that which lies between the two wings of the Conservative and the
      Labour parties. But would they landscape the common ground differently?
      Have they similar aims in arguing for proportional representation and an
      incomes policy?
      </p>

      <p>Let's start with short-term considerations. The SDP has its image to maintain,
      that of a radical, young, dynamic party, composed of people who are bored
      with the entrenched attitudes of old political parties with their antediluvian
      vested interests. Does it really help their cause to be linked with a party like
      the Liberals, renowned since the First World War for losing elections nobly?
      The Liberals, on the other hand, as befits their·age, regard the SDP's
      enthusiasm with something akin to paternal cynicism. The Liberals have been
      here before, after Orpington, after the 1974 (first) election, when only one
      more heave was necessary to break the system.</p>

      <p>The substance of the SPD's policy, including PR and an incomes policy, has
      been Liberal policy for years. Both parties want devolution; but the Liberals
      have seen so many campaigns for devolution collapse under the weight of
      entrenched interests. This is not to suggest that the Liberals are any the less
      determined to achieve their goals than the SDP, only that they approach these
      matters with a caution bordering sometimes on weariness.
      </p>

      <p>They may be weary, the Liberals, but they tend to be tough. Many years ago,
      during the 1960s, the Liberals decided that the way to break through lay in
      community politics, the slowest and rockiest road to power, but the one which
      they believed in the long run would lead to success. Furthermore, community
      politics was not just a matter of looking for cracked pavements and, as it were,
      de-cracking them. It was directly in the Liberal Party's philosophical tradition,
      whereby central government was to be considered as a 'service industry'
      </p>

      <p>The Victorian Liberals firmly believed that good government depended on a
      proper recognition of the worth of an individual. Society was a collection of
      small communities; and the community in which an individual lived and
      worked had what can be called natural boundaries, those people whom the
      individual could actually come to know, trust, work with and love.</p>

      <p>Naturally, these communities were small, naturally they might conflict with
      other communities; and the Victorian Liberals distrusted those didactic
      politicians who wanted to transform the world, without necessarily helping
      their neighbours. The only true human values lay within the community,
      through which personal moralities could be expressed. The role of government
      was to reconcile the conflicting interests of different communities, to set the
      common laws by which the communities could individually live. The natural
      targets of the Victorian Liberals were monopolies of power, economic or
      political, tyrannies and their opposites, anarchies.</p>

      <p>Their descendants, the modern Liberal Party, inherited many of these instincts,
      without always sharing or even recognising the Victorian philosophy. Even
      Gladstone took a somewhat laissez-faire attitude towards national poverty,
      believing that governments could not exactly create wealth, only maintain
      those conditions in which wealth could be created and through the free market
      distributed.</p>

      <p>The vision of socialism which believed that governments could create wealth
      and fairly distribute it, was the nineteenth century Liberal heresy. It allotted to
      government potentially dictatorial powers. Keynes reconciled the laissez-faire
      traditions of the Victorian Liberals with the new political demands of the
      twentieth century. He expected a more forceful role from government,which
      could be interventionist and within limits dirigist.</p>

      <p>The SDP, on the other hand, are a party of management. They may reach the
      same conclusions as the Liberals, but they do so from an opposite direction.
      Whereas Liberals are reluctant to concede to central government more powers
      than it plainly needs, the SDP continue to talk in dirigist terms, even when the
      subject is devolution of power.</p>

      <p>This difference of approach is noticeable in a comparison between the Liberals'
      arts policy and the as yet unpublished SOP version. Both parties have much in
      common in their general aims. Both believe, for example, in a Ministry of
      Culture, in a tax on video- and music cassette tapes, in encouraging local and
      community arts.
      </p>

      <p>In their methods of approach, however, there are drastic differences. The
      Liberals believe that broadcasting and telecommunications should be included
      within the general mandate of the Ministry of Culture. They stress the
      importance of the arm's-length principle separating the Ministry from the
      proposed Central Broadcasting Authority which in turn is at arm's length from
      the broadcasting companies.</p>

      <p>The SDP wants to keep broadcasting still within the aegis of the Home Office.
      The SDP believes that education is the key to a successful arts policy: the
      Liberals do not want to give the appearance of dictating to the education
      authorities that they should emphasise one area of training rather than another.</p>

      <p>Education is firmly left out of the Liberals' arts policy, firmly left into the
      SDP's version. And so on. The SDP talk of the new wealth created by the
      SDP's technology-led economic policy. The Liberals are much more cautious.
      At Margate, in 1980, the Liberals passed a resolution to the effect that
      economic growth as normally defined was neither attainable nor desirable.
      When Liberals talk about wealth, they often mean something vaguely
      ecological, like natural wealth or even the quality of life. When the SDP
      discusses wealth, they usually mean the Gross Domestic Product (GDP),
      which is always expressed in terms of money.
      </p>

      <p>Thus, there are major philosophical differences between the Alliance parties;
      and in this case, philosophy is not something which can be brushed aside as
      vague abstraction. It affects that muddy central section of party political life,
      half-way between the policies on which all are agreed and the local details on
      which everybody can afford to differ.
      </p>

      <p>The instincts of the Liberals are anti-authoritarian, politely or rudely so. Steel
      had to win his support from the party conference, which he did with a mixture
      of gentleness and toughness. Owen faced no such challenge; but I suspect that
      the SDP will have more difficulty in coping with dissent within its ranks. The
      Liberals are a party which respects the dissenting tradition, which may be why
      they seem so untidy but retain through hard times a resilient core.</p>

      <p>But can the tidy, market-minded SOP link arms for long with the cheerful,
      loyal but anarchic Liberals? Can they do so, with or without a formal merger?
      With a merger, they may stand a chance. Without one, I fear that they do not. If
      there are no formal methods of resolving their natural differences, then the
      squabbles, now muted, will grow. And what will drive the Alliance parties
      apart are the strategical, rather than tactical or philosophical differences. If, for
      example, the Labour Party stages any kind of significant revival, it must do so
      at the expense of the SDP-if only because, in the original share-out of seats,
      the SDP were mainly allotted Labour seats to challenge.</p>

      <p>The Liberals will see that the SDP has failed to maintain its challenge to
      Labour, and will wish to take over. From the Liberal view, the SDP failure at
      Darlington called the whole theory of the Alliance pact into question. It had
      been assumed that the SDP would do better than the Liberals in Labour
      constituencies. But the Liberals won Bermondsey and the SOP lost Darlington,
      and with it the bandwagon impetus which could have led to greater success at
      the general election.</p>

      <p>Equally, the Liberals are fighting more Tory seats than the SOP; and it may
      well transpire that the young, radical image of the SDP is more successful than
      the Liberals at winning Tory votes. As one party in the Alliance shows signs of
      failing, the other will make a bid to take over; and if the strategical pattern
      stays consistent over a period of time, then inevitably the two parties will be
      drawn into conflict with one another, a conflict exploited by their opponents.
      </p>

      <p>To forestall such a situation, the two parties must think of new ways to cement
      the Alliance. Perhaps they should start by building upon the Joint Campaign
      for Fair Votes. If that campaign is successful, even to the extent of merely
      building up the pressures for proportional representation, it can lead to other
      joint campaigns. Gradually the SOP and the Liberals will become so
      accustomed to meeting each other on one barricade or another that the formal
      merger will come as a matter of course.</p>

      <p>In the meantime, Liberals like me who have worked for twenty years to break
      the mould, without much success, watch with bated breath to discover whether
      the Alliance, having so nearly succeeded at the last election despite the poor
      tally of parliamentary seats, will build upon or throw away the opportunities
      that the SOP and the Liberals have created for themselves.</p>

      <p>Their time may yet come.</p>

      <p>November 1983</p>
  </body>
</html>
