<div class="deepchestnut", style="height: 100%;">
  <div class="pt-4 pb-4">
    <div class="card containerCustom">
       <div class="onemorebullbackground"aria-label="One More Bull Cover">
        <%= cl_image_tag("One_More_Bull036_reuaf5", class: "smallscreenwellintentionedbuilder", alt:"One More Bull Cover") %>

      </div>

      <div class="container-fluid">

        <h1 class="pt-3 size7"><strong>One More Bull</strong></h1>

        <h4 class="size5">Cockpit Theatre – 1966</h4>

        <p class="sizebooks">Romanian translation by Catalina Lowe.</p>

        <p class="sizebooks">A comedy of accession in three scenes.</p>
        <p class="sizebooks">A young man, Roger, comes to a London office, hoping to speak to his father, Mr. Bull. He is stopped from doing so by his father’s personal secretary and an officious doorman. When his father dies, Roger takes his place and changes the business model with disastrous results. He sells the firm, finds freedom, and escapes with the secretary into a sunlit (but uncertain) future. </p>
        <p class="sizebooks">Cast: a girl, a boy, and a father figure.</p>
        <%= link_to "Interested?", emailform_path, class:"mainbutton2 black-outline-button" %>
      </div>
    </div>
  </div>
</div>
