<div class="deepchestnut">
  <div class="card container">
    <%= image_tag("onemorebull1.jpg", class: "img-card-top") %>
    
    <div class="container">

      <h1 class="pt-3 pd-3"><strong>One More Bull</strong></h1>

      <h2>Cockpit Theatre – 1966</h2>



      <p>A comedy of succession in three scenes.
      A young man, Roger, comes to a London office, hoping to speak to his father, Mr. Bull. He is stopped from doing so by his father’s personal secretary and an officious doorman. When his father dies, Roger takes his place and changes the business model with disastrous results. He sells the firm, finds freedom, and escapes with the secretary into a sunlit (but uncertain) future.
      Cast: a girl, a boy, and a father figure.
      Script available online, with translations into French and Romanian
      </p>
    </div>
  </div>
</div>
