<div class="plantingtreeimg">
  <div class="cardsdis container-fluid">
    <div class="img-container mt-4">
      <%= image_tag("stateofparalysis.jpg", class: "wid50 me-5", alt: "State of Paralysis Cover") %>
    </div>
    <div class="textcenteronsmallerscreens">
      <div class ="text-container">
        <h1 class="size3">State of Paralysis</h1>
        <h4 class="size7">A Cultural History of Brexit</h4>
        <h4 class="size7 cite2">The Lutterworth Press (2019)</h4>
        <%= link_to "Interested?", emailform_path, class:"mainbutton2 black-outline-button" %>
      </div>
    </div>
  </div>

  <div class="col-m container-fluid sizebooks pt-3">
    <p>The UK has been uncertain about its relationship with the new European community since the days of its creation. The original proposal was drafted by two Frenchmen and an Englishman. Britain was invited to join but refused to do so; then applied and was rejected; was accepted but faced a referendum; joined but tried to change the system; changed the system but angered the English nationalists; held a second referendum, won by the Brexit lobby; and, having left the EU in 2019, has quarrelled bitterly about the outcome ever since.
    State of Paralysis told the story of this confused ex-partnership, and how it reflected Britain’s struggle to find its role in a changing geo-political world. Should it lead the Commonwealth, reconstructed from its former Empire? Should it stay as the junior partner of the US in a Special Relationship, a launch-pad for rockets? Or join a loosely federated club of European liberal democracies, accepting the rules, opportunities, and restrictions of its membership?
    As this struggle continued, the tone of the political discourse declined from serious debates to angry exchanges, and to abuse, lies and media manipulation. The future of democracy was at stake. Could any political party in a divided country break through the impasse?
    Topics: Never Again; the Dream of M. Monnet; the Floating Island; the Wind of Change; Perspectives; Maastricht and the Bastards; Trial by Coalition; Raw Brexit; a Bloody Difficult Woman; Square One.
    </p><p>‘By far the most readable, comprehensive, and authoritative account I have seen of the last 80 years in the UK’ – Emeritus Professor John Pick, Gresham College
    </p><p>‘I cannot think of another piece of writing that has done more to open my eyes.’ Irving Wardle.
    (→further reviews and tributes) → Sliding Scales
    </p>
  </div>
</div>
