<div class="container mt-2">
  <h1>EXPLAINING INDIA</h1>

  <p>We were standing, the three of us, journalists taking a break from copy, in a museum in Delhi,
  clutching our guidebooks. ‘What I don't understand is this,’ said Gwen from Melbourne, a
  fashion editor. ‘Once you've got yourself into that position, how do you get out of it?’</p>

  <p>She was looking at an ancient statuette of a dancer, incredibly poised on a lotus with a
  slightly bent left leg, right knee doubled and turned outwards, the torso twisted into a reverse
  S, with the swellings of the rounded breasts exactly balancing those of the out-thrust
  buttocks. ‘Maybe,’ said Bruce, ‘that's why they need all those arms, to untangle themselves.’
  ‘Well, I suggested, ‘I'm sure we can get someone to explain.’ They looked at me aghast.
  ‘That's exactly,’ said Gwen, ‘what we don't want.’
  </p>

  <p>The serious student (as opposed to tourists and journalists) of Indian classical dance
  has to approach the subject through a deep haze of explanations. Let me explain the
  explanations, as my guide once tried to do, and why they are, to Westerners, so deeply
  opaque, referring the reader who just wants to know where to put the feet to a magnificently
  produced book on the subject from MARG publications of Bombay (Bharata Natyam, 1979).
  The authors, who provide a wealth of technical detail,stressed nonetheless that the art is a
  devotional ons, whose aim is spiritual enlightenment.
  </p>
  <p>‘If it's devotional,’ commented Bruce, ‘that explains everything. You can always twist
  yourself into knots in the service of God.’</p>

  <p>In the West, we do not think of dance as a kind of prayer, quite the reverse, still less as
  a means to achieve that transcendental experience described by Rukmini Devi, the dancer
  whose range of gestures and postures illustrate the text of Bharata Natyam</p>

  <p>‘A truly spiritual artist,’ she writes, ‘is one who forgets himself and in that
  self-forgetfulness achieves the Bliss which is called Ananda. This is why Nataraja's dance is
  called Ananda Tandavum—the final achievement by which He, the Yogi of Yogis, brings
  body and soul together, heaven and earth together, thereby bringing the world to salvation
  and blessing it with Liberation or Moksha.’</p>

  <p>Bruce, a tourist pro who liked the coaches to run on time and knew where the golf
  courses were, dealt severely with such stuff. He would pull us down behind the parapets of
  his scepticism, letting the strafe of mystical rhetoric fly harmlessly over our heads.</p>
  <p>Gwen, however, kept bobbing up and down, inviting the mind-blowing shaft of
  wisdom to do its worst;whereas I settled down in the muddy trenches of my selective and
  irrational reason, fingering over the jagged pieces of shrapnel crudely labelled as Facts.</p>
  <p>Bharata is supposed to have been an Indian sage who, more than two thousand years
  ago, formulated a comprehensive framework for the arts, which provides the theoretical basis
  even today for traditional dance dramas (including temple dancing) in their many regional
  and local forms.</p>
  <p>‘Natya’ means ‘drama with speech’, but Bharata Natyam is the generic term for
  Indian classical dance, particularly associated nowadays with Southern India and whose
  purest forms can be found in the Tamil districts.</p>
  <p>Bharata conceived of theatre as an amalgam of all kinds of media and genre,
  including music, mime, dance, gestures, decor and costumes, together with details of staging.
  The aim was the embodiment in theatrical form of spiritual states of being, and he
  distinguished between naturalistic representation, equivalent to the Greek mimesis, and the
  stylised conventions of the stage (natya).</p>
  <p>Many of his views seem very modern. Acting is a way of educating the audience by
  arousing the latent possibilities of aesthetic appreciation, an idea of which Sir Roy Shaw
  would no doubt approve; and the Sanskrit word abhinaya, which has been borrowed to cover
  many aspects of the actor's art, means to educate, or ‘lead the play towards the audience’.</p>
  <p>Abhinaya is separated in Bharata's teaching into four elements—Aharya, which
  relates to costumes, jewellery and make-up, Vachika, to speeches and songs by the actors,
  Angika, to bodily movements and gestures, and Satvika, to the expression of psychic states.</p>
  <p>The coding does not end there. Bharata lists the nine aesthetic emotions which are
  ‘experienced universally’, which include the erotic, the heroic, the pathetic, the wondrous, the
  furious, the fearful, the disgusting and the tranquil, all contained under Satvika.</p>
  <p>There are manifestations of these emotions considered more appropriate for men
  rather than women and vice versa. On the way back to the Ashok Hotel, I bored Gwen and
  Bruce by searching for Western analogies.</p>
  <p>A parallel which immediately sprang to mind was with Aristotle's Poetics. Like
  Bharata, Aristotle sought for a comprehensive description of the Greek theatre of his day,
  together with a wider justification of mimesis as an activity. His theories, too, provided a
  theoretical basis for the development of Western drama, gentrified by Boileau, suburbanised
  by Scribe, rationalised by Ibsen, adapted to the demands of the Oxbridge Eng-Lit courses by
  A.C. Bradley and very nearly gassed to death by Bertolt Brecht.</p>
  <p>Like Bharata, Aristotle drew his examples from mythology, which illustrated what he
  was saying and provided the supreme heights to which actors should aim. In Greek
  mythology, the gap between godlike and human behaviour is narrow, as it is in Hindu
  mythology, although the Hindi stress the divinity in all creation.</p>
  <p>Bruce fell asleep in the car, a remarkable feat against the blaring of the horn and the
  stopping and starting in the crowded streets. ‘It's the heat,’ he explained. ‘He has a blind
  spot,’ said Gwen, ‘with anything that you can't hit or eat.’</p>
  <p>Frankly, however, I was falling asleep too, with the effort of making comparisons,
  because the more analogies we found, the more obvious and fundamental the differences
  between Aristotle and Bharata became. These disparities, instead of confining themselves to
  two ancient sages better forgotten, seemed to spread outwards to encompass the gulf between
  Western and Eastern mentalities.</p>
  <p>They reflected upon those features of India which most irritated Bruce. ‘How is it
  possible?’ he would say. ‘How can you have one shop selling complicated Japanesecameras,
  while right next door, they're polishing precious stones on a lathe which consists of one
  wooden rod and a bit of string attached to a pedal? How can you have kids carrying baskets
  of stones on their heads, as if pulleys and wheels had never been invented, when you have
  elevators in every hotel? How can you build palaces, where the rooms are cooled by ducts of
  water, when you can't irrigate the fields? It's mad. The place is full of learned men, but
  nobody seems to have learnt anything.’</p>
  <p>‘It's a different find of wisdom,’ said Gwen. ‘Don't explain,’ said Bruce, ‘I'm tired of
  explanations.’ And so was I, and so was Gwen, but the alternative to explanation was to
  accept the presence of a mentality so alien to ours that its assumptions continually challenged
  and undermined our confidence.</p>
  <p>And so we simply had to go on explaining, and listening to explanations, until we fell
  asleep, in the attempt to reconcile India to our way of thinking, thus proving ourselves
  superior, for if we could understand them, it might pre-empt the possibility that they had the
  jump on us.</p>
  <p>Aristotle and Bharata was as good a point of departure for this exercise as any, for one
  was a descriptive theorist, the other prescriptive. Aristotle was concerned with emotional
  release, Bharata with fulfilment. Aristotle proceeds dialectically, with caution, from point to
  point, and enters into a debate with a formidable master, Plato. Would Aristotle have
  propounded his theory of catharsis, if Plato had not damned all fiction as causing the arousal
  of false desire?</p>
  <p>Aristotle's methods invite counter-argument, which is what they have received, to the
  present day; whereas Bharata's seek to embrace all points of view, each given its
  mythological reference, its place in a well-mapped universe where the gods are no less
  human than men and men no less divine than the gods.</p>
  In Aristotle, we can detect the origins of the scientific method, including the shedding
  of theories proved wrong by experience. The concept of evolutionary progress is inherent in
  Aristotle, absent from Bharata, for whom both theories and experiences are there to be
  refined by faith.</p>
  <p>Aristotle, moreover, was a man, with dates, who could be contradicted with impunity;
  whereas Bharata is merely the name given to the compiler of the treatise on the stage, the
  Natyasastra, written sometime between the 2nd century BC and the 2nd century AD.</p>
  <p>Bharata is probably an acronym from three words, Bha (from bhava, emotion), Ra
  (from rain, melody) and Ta (from info, rhythm). The Natyasastra is a holy scripture, the fifth
  Veda, and thus not to be contradicted, although it can be adapted, expounded, discoursed
  upon and, of course, explained ad infinitum. Its mastery of stage detail is extraordinary.</p>
  <p>The statuette in the museum could be analysed through the Natyasastra, as could the
  poses of Rukmini Devi. You can find out what hand movements signify the Beeor the Snake
  and how to develop a body language through dance as precise as deaf-and-dumb signs, as
  elegant as the ‘honeysuckle floating through the breeze’.</p>
  <p>It is as if our Bible had laid down instructions as to what kind of production would be
  most appropriate for The Sleeping Beauty at Sadler's Wells, and how it would have to be
  adapted for the Barbican.</p>
  <p>But it is not so rigid that it does not allow for regional variations nor, of course, for
  improvisation; and whereas in Western drama we can see how the theatre has progressed
  from its Greek origins, attuning itself not just to the needs of the times but also to the growing
  awareness of possibilities, the theatre based on the Natyasastra has developed in a different
  way, by a kind of accretion, layer upon layer of local interpretations built up and moulded
  like papier mâché on an intricate framework of theory.</p>
  <p>When in Britain, we want to produce a Greek tragedy, we have to undertake a massive
  re-construction job, as Sir Peter Hall did with The Oresteia, inventing our own masks
  (because the Greeks used masks), writing new music (because we know very little about
  Greek music), attempting to match in modern language the power of the original choruses
  and affecting a sophisticated tolerance towards ideas (such as the belief that the woman is
  merely the nurse to the male seed) which we know to be misguided.</p>
  <p>The result is something less than imitation, little more than a humourless parody. In
  India, however, not only can you find dance-dramas in villages whose pattern and identity
  have remained recognisably similar to those of their Vedic origins, and yet still vital, still
  attended by crowds; but also dancers who observe and train on the disciplines of Bharata.</p>
  <p>Hence, Westerners are confronted not just with a subcontinent, with more nations and
  languages than we find in Europe, but also one which has preserved different historical
  stratas, existing side by side, a country whose past does not have to be unearthed and pieced
  together from archaeological sites, but parades itself around us, timeless in the midst of
  change.</p>
  <p>In rural towns in Italy, in Greek villages, one can sense something of such continuity,
  which may partly derive from the nature of country life; but in India, with 700/ of its
  population living under (by Western standards) primitive peasant conditions, the demands of
  precarious survival operate against the taking of chances, hence experimentation that leads to
  development.</p>
  <p>John Kennedy Galbraith, a prototype Western liberal, for example, has described the
  Indian economy as ‘functioning anarchy’; but his gloomy fears that the agricultural
  revolution would not reach India in time to meet the demands of its growing population,
  were, he now admits, exaggerated.</p>
  <p>For reasons obscure to Western minds, India works, aided not so much by technology,
  still less by investment, but by its sustaining culture.</p>
  <p>The paradoxes of India were an affront to Bruce's sense of logic. If he'd stayed there
  much longer, he would have tried madly to tidy India up, to take on that Herculean task of
  ‘clearing the crap’ from Indian stables, the crap which formed the plaster of the walls in
  Indian villages, fed their files, fertilised their ground.</p>
  <p>Bruce left Delhi for Jaipur and came back in a high state of indignation, but laden
  with what he called trinkets. ‘There's an observatory there. It was built in the seventeenth
  century and it's laid out in a garden. You can calculate all the angles of the sun and moon
  from it, the positions of the stars, the shade required by buildings. Now you'd think, wouldn't
  you?, that a country so scientifically advanced three hundred years ago would have learnt by
  now how to use solar energy to power electric generators. What do they use it for? Astrology,
  for Christ's sake!’</p>
  <p>Gwen, who had been trying to persuade me to visit the astrologer and palmist at the
  Ashok Hotel, kept quiet. Bruce went on to talk about the primitive craftsmen in the street
  shops of Agra and Jaipur, turning out ‘these trinkets’, but you could tell by the way in which
  he handled a Krishna carved in ivory, a bracelet for a girl friend, a small inlaid box, that his
  eyes and fingers admired what his brain dismissed.</p>
  <p>‘You must speak to him, Gwen urged me privately, about the residentastrologer. ‘He
  knows everything. He told me things about myself that I'd quite forgotten, really private
  things. He says I'm due for a change in fortune. I can't say more.’</p>
  <p>But the astrologer's time was booked, and so was mine. I had an appointment to meet
  Kapila Vatsyayan at the Department of Education whose office, piled high with books, files,
  loose papers and folders, was a model of functioning anarchy.</p>
  <p>Dr. Vatsyayan is an authority on Indian theatre, a former dancer and the author of a
  pioneering study, Traditional Indian Theatre.’ Multiple Streams, whose clarity of thought and
  care with abstractions would have contented even Bruce. Her face was lined with authority,
  her eyes bright and welcoming, and she sat lightly at her desk, at ease but not desk-bound, as
  if ready to dart mentally in any direction.</p>
  <p>She had been called in to help with the Festival of India in London and we talked
  about the problems of presenting the exhibition on an Indian village at the Museum of
  Mankind.</p>
  <p>‘There is no such thing as a typical Indian village.’ she said. ‘There are many kinds of
  villages. You can't just photograph a few mud huts and say, “Here is a village”.’</p>
  <p>‘Isn't that the problem,’ I asked, ‘with the whole Festival?’ ‘It may be a problem, she
  said, ‘but the fact that it is insoluble is no excuse for not tackling it.’</p>
  <p>She asked me why I had wanted to come to India. ‘Let me explain . . ’I began, but
  found it difficult to do so. There were so many reasons, the sheer lure of the place being one,
  but also because I had found myself in London taking a condescending attitude towards all
  those Indian craft products in Kensington Market and Portobello Road, dismissing them
  (asBruce had done) as pretty trinkets.</p>
  <p>Another motive was the thought that over the summer, we would be bombarded by
  Indian exhibitions in London, Indian dancers and theatre troupes, about whose origins I knew
  nothing and yet, as a journalist, would be called upon to describe. Cultures uprooted from
  their environment and their civilisations quickly become nothing more than decorative kitsch,
  essentially meaningless because they have been separated from that which gives them
  meaning. the life of the unknown people.</p>
  <p>My Indian trip could give me nothing more than a slight taste of the reality which
  infuses Indian art, a tentative chew on a betel nut wrapped in a leaf, but that might be better
  than no taste at all.</p>
  <p>'Let me explain ’ I went on. ‘I think that many people in the West feel that we have
  come to the end of our methods of thought. We can't talk about evolution any more. We can't
  believe in the idea of technological progress. It's too dangerous. We'll either blow ourselves
  up or squander the earth's resources. We have to find some way of living in harmony with
  ourselves and with nature. And that is what we can learn, or think we can learn, from you .. .’</p>
  <p>It sounded very unconvincing. In Delhi, there are many signs that India is learning
  from the West, is absorbing the West, lock, stock and barrel. A strike of civil servants had
  been called for the following day, the middle-classes protesting against low wages; and Mrs.
  Gandhi's government, like Mrs. Thatcher's, was determined not to be shaken.</p>
  <p>But Dr. Vatsyayan responded not to the banality of my words, but to the groping
  uncertainty of the thoughts behind them.</p>
  <p>‘Let me explain ’ she said, and went on to talk about Hindu philosophy, rural
  development, the tribal territories, the mythologies, the practical problems in understanding
  them, the impact of the West, until the water level in my jug of explanations had risen several
  inches and was spilling over the sides.</p>
  <p>‘Please explain… ’ 1 said, when I wanted her to go on. 'Let me explain . ' I said, when
  I wanted her to stop. But time soaked up the explanations and grew dry in the heat again.</p>
  <p>Gwen, who had gone on to Kashmir from Delhi, phoned Bruce from her hotel. ‘It's so
  beautiful here,’ she said. ‘You just want to stand and look. You don't want to do anything in
  India but just look. It's such a giving place.’</p>
  <p>‘She's mad,’ said Bruce, in disgust. ‘Absolutely, totally mad,’ throwing his trinkets,
  one by one, into his case, ready to return home. ‘That's it,’ he said at last. ‘That's packed up
  India. If I stayed here any longer, I'd go mad too.’</p>
  <p>I had a few more days and was already plotting a second visit. Madness appealed,
  madness beckoned, madness that was wiser than our too calculated sanity.</p>
</div>
