<html>
  <body>
    <h1>THE ORWELL IN SUFFOLK</h1>
    <p>RUMOURS of 1984 were much exaggerated.</p>
    <p>The year is still young, and currently unremarkable, but if anything can be said with total
    confidence from the vantage point of an attic room in Shepherds Bush, it is that Big Brother
    is not watching me. I think. Of course, one of us could be sleeping  </p>
    <p>No, George Orwell was wrong, preaching hell-fire to the uncommitted, typical of the
    second-rate writer, anything for attention, scaring us rigid just to prove he could write, so that
    even now, when 1984 has quite innocuously begun, I still have the sneaking suspicion that
    behind the blandnesses of breakfast television, there may not be some other Presence staring
    out... ... which might, on reflection, explain a lot!</p>
    <p>Who after all would want to go through the trouble of being Frank Bough and wearing those
    cardigans if he were not concealing an ulterior motive, either on his own behalf or for others?
    Fashions change in dictatorships. Last year the staring eyes and the brillo-pad moustache, this
    year the cardigan and the cheerful 'What-has-the-weather-in-store-for-us-today?' at 7.0 in the
    morning... ... for Orwell, if I have understood him correctly and bearing in mind that Orwell
    was not his real name and so he never as Orwell existed except as a river in Suffolk, was
    concerned with the manipulation of the Citizen in Society ... and not the cheerfully extrovert
    manipulation of the Spanish Inquisition, all racks and thumbscrews, but the devious,
    underhand and shamelessly modern method of manipulation from within, the thumbscrews
    on the mind, or Rats as the case may be, in which case the manipulation might very well be
    unknown, hidden and unrecognised or, in short, as likely to appear in the apparently harmless
    disguise of a Frank Bough as in leather and jackboots...</p>
    <p>In which case... How would we know? We might very well be living in Orwell’s 1984 while
    believing that we were passing the time amiably with Bough’s 1984!
    </p>
    <p>And Selina Scott! Is she in the racket? ... for while I have nothing against them personally
    and nothing which could stand up in court and give evidence (if our courts any longer require
    evidence, which I doubt), the fact remains that I am here, so to speak, in this attic room,
    dreading the little buff envelope with Greetings from Gwent and the attention-grabbing letter
    marked CONFIDENTIAL from my bank manager, while they are there...</p>
    <p>With Russell Grant, rather over the cusp, if you ask my opinion...lounging around at 7.15 in
    the morning on a huge leather settee which some of us must have paid for out of our licence
    lees (and I can guess whom), chatting to interesting people and asking stimulating
    questions—as if there were no such thing as 9.00 and the start of a new working day, God
    help us!</p>
    <p>One has grown accustomed to many injustices in life but not such flaunting of privilege over
    breakfast.</p>
    <p>While Selina is probing Karl Marx about how he actually started to write Das Kapital and
    ‘did it come in a flash?’the rest of us, faceless in our attic rooms, are running around trying to
    get some order into our lives and some boiled eggs into our stomachs. .</p>
    <p>Or, to put it even more bluntly, while Frank Bough is thanking Sigmund Freud for coming on
    their little show and proving what a Renaissance man he really is, the rest of us are grappling
    with buff envelopes from Gwent in which some official, as faceless as we are, makes quite
    unreasonable demands on our overdrafts...</p>
    <p>For, while I would not go so far as to state that breakfast television is the acceptable face of
    the Inland Revenue, or of anything else, nevertheless this concatenation of circumstances at
    7.30 in the morning might lead one to suspect that Orwell, whoever he was, was right and
    that there is a certain amount of manipulation going on, in one direction or another. . .</p>
    <p>First the breakfast bouquets, and then the boot!</p>
    <p>Or vice-versa…</p>
    <p>and with Russell Grant asserting that it could be a happy day for Scorpios ‘if only you
    Scorpios can watch your nasty tongues’ but Aries should ‘sail through the day like the air
    sign that it is’, thus adding auspice to injury!</p>
    <p>It is, after all, only the unsubtle regime that resorts to terror and demagoguery and knee-jerk
    patriotism to get its own way and keep itself the right way up, power-wise, on the top and not
    on the bottom, the rulers and not the ruled. In Britain, as they say, we do things differently.
    </p>
    <p>After all, we are a democracy.</p>
    <p>Yes, contrary to that hell-fire preacher Orwell, it's one of the first things tourists actually
    notice about Britain, coming on their package tours from the Lubianka, how free we are, how
    radiantly free, walking about the streets as if we owned them, not hesitating as we briskly
    walk to the Underground ticket offices, not a glance over our shoulders as we buy tickets to
    the Barbican as if the authorities in their permissiveness really don't care who buys tickets to
    the Barbican, provided we buy them, and how we exercise that freedom by not buying return
    tickets from the Barbican in case, things being what they are, we lose ourselves when we get
    there...</p>
    <p>. .in that labyrinth of civic concrete!</p>
    <p>Yes, we Britons, as they say in the tourist brochures, never, never, never will be slaves. It's
    just not in the national character, whatever that may mean, we do what we're told of our own
    free will, which proves the strength and resilience of the British system (which has stood
    thetest of time) over all other systems in the world, thank God...</p>
    <p>. despite the charming, old-world vagaries of our voting methods, which ensure that our
    rulers since the war have been elected on a minority of the votes cast and not, as in other
    countries without our experience, on some specious majority, which may look more
    democratic on paper but in practice ... Well!
    </p>
    <p>What our system has proved—and I would like our dissident and now dead river in Suffolk to
    take notice of this—is that it is not necessary to have a mathematically fair voting system in
    order to live in a democracy…
    </p>
    <p>What we really need, and what undoubtedly we possibly achieve, is a National Consensus, so
    that around election time, that is, every other week, we can feel confident that, despite the
    evidence of the votes, Parliament represents the general will of the British people, give or
    take a few party differences, and it obviously must represent the general will, because
    otherwise we wouldn't panic at the sight of a buff envelope from Gwent and resolve, like
    Boxer, to work harder and give up eating and two-way trips to the Barbican in order to pay
    the unreasonable demands of a faceless official who continually asks the impossible of the
    invisible...</p>
    <p>… millions!</p>
    <p>Otherwise if we didn't feel that the faceless official carried with him or her the mandate and
    imprimatur of a National Consensus of the BritishPeople, some of us would be sorely
    tempted to return that buff envelope to whence it came, namely Gwent, with the brief
    response, ‘Get knotted!’</p>
    <p>..for it is a matter of considerable puzzlement to me, in my attic room in Shepherds Bush (or
    is it mine any longer?) that year after year the National Consensus, which I non-slavishly
    obey, includes me out...</p>
    <p>and no government gets elected even on a minority of votes to which I would give attic room,
    year after year!</p>
    <p>…and that somewhere national consensuses all over the world are deciding that we really do
    need Cruise missiles and SS20s and similar gadgets of a teasingly apocalyptic nature and that
    we shouldn't bother about world famine just yet...</p>
    <p>Year after year!</p>
    <p>. and that nobody I've met actually belongs to a national consensus, if you dig beneath the
    surface… which makes one wonder what constitutes a quorum for a National Consensus, is it
    one million? or 100,000? or 100? or 10? And is there an Hon. Sec. who takes apologies for
    absence, and counts the heads, and says, ‘Right, lads, we have a National Consensus!’?
    </p>
    <p>(And there's Selina, still unmarried, they tell me, dimpling provocatively, as she asks
    Benjamin Disraeli when he actually hit upon his One Nation theory and has it made any
    difference to his family life?)</p>
    <p>And should I be writing to this Hon. Sec. to apologise for not turning up to the National
    Consensus today and would he therefore table an amendment to the Steering Committee of
    the National Consensus to the effect that this year I do not actually want to work from dawn
    to midnight to pay for apocalyptic gadgets and Fortress Falklands and Cumbrian
    Contamination and other people's redundancy benefits, cause by last year's National
    Consensus, when I would really be quite happy pottering about in Southwold, where the great
    river Orwell sweeps down to the sea?</p>
    <p>And how, to degenerate to details, does one actually address the Hon. Sec. of the National
    Consensus? 1s he a Right Hon., or a lord, or a Permanent Civil Servant, or an equerry to the
    Prince of Wales? Or Comrade* Or Brother?</p>
    <p>In which case how can one indicate the significance of his role as convenor and spokesperson
    of the National Consensus without infringing upon the true egalitarianism of his function?
    Except by some epaulette like Big.
    </p>
    <p>And would he let me off anyway?</p>
    <p>Would he accept the general tenor and burden of my argument that, since I cannot in all
    honesty belong to his National Consensus, and have sent formal apologies for my absence, I
    should not be expected to pay the membership fees, namely taxes?</p>
    <p>Or would he dismiss my arguments as irrelevant?</p>
    <p>Particularly if I addressed the letter wrongly, in which case it might never arrive.
    </p>
    <p>Would he argue that since the National Consensus exists, however arbitrarily conceived, I
    cannot opt out of my obedience to it without becoming some kind of non-person?</p>
    <p>In which case, he might demonstrate his disapproval of non-people by putting me in a special
    reserve for those who opt out of their social duties unilaterally, so to speak, such as a prison
    or a hospital or a half-way house where I can learn the full extent of my civic responsibilities
    to the very heart of the apocalypse….</p>
    <p>…in time to be released for the grand incineration...</p>
    <p>In which case.. .</p>
    <p>. no wonder I cut myself shaving at 8.15 in the morning, half-way between the boiled egg and
    the cheerful crush to the Barbican, no wonder the wrist unlocks itself and the sinews slacken,
    no wonder the arm rebels and holds itself aloof from the effort of making myself presentable,
    no wonder the blade hovers irresolutely over that area of the neck which harbours a half-way
    house for the jugular...</p>
    <p>a two-edged blade as well...</p>
    <p>.in case I miss cutting myself the first time. .</p>
    <p>No wonder I look to the big screen for reassurance, to see how normal people behave at 8.20
    in the morning, exorcising aerobically and consulting their stars, no wonder the cosy cardigan
    of Frank Bough intrigues me with its sheer absence of loose threads, no wonder that a kind of
    dependency grows on these people who can thus fearlessly ask penetrating questions of the
    mighty over marmalade and toast, no wonder that a kind of gratitude (if oblique) warms
    towards the BBC who have thus thoughtfully offered an image of democracy in action and
    how it copes with excess fat and the weather and traffic jams on the MI because...</p>
    <p>Otherwise. . .</p>
    <p>we would have no picture of the National Consensus at all and we would be paying for our
    toys of armageddon in a vacuum as it were… without rhyme or reason. .</p>
    <p>…like zombies trailing through the unfinished sentences of our lives. . which would be
    Orwell’s 1984 in action, not fiction.</p>
    <p>But Eric Blair, the faceless paranoid with social democratic tendencies, who took the name of
    Orwell from that sluggish river which winds its way through the fens of Suffolk to meet the
    great grey sea at Southwold, had no idea as to how 1984 might actually turn out, in reality, as
    it were, after the sparkle and sludge of the sixties and seventies.</p>
    <p>He was just guessing.</p>
    <p>And similar paranoids should bear that in mind…</p>
    <p>We have been warned.</p>
    <p>March 1984</p>
    <p>[Author’s note: George Orwell’s novel, 1984, written in 1949, presented a nightmarish vision
    of a totalitarian state. It was used in the post-war years as a parable about a socialist paradise
    which went wrong. Was the real 1984 in a freedom-loving attic room in Shepherds Bush
    much better?]</p>
  </body>
</html>
