<div class="plantingtreeimg">
  <div class="cardsdis container-fluid">
    <div class="img-container">
      <%= image_tag("trialerotictheatre.jpg", class: "wid50 me-5") %>
    </div>
    <div class ="text-container">
      <h1 class="size3">Erotic Theatre</h1>
      <h4 class="size7">John Elsom</h4>
      <h3 class="size7 cite2">Secker (UK) 1973, Taplinger (US) 1974, Dell (US) 1975</h3>

       <%= link_to "Want to read?", contactform_path, class:"mainbutton2 black-outline-button" %>
      <%= link_to "More about the author?", about_path, class:"mainbutton2 green-outling-button ml-3" %>
    </div>

  </div>
  <div class="col-m container-fluid sizebooks pt-3">
        <p>‘In olden days, a glimpse of stocking was looked on as something shocking but now, God knows, anything goes.’ Cole Porter →Anything Goes </p><p>

        Theatre reflects the changing social attitudes towards marriage, gender identity and what kind of behaviour is considered acceptable (or not). Erotic Theatre described two such cycles in theatre history – from 1890 to 2010, and from 1950 to 1970.  In the first, society emerged from Victorian prudery to Edwardian New Women, from Mrs. Beaton to Mrs. Warren’s Profession.

        Those who grew up during the 1950s were clear about their priorities: ‘Make love, not war’ was the slogan on their banners. There was a new permissiveness, expressed in the Bond movies, strip clubs, and the relaxation of laws against homosexuality. This provoked a hostile reaction from Mary Whitehouse’s Festival of Light, a Christian revivalist movement whose censorious spirit was shared by Margaret Thatcher.

        Topics: The Two-way Mirror; The Insolent Mistress; Marketing Virtue in London; Nora, Flora, and Laura; Lulu Dancing; Essentially…a Man of the World; Genet and the Sadistic Society; the Future Past; Up Propriety; the Exhilarating Descent.</p><p>

        ‘I can think of no other British critic with the knowledge, unflagging curiosity and modesty to have written [this book].’ Irving Wardle, The Times.</p><p> (→further press)

        ‘This book has made me think. It has taught me things that I did not know before, and it has challenged some assumptions that I have been too ready to accept…’ John Trevelyan CBE (Secretary of the British Board of Film Censors, 1958-71) (→further public reactions)

        →Post War British Theatre, Journalism (reviews), Charges against Christianity (BBC 1960)
        </p>
  </div>

</div>
