<div class="container-fluid">
  <div class="container-fluid">
    <h1 class="text-center p-4 size3"><strong>International Magazine</strong></h1>
  </div>
  <div class="text-center">

    <%= image_tag("NFA2.jpg", class: "img_test") %>
  </div>
  <div class="pt-3">
    <p class="sizebooks">As an independent writer, John has contributed to a wide number of newspapers and magazines, world-wide, including (in the UK): The Observer (guest critic, 1972, and magazine feature writer), Sunday Telegraph, Mail on Sunday, Prospect, New Democrat (arts editor), Gambit, Plays and Players, Yorkshire Bylines, and The New European. Elsewhere, he has contributed articles for: The San Diego Union, Moscow News, Jordan Times, New European Review (on-line), Assaig de Teatro and Critical Stages (IATC/AICT online magazine).</p>
  </div>
</div>
