<h1>no fixed abode</h1>

<p>As an independent writer, John has contributed to a wide number of newspapers and magazines, world-wide, including (in the UK): The Observer (guest critic, 1972, and magazine feature writer), Sunday Telegraph, Mail on Sunday, Prospect, New Democrat (arts editor), Gambit, Plays and Players, Yorkshire Byelines, and The New European. Elsewhere, he has contributed articles for: The San Diego Union, Moscow News, Jordan Times, New European Review (on-line), Assaig de Teatro and Critical Stages (IATC/AICT online magazine).</p>

<%= image_tag("NFA2.jpg") %>
