<div class="container">
  <div class="container">
    <h1><strong>No Fixed Abode</strong></h1>
  </div>
  <div class="d-flex justify-content-around align-items-center">

    <%= image_tag("NFA2.jpg", class: "img_test") %>
    <div>
      <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
    </div>
  </div>
  <div class="pt-3">
    <p>As an independent writer, John has contributed to a wide number of newspapers and magazines, world-wide, including (in the UK): The Observer (guest critic, 1972, and magazine feature writer), Sunday Telegraph, Mail on Sunday, Prospect, New Democrat (arts editor), Gambit, Plays and Players, Yorkshire Bylines, and The New European. Elsewhere, he has contributed articles for: The San Diego Union, Moscow News, Jordan Times, New European Review (on-line), Assaig de Teatro and Critical Stages (IATC/AICT online magazine).</p>
  </div>
</div>

<div class="card container" style="width: 18rem;">
   <%= image_tag("political-system1.jpg", class: "img-card-top img_size_l") %>
  <h5 class="card-title">Clearing out the attic: why our political system needs a complete re-think</h5>
  <p class="card-text"><%= link_to "find out more", "https://#{"yorkshirebylines.co.uk/politics/clearing-out-the-attic-why-our-political-system-needs-a-complete-re-think/"}"  %></p>
</div>
