<h1>IN LABOUR</h1>
<p>An interview with the Rl. Hon. William Rodgers, M.P </p>
<p>On August 1, 1980, three former Labour cabinet ministers, Shirley Williams, Dr. David Oven
and William Rodgers, published an 'open letter’ to the Labour Party, in which they criticise
the draft manifesto of the Labour Party's National Executive Committee and certain trends
within the party. ‘There has been a sustained attempt to commit the party to inflexible
policies based upon bureaucratic centralism and state control, policies that offer no
improvement in the quality of life here in Britain and that appeal only to a minority of
doctrinaire party supporters.’</p>
<p>John Elsom interviewed William Rodgers at the House of Commons on August 5</p>
<p>John Elsom: Mr. Rodgers, in the open letter you say that the Labour Party is facing ‘the
gravest crisis in its history’: and yet several aspects of this crisis seem depressingly familiar.
Why should you insist that this is currently the gravest crisis?
</p>
<p>William Rodgers : The principal reason is not just Labour's defeat in the general election of
May, 1979—although if you look at the figures for that election, they were serious enough,
with only 28% of the electorate voting Labour, coupled with the fact that we did very badly
among the young and that we are now in Parliament virtually a party of north of England,
apart from Scotland and Wales, not of the south. But our vote has been suffering a steady
erosion since the early 1970s: the results were not just caused by the winter of discontent. I
believe that a significant body of opinion in this country, more than half, would prefer a
left-of-centre government of conscience and reform; but that they have been losing faith in
the Labour Pany's capacity to provide such a government. Tn that sense, it is the sort of crisis
which the Labour Party has not faced since it became established, more than 50 years ago.</p>
<p>John Elsom: But it isn't just the decline of the vote, is it? In your letter, you mention various
specific issues, about the quarrels withiri the Labour Party over the Atlantic Alliance, over an
incomes policy and other matters: but aren't the current internal conStitutional questions of
particular importance now? In the past there have been many such debates, about unilateral
disarmament versus the multilateral approach, about Clause 4; but now do you think that
there is reason to believe that a disaffected minority within the Labour Party is going to use
its constitutional powers to get its own way? Isn't that the fear?</p>
<p>William Rodgers: Over many of fhese issues, it is true, there have been continuing debates. In
another form, for example, the proposed withdrawal from NATO is a recurrence of a debate
which we had in 1935, when pacifist George Lansbury had a standing ovation at the party
conference, which then voted for Ernest Bevin and collective security.</p>
<p>But there are really two additional factors today. Firstly, there has been. despite the
present high level of unemployment, a very significant change in the nature of the country. It
has been transformed over the past 35 years. Standards of living are much higher,
expectations are higher and there isn't the same sense of group loyalty, of solidarity. That is
new, and it provides the backcloth against which the debate about the constitution is taking
place.</p>
<p>There are two sorts of party that you can have. I am talking now of the British
situation, because you can only relate the role of any political party to what has gone before,
to its own traditions, and not to what has happened to the Swedes, the Germans or the French.
There is the bi-polar party which means a parliamentary party with a large measure of
independence (which is what we've had in the Labour Party since before the First World War)
and a separate centre of policy-making, of power, in the National Executive Committee. The
members of parliament represent the Labour voters: the National Executive represents the
Labour activists.
</p>
<p>That's one system, a bi-polar party, which works because each side recognizes the role
of the other, because there is a high degree of tolerance, and a substantial overlapping of
persons. The alternative is to have a much more centralised organisation, such as the
Conservatives have, where the writ of the leader, in this case Mrs. Thatcher, runs strongly
everywhere.
</p>
<p>You don't seriously have another centre of policy-making, other than the leader and
the parliamentary party of which she is part. But if you have a centralised party, then the
centre must be representative of all its parts.
</p>
<p>That's what much of the present debate is about. You can either have a bi-polar
Labour party. with a balanced relationship of confidence between the poles, or you can have a
much more centralised party.</p>
<p>What some people now want, however, is two poles. but with one very heavily
weighted in favour of the extra-parliamentary pole, the National Executive Committee,
representing the party activists.</p>
<p>That is a very serious development. It diminishes the role of MPs and thus the role of
parliament itself; and it diminishes the relationship between the party and the public whichthe
MPs are meant to serve. The Labour Party doesn't exist to satisfy the emotional aspirations of
its activists. It exists to serve the people of this country. to improve their condition and to
build a more egalitarian societybut one which is essentially free in the way we know.
</p>
<p>John Elsom. Can you say whether thèse activists are small or large in number?
</p>
<p>William Rodgers. It's very hard to tell. They're not easily characterised. There are many local
Labour parties where the activists arc like our traditional party workers—schoolteachers of
one kind or another, active trade unionists, people in the professions. Some are men and
women of the legitimate left, but equally they are of the centre and right; and they accept that
there is a role for MPs representing their constituencies</p>
<p>Some local parties haven't changed at all, but an increasing number are dominated by
small groups of often quite new members, and they are not concerned with tolerance or any
kind of compromise or general understanding. They are concerned only with their own power
and with pushing the party farther to the left. They want the MPs to do what the activists tell
them to do, rather than what they, the MPs, believe to be right, as the result their know1edge
of the electorate.</p>
<p>John Elsom. These new activists, therefore, would regard the MP as a delegate, expressing
their point of view; whereas representative democracy, to use your phrase, implies that the
MP is a representative of a wider electorate than the party activists and therefore has to be
given a considerable degree of independence.</p>
<p>William Rodgers: That's right. The traditional, and in my view absolutely justified, position is
that the MP's duty is to represent all his constituents and he's got to have a feel for what they
want. He isn't simply the creature of a relatively small number of people, who may be very
unrepresentative even of Labour voters.</p>
<p>John Elsom: Do you think that the new activists' case is strengthened by what I would believe
to be a widespread disaffection with parliamentary democracy, as it stands? Do you think,
firstly, that there is this disaffection and, secondly, that the activists can make capital from it?
</p>
<p>William Rodgers: I don't think that there is disaffection with parliamentary democracy. What
I think is true is that successive governments have failed to solve this country’s economic and
industrial problems. We had five years of austerity after the war, then 10 years of boom
during the 1950s. Then. all of a sudden, the chickens came home to roost. We realise now
(but wc didn't then) that we were seeing the symptoms of an industrial decline which had
begun before 1914. There is not disillusion with the system, but a knowledge that successive
governments have bæn unable to give the people what they broadly want, which means
significantlyrising standards of living and an improvement in their community services.
</p>
<p>Other governments with mixed economies have managed to do this, the Germans, the
French, even the Italians. But in Britain governments have not found the answer, which has
not disillusioned people with parliament itself, but made them more sceptical about their MPs
and much more discontented.</p>
<p>Unemployment is a classic example. Young people who are out of work when they
want to be in work, don't blame themselves—and why should they?—and not the system, but
the established political parties, the established politicians.</p>
<p>John Elsom. In canvassing, I have found many who feel that their points of view on various
matters are just not represented in parliament in any way. They may feel strongly about the
nature of the Atlantic Alliance, about the Brandt Commission, about ecology, all thèse
separate issues which somehow rarely surface because the broad 19th century coaliüons of
power are still surviving. Do you think that a feeling that the parliamentary procedure is
getting out of touch with the issues with which many are concerned, could contribute to this
disaffection?</p>
<p>William Rodgers: I don't think so. Parliament is more open and receptive nowadays—and
MPs more independent of mind. When I came into parliament, nearly 20 years ago, there
were a number of rather older trade unionists who were, quite frankly, the ballast of the ship
of parliament. They didn't contribute very much to the parliamentary process—nor did the
knights of the shire on the Tory side.</p>
<p>Nowadays, you have more MPs with talent and energy, and far more hardworking.
You find more Labour MPs who are more unwilling to let their govemment get away with
anything, even when that government is in power with only a tiny majority. And although
Mrs. Thatcher is in a very dominant position in parliament, you will find that her own
backbenchers are prepared either to vote against her government's policies (except on
censuremotions) or to abstain.</p>
<p>The quality of our select committees has been an extraordinary development. I have
been in favour of them from the beginning, because they mean that MPs can exercise power
against the government of the day, and can call witnesses from the public, either
individuals.or groups. and not only commercial interests, but ecological views too, Friends of
the Earth or whoever they may be. There's more access to Ministers and certainly to MPs.</p>
<p>John Elsom: Yon don't think that proportional representation would be any sort of answer?</p>
<p>William Rodgers. There may be a case for proportional representation, but I don't think that
that would necessarily mean that you would have a large number of MPs representative of
minority interests. You wouldn't get that under any tolerable PR system.
</p>
<p>Under the present system. most minorities will find their spokesmen, within the
parties, who are prepared to try to manipulate the party system to the advantage of the groups
on whose behalf they are speaking. or will stand out against the party. If you were to argue, of
the Labour Party, that we should widen democracy by bringing every party member into an
enlarged role, there is a great deal to be said for that.</p>
<p>Let us say that we have a quarter of a million party members, I'd A very surprised if
more than 1 in 10 of thèse members has a sîgnificantly active role with the party on a
committee of any kind. If you are going to change tèe constitution of the Labour Party
(bearing in mind that I am in favour of the bi-polar system), then the désirable thing would be
to bring all thèse people into the decision-making process.</p>
<p>It is quite ridiculous that in a constituency where there may be, say, 30,000 Labour
voters, and, say, 3,000 Labour party members (although that would be quite exceptional ), the
parliamentary candidate should be chosen by, say, only 30 of them, or less than 100.</p>
<p>John Elsom: In the Labour Party, you have on many issues several quite separate, aad in some
cases, quite opposite, points of view. They may be valid in themselves or there may be a
certain amount of gussswork as to which is right; and yet the force of the nature of politics is
that you have to vote aa a block, or try to maintain an uneasy compromise between what are
essentially opposite points of view.</p>
<p>Defence would be an example. There is a case which supports a common defence pact
with the US and other Western nations; and one which supports unilateral disarmament; or
another which seeks a different kind of arrangement with non-aligned countries..
</p>
<p>Thèse views are completely opposed and they can’t really be contained within one
party without imposing very severe strains. If you believe that, by expressing your point of
view on a basic issue like that, you are splitting your party, or that you may be bringing the
Tories into power for another ten years, aren't you in danger of burying these issues down so
deep that they never get properly discussed at all?</p>
<p>William Rodgers: Well, you have 268 Labour MPa and you have probably got 268 separate
potential parties there. because they are individuals. I doubt indeed, if you put David Steel and Cyril
Smith together, they would have a great deal in common, but nonetheless they find it desirable to
share a political identity as Liberals.</p>
<p>John Elsom: We are not talking about differences of opinion, but about very major policy issues!</p>
<p>William Rodgers: Well, wc arc talking about where you draw the line. Of course, among the 268
Labour MPs you can begin to classify and put into groups But you are bound to bring together some
groups which would have a lot in common. but also a lot pulling them apart. What is true of the
Labour Party is also true of the Conservatives. Is it better that this country should haVe two or three
majœ established partieS, or a dozen? It may bc true that the Labour Party is a coaliüon which one
day will break up. It may be better for British politics that this should happen. but I don't think that
you can make any presumptiœi in advance about how many parties there should be.</p>
<p>John Elsom: How many Labour MPs would support, do you think?, the three major constituents in
your open letter - to the mixed economy, to the support of ‘truly international socialism’ and the
‘unshakeable commitment to representative democracy’?</p>
<p>William Rodgers: If we had taken our open letter around the Parliamentary Labour Party as a kind of
manifesto, I do not think that we would have had much difficulty in getting the support of
three-quarters of Labour MPs - two thirds, at most.</p>
<p>John Elsom: But suppose that the National Executive at the party conference succeeded in getting its
own way on the draft manifesto (which would be so opposed to yours), this would mean, according
to what you have just said, that two-thirds of the parliamentary Labour Party would be opposed to it.
What would be the next step?</p>
<p>William Rodgers: That’s extremely hard to tell. The constitutional ways of the Labour Party are
labyrinthine. It would depend a great deal on whether the rules had actually been changed, because
you can pass a motion in favour of change, but that is not in itself a change. It would depend upon
other factors as well.</p>
<p>If you take a series of issues - which conference might or might not carry - then if ten were
carried one way and ten were carried another, then the matters would be far from clear-cut. You
would have to find a balance, and the difficulty would then be in judging who’s won and who’s lost.
</p>
<p>And even if the question of the manifesto were to be, as it were, ‘lost’, it would depend a
very great deal upon how that was interpreted, in terms of how the manifesto were to be drawn up
by the National Executive, in consultation with the Parliamentary Labour Party.</p>
<p>If the crunch came, the Parliamentary Labour Party would simply say that the manifesto was
unacceptable. If the manifesto were crazy, a lot of MPs would say, ‘I’m not going to fight under that
manifesto’ and simply disown it. They might fight as Labour MPsw but say that the manifesto was
nonsense; or they might decide not to fight as Labour MPs at all.</p>
<p>John Elsom:You have said that there are labyrinthine ways to block a manifesto with which the
majority of MPs might disagree; but doesn’t this also mean that these labyrinthine ways can be used
to block any change? In your statement you talk about the way in which ‘our institutions’ are
‘resistant to change’, but you also say that a new party would have no roots.
</p>
<p>William Rodgers: A new Centre Party…</p>
<p>John Elsom: A new Centre Party would have no roots or no political philosophy! It seems to me that
here you have a political party which is resistant to change because there are so many ways of
blocking change - and yet an alternative party in your view would have neither roots nor a
philosophy. Change, in other words, can come neither from within nor without!
</p>
<p>William Rodgers: No, I don’t say that. We say that a new Centre Party would have no roots or
philosophy, one that takes its position some way from Labour and some way from the Tories. Such a
party would not have enough genuine coherence.</p>
<p>John Elsom: What about the Liberal Party?</p>
<p>William Rodgers: The Libéral Party is very much a case in point. The Liberal Party stands there, it
does provide a convenient vehicle for a proportion of people who like to vote Liberal…
</p>
<p>John Elsom: Would you say that thèse people are without roots or a philosophy?</p>
<p>Williams Rodgers: No, not necessarily. There is a limited number of people who come into that
category. and a lot of people who vote Liberal are, of course, protest voters. The Liberal Party has not
been in power for donkey's years and is not going to get into power for donkey's years. Therefore if
you are a Liberal, you can be protesting against other political parties. You can have the satisfaction
of adopting an attitude without the responsibility of carrying it through.</p>
<p>Now I think that it is a good thing that the Liberal Party exists: æd there are people in it of
deep personal conviction. But there is a great deal of difference between having deep personal
convictions and translating these into the reality of a political party with a philosophy.</p>
<p>The Liberal Party provides a vehicle and I'm pleased that it dœs. But chat doesn't mean that
you can build it up into a credible alternative to, if you like, a rump Labour Party which has gone so
far to the left that nobody supports it anymore, or to a Conservative Party.</p>
<p>What you have got to do is to build a new pillar which stands very much in the position that
the Labour Party has always stood. That doesn't mean, as wc say in our statement, a party of
monopolised nationalised industries; ner a party more preoccupied in gazing at its own navel than in
looking at the problems overseas and particularly of the Third World.</p>
<p>There is room for a new radicalism, which nevertheless represents a coherent position in a
Labour tradition, a Democratic Socialist tradition. If the Labour Party abandoned its traditional
ground, it wou1dn't be an old-fashioned party which took its place, but a new radical party, looking
towards the future.</p>
<p>September 1980</p>
