<h1>Second Time Round</h1>

<h2>Ion Dacian Theatre, Bucharest, award-winner at the International Festival of Music Theatre in 2011.</h2>

<h3>Script by John Elsom, music by Wayne Warlow, directed by Philip Parr</h3>

<p>A divorced lawyer, Caroline, wants to find an alternative to marriage. She would like to have a man around, ‘just outside my space’, who will work for her as a general handyman. She searches on the Internet and finds Vlad, in his fifties from Slobozia in Romania. Both are looking for an opportunity to lead a new life, ‘second time round.’
In the new post-communist Romania, Vlad dreams of becoming a Western style businessman. He wants to build a bistro and petrol station in his home village on the ‘second best road’ to Constanza, where he has a wife and a son. Caroline finds an American friend, Greg, to invest in his scheme, which she plans to use as her holiday home.
But their lifestyles do not easily match. Vlad is puzzled by capitalism and borrowing money, disguised as investment. Caroline has fallen in love with him but cannot face the prospect of life in a small village with four generations of Vlad’s family, washed down with Polinka. They wave goodbye sadly at Heathrow airport.
Scripts in English and Romanian available on-line.
Cast: four main characters (two men, two women) with a small team of dancers/singers.
</p>
