<div class="plantingtreeimg">
  <div class="cardsdis container setposition">
    <%= image_tag("missingthepoint.jpg", class: "wid50 me-5") %>
    <div class ="wid50 tealign">
      <h1>Missing the Point </h1>

      <h3>The Lutterworth Press (2007)</h3>
       <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>


    </div>
  </div>

  <div class="col-m container">
    <p>Culture (= the way in which we think) dominates politics, not the other way round. Missing the Point described the myths and narratives at the turn of the 21st century when the European Community (EC) became a Union (EU) and the alliances of the Cold War unravelled.
    Its sub-title was the rise of High Modernity and the decline of everything else. High Modernity was a term used by Anthony Giddens, a political philosopher who influenced the governments of Tony Blair. It rejected the polarities of the class system and embraced an enlightened capitalism, in which science and information technology played a leading role. ‘Values’ took second place to ‘facts’; and impartiality veered towards moral equivalence.
    Topics: The Millennium Dome; Man at the Mercy of Measurement Systems; the Trouble with Artists; the Irish Peace Process; Perception Management; the Declining Skills of Rhetoric; the Taming of the Beeb; the Shaping of Experience.
    ‘A stimulating and challenging book that no-one with the slightest interest in politics, the arts or the media can afford to miss…’ Anthony Howard, former editor of the New Statesman.
    →The Man of the Future is Dead
    </p>
  </div>
</div>
