<h1>Make it informal and fun/sadness of sally/ horror of hiroshima</h1>

<h1>*"family tree"****** of the credit of a movie!!</h1>


<div class="d-flex align-items-center randombackground mb-3">
  <div class="container">
    <h1>Random Contemplation</h1>
    <h3>Embrass the randomness</h3>
  </div>
</div>


<div class="container ">
  <div class="vid_row">
    <div class="vid_col">
       <%= image_tag("KWK_Breakdance.jpg", class:"feature_image") %>
    </div>
    <div class="vid_col">
      <div class="small_img_row">
        <%= image_tag("Z_KWK_In Nam_soon_3.jpg", class:"plays_image_s") %>
        <p>Testing</p>
      </div>

      <div class="small_img_row">
        <%= image_tag("KWK_Stem.jpg", class:"plays_image_s") %>
        <p>Testing</p>
      </div>

      <div class="small_img_row">
        <%= image_tag("Z_KWK_Ongals_2.jpg", class:"plays_image_s") %>
        <p>Testing</p>
      </div>

    </div>

  </div>

</div>


<div class="video_player">


  <div>
      <div class="embed-responsive embed-responsive-21by9">
          <video controls width="100%">
            <source src="/videos/Hiroshima_1945.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      </div>

    <div class="embed-responsive embed-responsive-21by9">
        <video controls width="100%">
          <source src="/videos/Memories_of_marriage_1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="embed-responsive embed-responsive-21by9">
        <video controls width="100%">
          <source src="/videos/Remembering_Sally_2.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="embed-responsive embed-responsive-21by9">
        <video controls width="100%">
          <source src="/videos/SPRING.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
