.mainbackground{
    background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('seed2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.booksbackground{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('sapling1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
  width: 100%;
}

.playsbackground{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('acorngermination.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: 70vh;
  width: 100%;
}

.randombackground {
  background-image: url("https://res.cloudinary.com/daaxwngzv/image/upload/v1696419514/young_oak_nnovba.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
  width: 100%;
}


.randomround{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('spinningagain.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}


.half-and-half{
  background:linear-gradient(to top, #FFFFFF 0%, #FFFFFF 37%, #dfdfdf 37%, #e1e0e1 100%);
  margin: 0 auto;
}

.aboutBanner{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(101,157,189,1) 100%);
}

.aboutColor{
  background-color: #daad86;
}

.plantingtreeimg{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('young-tree-shoot.jpg');
  background-size: fill;
  background-repeat: no-repeat;
  background-position: bottom -100px right 5px;
  height: 100%;
  width: 100%;
  color: black;
  text-shadow: #FFFFFF;
}

.curtainsbackground{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('curtains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.paleorangebackground{
  background-color:rgba(255, 213, 128, 0.5) ;
}

.deeporangebackground{
  background-color: rgba(255,179,71, 0.5);
}

.deepchestnut{
  background-color: rgba(185,78,72, 0.5);
}

.skyblue{
  background-color:  rgba(135,206,235,0.5);
}

.lightgreybackground{
  background-color: rgba(211,211,211,0.5);
}

.sagebackground{
  background-color: rgba(188,184,138,0.5);
}

.deepskyblue{
  background-color: rgba(0,191,255,0.5);
}

.journalbackground{
  background-image: url("https://res.cloudinary.com/daaxwngzv/image/upload/v1696439195/oak_leaves_d5n6v3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vh;
  width: 100vw;
}

.aboutbackground{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('tree_roots.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.contactformbackground{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('forestbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}



.fillerbackground{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('tree_roots.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.friendsandfamilybackground{
  background-image: cl_image_tag("pine-trees_dcadtu");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.oldboybottom{
  padding-bottom: 10%;
}

.peacemakerbackground{

    background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('Peacemaker02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
    width: 100%;


}
.mauibackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('maui3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  width: 100%;


}
.onemorebullbackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('onemorebull1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  width: 100%;


}

.wellintentionedbuilderbackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url("thewellintentionbuilder_edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  width: 100%;


}

.malonediesbackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url("melonedies01_edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
  width: 100%;


}

.heddagablerbackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url("heddagabler02.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 55vh;
  width: 100%;


}

.themanofthefutureisdeadbackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url("ukraine_wong-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;


}

.secondtimeroundbackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url("STR1_edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;


}

.oldboybackground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url("Old_Boy_edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 40vh;
  width: 100%;


}

.worldwithinground{

  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url("worldwithin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 45vh;
  width: 100%;


}
