.mainbackground{
    background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('seed2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.booksbackground{
  background-image:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), image_url('sapling1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
  width: 100%;
}
