/* CSS for a white outline button */
.white-outline-button {
  color: #f8f9fa;
  border: 1px solid #f8f9fa; /* Adding the border */
}

.white-outline-button:hover {
  color: #000; /* Text color on hover */
  background-color: #f8f9fa; /* Background color on hover */
  border-color: #f8f9fa; /* Border color on hover */
  text-decoration: none; /* Remove underline on hover */
}

/* Apply the white-outline button style to the mainbutton class */
.mainbutton {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.1vw solid white;
  padding: 1vw 2vw; /* Using vw units for responsive padding */
  font-size: 1.2vw; /* Using vw units for responsive font size */
  line-height: 1.5;
  border-radius: 0.5vw; /* Using vw units for responsive border radius */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.green-outling-button {
  color: #28a745;
  border: 1px solid #28a745; /* Adding the border */
}

.green-outling-button:hover {
  color: white; /* Text color on hover */
  background-color: #28a745; /* Background color on hover */
  border-color: #28a745; /* Border color on hover */
  text-decoration: none; /* Remove underline on hover */
}

.mainbutton2 {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.1vw solid #28a745;
  padding: 1vw 2vw; /* Using vw units for responsive padding */
  font-size: 1.2vw; /* Using vw units for responsive font size */
  line-height: 1.5;
  border-radius: 0.5vw; /* Using vw units for responsive border radius */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
