.cards{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.cards2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
}

.cards3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
}

.cardsbooks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

}

.journalismcardslayout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
