
.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
}

.navbut{
  color:white;
  font-weight: bold;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
}

.navbut:hover{
  text-decoration: none;
  color: #00E676;
}

.logo:hover {
  text-decoration: none;
  color: #00E676;
}

.menu ul li:hover{
  text-decoration: none;
  color: #00E676;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;

}

nav ul {
  line-height: 60px;
  list-style: none;
  overflow: hidden;
  color: #fff;
  padding: 0;
  margin: 16px 46px;
  transition: 1s;
}

.blackback {
  background-color: #000;
}

nav ul li {
  display: inline-block;
  margin: 0;
    padding-left: 10px;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

nav ul li {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.menu {
  cursor: pointer;
  color: red;
  padding: 10px 20px; /* Add padding for better appearance */
  display: inline; /* Display the list items inline to create a horizontal navbar */
  margin-left: 20px; /* Add some spacing between the list items */
  top: 0; /* Align it to the top */
  right: 0; /* Align it to the right */
  position: fixed;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  .blackback {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}
