.vertical-rl {
  writing-mode: vertical-rl;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.rotate-text {

  transform: rotate(-270deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-270deg);

  /* Firefox */
  -moz-transform: rotate(-270deg);

  /* IE */
  -ms-transform: rotate(-270deg);

  /* Opera */
  -o-transform: rotate(-270deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.headgap{
  padding-top: 45px;
  padding-bottom: 45px;
}
