<html>
  <body>
    <div class="container mt-2">
      <h1>DANCING, WITH SWORDS</h1>
      <p>I will not name the Scottish town where, ten years ago, I spent a dank and dismal Sunday
        evening. By now, the oil boom will probably have transformed it. There may be Wimpy bars,
        discotheques, four-star hotels and little Scottish-French restaurants calling themselves
        ChczMac. Then, however, it was a place where, if you had time to kill, nobody would lift a
        finger to kill it for you.
        </p>
      <p>The cafes were closed. The hotel was built like a mediaeval fortress with miles of cold
        corridors. The heating switched itself off at eight o’clock. There were gas fires with slot
        machines in the bedrooms, but mine was never more than half-lit, and flickered and popped
        alarmingly.</p>
        <p>The restaurant closed down with the heating, and the whole town seemed locked in a
          puritanical conspiracy to drive you to church. No pubs were open either, and, at times, I felt a
          strong compulsion to share a melancholy bottle of some brew or other with the occasional
          bum huddled up against the cold in a doorway.</p>
    <p>Walking the streets, usually the interesting way of killing time in any unknown town,
      required guts and a thick overcoat. I needed both, and, a hundred yards from my hotel, I
      began to wonder whether it might not be better to chance the gas fire, than to wander still
      further among these granite streets where the Georgian buildings loomed so alarmingly and
      the sea mist rolled in spectral waves, apparently searching for vagrants to choke.
      </p>
      <p>What kept me going was the rumour that somewhere on the fringes of the town there was a
        cinema, open on Sundays. The hotel manager was reluctant to talk about it, as if it breached
        the Sabbath dourness. He warned me against it, without saying anything too derogatory, but
        implying that I would see no good there and that it would do me no good to be seen there,
        either. It was his duty to protect the reputation of occasional visitors.</p>
    <p>The cinema, when I found it, was built in concrete slabs, like an army hut. Its dingy
      whiteness stood out against the surrounding granite. Its auditorium was long and
      cone-shaped, like a wind tunnel, and the whirring of the projector and the crackles from the
      screen seemed to meet in the middle, around my seat, as if I was being bombarded by
      particles from some disintegrating whole.</p>
    <p>They were showing a nudist movie from the early 1950s, where happy people flicked towels
      at each other in gay abandon around strategically placed bushes. Scotland had never seemed
      further, alas, from the Ile de Levant.
      </p>
    <p>I must protest, at this point, that I love Scotland, for what followed was an incident not so
      much sordid as downright saturnine. I had spent four beautiful days in the Highlands, visited
      the Pitlochry Festival Theatre and riotously enjoyed the Edinburgh Festival, satiating myself
      on fringe events, almost all of which then seemed to have something to offer</p>
      <p>Scotland seems to me now, as it did then, a wonderful place to spend a holiday , but what
        may add a certain zest to the pleasure is the prevailing feeling, which many Scots seem to
        share, that the dark side to life is never far away. As with gaelic ceilidhs when, with the songs
        sung, the stories told, the reels and flings momentarily paused, the floor is cleared to !et one
        nimble, thick-calved, kitted warrior skip with pointed toes between the edges of two crossed
        swords, you never quite forget that one too abandoned moment will cause blood to flow.
        </p>
      <p>No blood precisely was spilt in the twenty minutes or so, after I left the cinema, bored and
        bombarded, half-way through the thirty-ninth glimpse of a barc bottom. What happened
        though did leave some kind of wound which throbs now when I think about it.
        </p>
      <p>I had to visit a public lavatory which, surprisingly enough, was open, for the heavy gate, with
        its rusty padlock and chain, which indicated that at times, probably during Lent, it could be
        closed.</p>
      <p>The steps down seemed to lead into the heart of the granite, with dim gas lamps, as in a
        horror movie. The room at the end of a short tunnel was simply a dungeon, small but infested,
        with a little metal trough to serve as a urinal, running along one wall. A rusty tap trickled
        dark, brown water along the trough to the open drain at one end, which was choked with
        sodden cigarette butts, bits of newspaper and chip packets.</p>
      <p>The place stank of undrained urine; and although the walls were not painted black, or in any
        colour, they were fumed black, as if the dark grey rock had been stenched into solid soot.</p>
      <p>Normal graffiti writers could have made no impression on its surface with their pencils and
        ballpoints; but abnormal ones had been at work, chipping away at the soot with God knows
        what—a knife, a flint—until the lighter granite showed through.</p>
      <p>What they laboriously wrote matched the effort, and much else besides, for the short phrases
        dripped violence. A layer of threats had been scratched across the stone, sometimes faintly,
        sometimes in chunky lettering, warning Sandy, Ian and Dave, fat Alice and skinny Lettice,
        teams and races, women in general, men in general, exactly what to expect.</p>
      <p>No humour, no rhymes, and not much bawdry.except for the references to parts which were
        due to be cut off or drastically enlarged.</p>
      <p>As I stood there, marvelling at this concentration of vicarious cruelty. I became aware that
        somebody was watching me. This lavatory had an attendant, a stocky man with a leather face,
      whose age was hard to guess in the dim light but who seemed to be old and tough.
      </p>
      <p>He had a penitential cell to himself, off the dungeon proper, with a green wooden door; and
        he stood by the door, watching. As I went out, he put out his hand for a tip; and I tipped him,
        as if we were both in a London club or the Assembly Rooms in Edinburgh.</p>
        <p>But I didn't know what I was tipping him for—there were no wash basins or towels—or what
          he was doing there in any case, guarding the trough and the smell on a municipal wage.
          </p>
    <p> I asked him, but I couldn't at first catch all his answer, all glottal Scotch, beginning with B
      and ending with ‘. . andalism’. The last wordclearly was ‘vandalism’, and it struck me as odd,
      when I was walking back to the hotel, that I should tip somebody whose main purpose was to
      stop me from being vandalistic.</p>
      <p> And what was there left in that place to vandalise? Who cared if another sinister threat were
        added to the list? It seemed to be peculiarly representative of the dark side of Scotland that, in
        this foetid and loathsome hole, somebody should have been appointed to root out sin.</p>
        <p>And then, I guessed at the first word, which must have been ‘buggery’. He had said sternly:
    ‘buggery and vandalism’. That's what he was there to stop; that was his role in life, and it
    seemed overwhelmingly sad that there must have been men and boys in that gloomy town,
    whose longings were so compelling, who were watched so censoriously by their neighbours
    and whose furtiveness was so ingrained and complete that they needed to flee into nowhere
    down those filthy steps.
    </p>
    <p>I do not know quite why the memory of this incident should be so haunting, why it should
      hover obliquely just to one side of all the much happier pictures in my mind of Scotland;
      particularly because it is so much of a cliche. Everybody expects Scotland to be dour and
      puritanical, and usually it is not. The dungeon lavatory calls to mind the grand horror of
      Scottish castles—would Macbeth seem so compelling if it had been set in Pembroke, rather
      than Glamis, Castle? Of course not. The Welsh have a different temperament.
      </p>
      <p>Even the dour attendant stepped straight out of mythology. Instead of thinking of him, as he
        probably was, an old man tackling the dangerous task of stopping drunken hooligans beating
        each other up, I related him in my mind to the murderers, gaolers or the porter in Macbeth.
        Burke and Hare, wandering the streets off the Grassmarket in Edinburgh, might have looked
        like him; but so might any old man boosting his pension with a part-time job.
        </p>
    <p>Successive writers on Scotland, from Dr. Johnson onwards, have started their descriptions
      with similar images, and either extended them into fantasies about the repressive peasant
      culture of Scotland, or disavowed them altogether, saying that they are untypical or belong to
      a Scotland which no longer exists.
      </p>
    <p>Captain Topliam, an English officer of culture and ability’, who wrote a series of letters about
      Edinburgh in the 18th century, was at pains to dispel rumours about the dark Scotland while,
      through the act of refutation, perpetuating them.</p>
    <p>He too wrote about the lavatories. ‘This town,’ he said of Edinburgh,‘has long been
      reproached with many unclean customs’. But that, he says, is untrue and unfair: ‘... you rarely
      find, in the worst part of the town, an obscure lodging that has not some degree of neatness
      and a certain simplicity about it, to make it comfortable.’</p>
    <p>He continues in a typically double-edged paragraph that the police set an example by “being
    particularly careful of the cleanness of the streets, into which, as a common sewer. all the
    nuisances of the houses ore emptied at a stated time in the night, on the ringing of a bell, and
    immediately removed by persons appointed for that purpose; and at the same time, the
    reservoirs being set open, which are placed at certain intervals in the streets, carry everything
    away; so that in the morning the streets are so clean that foot passengers walk in the middle
    of them. But I cannot help observing the intoler-able stench that is produced at this Season of
    the night on the moving of the tub of nastiness from each floor: such a concatenation of
    smells I never before was sensible of; it has been sometimes so powerful as to wake me, and
    preventany sleeping till it was somewhat pacified.”</p>
    <p>Scottish Puritanism too has many sides to it. At best in, say, the Morningside district of
      Edinburgh, it is a matter of style and class, an instinctive sense (shared by Ulster upper class
      protestants) of what is fit and appropriate, the right time to take tea in the afternoon, or sherry
      in the evening, the places to visit for luncheons, such as the Oyster Bar in the Café Royal, or
      for more formal dinners.</p>
    <p>The New Cub is a place, whose self effacing style is the soul of discretion. The door in
      Princes Street, between two shops, is simply numbered, but a large, impressive door, leading
      to a marble hall with mirrors. The steps take you to a modern lounge and hall, which
      manages uniquely to combine the auras of James Bond and James Balfour: ancient retainers
      leaned on malts, hessian walls, portraits of kings and conquerors, etchings of soldiers,
        members' lists pinned, with the menus, on notice boards.</p>
    <p>Behind those walls, you feel that anything could be happening—communications rooms
      controlling satellites, board meetings of multinationals, hot lines here, there and everywhere;
      while the dining room commands the most magnificent view of Edinburgh, the postcard view,
      across Princes Street to the high Castle, flanked by the monument to Walter Scott on the left
      and the British Caledonian Hotel on the right.</p>
    <p>My Morningside friends leave Edinburgh at the time of the festival. They have no objections
    to the festival itself, but it upsets their routines. They don't like battling with the crowds of
    tourists along the Royal Mile; and suspect that the posters plastered everywhere announcing
    fringe programmes are merely the tip of an iceberg of limitless vulgarity.
    </p>
    <p>When the festival is over and the streets have been cleared up, they return from their
      holidays, well content to face another eleven months of peace. For a visitor to Edinburgh who
      has not settled into the Momingside routine, this attitude seems stuffy to the point of utter
      insensitivity. How can they not enjoy the festival, with its perfect mixture of fun and silliness,
      the prestigious visits from world opera and drama companies, and its welcoming of the
      lowliest student group from a comprehensive school?</p>
      <p>I suspect, however, that the festival is well, if coolly, appreciated in Momingside. It is just
        that they savour their mode of living so delicately that excess activity ruins their palate. There
      are so many examples of pernicketiness from the city fathers that we tend to forget that they
      too have helped the festival to take place.
      </p>
      <p>The Assembly Hall of the Church of Scotland has been used from the start as a prime venue
        for main festival events. The first director to explore the possibilities of that square, sensible
        debating chamber was a firebrand, Tyrone Guthrie, who had a curious ability to charm away
        ruffled feelings while simultaneously treading on coms.</p>
      <p>I suspect too that Scottish puritans have the rare and civilised ability to take offence in good
        part. When a mild, anarchic youngAmerican, Jim Haynes, who ran a bookshop in Edinburgh,
        started the Traverse fringe theatre, there were cries of alarm on all sides</p>
      <p>Haynes was occupying an old building which had previously been a brothel. The steps, the
        corridors and the small intimate rooms bespoke their former calling. There were tattered
        remains of felt curtains, gaudy paintings on the wall, dents on the floors from energetic beds.</p>
      <p>The city fathers felt that Haynes might use this disorderly house to immoral purposes; but
        gradually the intellectual liveliness of the Traverse, won its audiences, until the place had
        acquired a national, indeed an international reputation.
        </p>
      <p>When, ten years later, it moved out of its old premises, its new building in the Grassmarket
        was opened with as much pomp and ceremony as its fringe status would permit. The Traverse
        had proved its worth and Edinburgh opened its doors to welcome it.</p>
      <p>Haynes's Edinburgh experiences in winning the battle against Scottish puritanism contrasted
        sharply with his time in swinging London where, in the late 1960s, he started the Arts Lab in
        Covent Garden. There was no opposition at all to the starting of the Arts Lab; but within a
        couple of years, it had run into trouble.</p>
      <p>The Arts Lab acquired a deserved reputation for harbouring drugs arid drug addicts, as well
        as the arts; and eventually the authorities felt that they had to close the place down. There
        were police raid, and withdrawals of grants, until finally Haynes and his friends decided that
        the struggle was no longer worth the effort.</p>
      <p>The moral of this story is that the Edinburgh authorities, through their first censoriousness
        (infuriating at the titre). had nonetheless indicated clearly the social limits within which the
        Traverse Theatre could pursue its admirable policy of artistic freedom.</p>
      <p>The London authorities, apparently more enlightened and liberal, had not done so; with the
        result that the Traverse thrived while the Arts Lab closed. A somewhat similar situation
        occurred in a very different city from Edinburgh, Glasgow, where the city authorities were
        renowned for their attitude towards the Glasgow Citizens Theatre.
        </p>
      <p>The Glasgow Cits was in a very bad way in the late 1960s. Successive directors had come
        and gone, complaining of interference; while the whole Gorbals district, with its gloomy
        tenements and five flats to a bathroom, was being knocked down around the theatre, so that it
        stood, absurdly isolated, amid acres of empty brown site.</p>
      <p>I do not know quite by what miracles of tact Giles Havergal managed to resurrect that theatre,
        or turn it into such an individualistic place, with its own flashing style of acting, half-ham,
        half-dandyism, its glittering sets inspired by Philip Prowse, its literary writers, and its curious
        mixture of populism and high camp. Havergal's Scottish background may have helped,
        coupled with the determination that a theatre associated with James Bridie should not fold.</p>
      <p>The real secret, however, may well lie in Havergal's ability to learn the rules of Glasgow, the
        unspoken ones, as well as the formal bye-laws, within which his freedom could be welcomed,
        not just resentfully accepted. Havergal had learnt, like a good Scottish dancer, to skip
        between the blades of the swords.
        </p>
      <p>Sometimes, of course, these swords cut quite unnecessarily. There are persistent complaints
        about the cost of the Edinburgh Festival, parsimonious nagging. A survey conducted a few
        years ago indicated that the festival cost Edinburgh about £650,000 in grant money to stage,
        whereas it brought £16 million annually in tourist revenue into the city. Why grumble about
        the costs of investment when the returns are so lavish?</p>
      <p>Tales like that suggest that the Scots are somehow against pleasure in itself, which is
        self-evidently untrue. II they were as dour and puritanical as legend suggests, the festival, the
        games, the Tattoos and the Glasgow Cits would and could never have started at all.
        </p>
      <p>The Scots love having a good time. They even revel in the kind of anarchic humour, best
        represented by the Glasgow banana-boots boy, Billy Connelly. But they structure their
        pleasure within a strict seise of what is formal and appropriate. They want no blood to flow.
        </p>
      <p>This formality, this puritanism, brings its own reward at festival time. How wonderful it is to
        feel the temporary relaxation of the absurd licensing laws, to see what can otherwise be a
        grey, formidable city, more elegant but as severe as the unnamed town where I once spent
        Sunday, blossoming with carefree students.</p>
      <p>Scotland is perhaps the one place in the world where spring comes in early autumn. Topham
        described the 18thcentury Edinburgh tenements which can still be seen in the old town today.</p>
      <p>“The buildings are divided, by extremely thick partition walls, into large houses, which are
        here called lands, and each storey of a land is called a house. Every land has a common
        staircase, in the same manner as the inns of court in London, and houses in Paris; from
        whence, it is most probable, this custom was taken. This staircase must always be dirty, and is
        in general, very dark and narrow. It has this advantage, however, that as they are all of stone,
        they have little to apprehend from fire, which, in the opinion of some, would more than
        compensate for every other disadvantage.”</p>
      <p>In the spring-autumn of the Edinburgh Festival, these lands are covered with many flowers
        blooming, a three-week revel after a long hibernation. A city, made bountiful by its own
        self-discipline, opens its hospitality to others; and it cannot altogether have escaped their
        attention that such generosity is extremely good for trade.</p>
      </div>
  </body>
</html>
