<div class="container">
  <div class="container">
    <h1><strong>Yorkshire Bylines</strong></h1>
  </div>

  <div class="d-flex justify-content-around align-items-center">
  <%= image_tag("political-system1.jpg", class: "img_test") %>

    <div>
      <button class="btn btn-outline-dark">Want to read?</button>
      <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
    </div>

  </div>
  <div class="pt-3">
    <p>Clearing out the attic: why our political system needs a complete re-think
    </p>
    <p>PR, Lord’s reform, Gordon Brown’s ‘people’s convention’: they have their merits, says John Elsom, but we need to go further</p>
    <p>The Catch-22 of electoral reform under the British system is that you must win a parliamentary majority by first-past-the-post before you can introduce proportional representation (PR). By some quirk of nature, this is rarely the priority of a party that has just got into power. Reforming zeal evaporates. They hum and haw. There may be a case for a fairer system, they concede, but there are more urgent matters in their in-trays, and their government should lead from the front and not be distracted by constitutional niceties …</p>
    <p>And so, PR gets stuffed into the attic again, until the next time a hung parliament or polarised electorate digs out that dusty green paper. Then, once more, we mull over the merits of single transferable vote (STV) and party list, getting goggle-eyed in the process, before some short-term fix clears the political blockage and, to sighs of relief or frustration, PR goes back in the loft.</p>
    <p>The trouble with custom</p>
    <p>That is the trouble with ancient and hallowed systems that have worked indifferently well for centuries. Precedent rules, custom prevails; and the trickier issues are tucked away, and temporarily forgotten, until some unfortunate combination of events brings them all to the surface. We are left with a constitutional mess, a perfect storm of several messes, which is the only way to describe the world of Westminster today.</p>
    <p>Last Christmas, in a report published by the Institute for Government, our former prime minister, Gordon Brown, made a daring suggestion. He called for a people’s convention to discuss constitutional reform. “We need to get the balance right,” he explained, “between the autonomy that people desire and the cooperation that we need”. He suggested that more power should be devolved to the four national governments – England, Scotland, Wales, and Northern Ireland – so that each could negotiate its own relationship with the EU. </p>
    <p>“Britain needs,” he declared, “new answers in an age of globalisation”. Somewhere in the attic, there are discussion documents on this very subject, warning against or advocating for what used to be called the ‘Balkanisation’ of the British Isles, under the sovereign leadership of the Crown. In the more recent boxes, perched on the edge of the loft ladder, are John Major’s requests for the principle of ‘subsidiarity’ to be observed throughout the EU, so that decisions can be taken locally or regionally, rather than in Brussels.</p>
    <p>David Cameron said something similar, and so did Edward Heath; indeed, if you leaf through the documents that occupy the hidden spaces between the immersion heater and the reserve water tank, you will find many bold proposals to make Britain more democratic, and governments more accountable, and political parties more responsive to their members. And yet, here we are, living in a country whose ex-prime minister, Liz Truss, was elected by members of her party, a mere 0.03% of the electorate, and whose current prime minister, Rishi Sunak, lacks even that minuscule mandate, having been chosen by his party’s MPs alone. </p>
    <p>PR, on its own, is not enough – the problems run deeper</p>
    <p>Is PR the breakthrough for which we have been waiting? Not quite, I fear. Our MPs represent constituencies far larger than the Athenian city-states that they purport to emulate. It would be over-ambitious for them to reflect every shade of interest within their constitutional boundaries, or even a respectable cross-section, and still have time to walk the dogs. </p>
    <p>We live in a confrontational system. That is the main problem. The real reason why we go through the process of leafleting, canvassing, and crossing the boxes in polling booths is not to express our opinions, but to give one assortment of MPs a majority in parliament, against the wishes of another assortment, and thus the right to rule for four or five years. This simplifies the wishes of the people into two polarities, ‘left’ and ‘right’; and the niceties of PR are lost in the turmoil of Trial by Combat. </p>
    <p>The justification for this ill-mannered behaviour is that we need a strong government. The public at large, or so the narrative runs, needs leadership. We need to be told what to do by those who are well-informed, highly principled, and competent, which is why the current chaos in Westminster comes as such a nasty shock. </p>
    <p>Who holds the government to account? Rarely the opposition. Has the party in power delivered its promises? Not according to its backbenchers. Do the exchanges at PM’s questions reflect a mature debate about the future of the nation? If so, I have missed them.</p>
    <p>Currently, political parties make promises they cannot deliver to obtain power that they do not deserve. “Growth!” pledged Truss, as if she could build hi-tec factories by herself. “We will stop the boats!” cried Sunak, as if he could stretch barbed wire across the Channel. “Get Brexit Done,” demanded Johnson, forgetting the 134-mile border with the Irish Republic. </p>
    <%= link_to "for more click here", "https://#{"yorkshirebylines.co.uk/politics/clearing-out-the-attic-why-our-political-system-needs-a-complete-re-think/"}" %>
  </div>

</div>
