<html>
  <body>
    <h1>CINDERELLA</h1>
    <p>THE most popular subject for pantomime in Britain is Cinderella, and has been so for the
past hundred years, a fact which should alarm feminists, masculinists and monetarists alike.</p>
<p>In a recent TV programme, Marina Warner traced the history of Cinderella back through
centuries and cultures ending up in ancient China in the 6th century BC. The many local
deviations, such as a topknot for a glass slipper, cannot conceal the familiar outline, rags to
riches via the nuptial suite, and the underlying morality which affronts every tenet that the
modern world holds dear.</p>
<p>If ever a work of fiction (and I assume that it is pure make-believe, not fact made palatable
through imaginative invention) were designed to 'deprave and corrupt' and thus be liable for
prosecution even under the existing Obscene Publications Act, let alone one of Mr. Winston
Churchill's shopping lists, it would be this unfortunate mixture of fantasy and fetishism to
which a good proportion of British parents annually drag a good proportion of their children.</p>
<p>It may, of course, be impossible to prove that any particular child has been corrupted by
Cinderella, but the steady drip-drip of unhealthy sexual optimism must take its toll.</p>
<p>What, after all, is the point of Cinderella† That if a girl debases herself humbly and modestly,
and performs such menial tasks as cleaning hearths and sweeping floors with besom brooms,
she may be rewarded by a trip to the palace, where she may have the chance to meet a prince
who, if she is pretty enough, may fall madly in love with her and may propose marriage,
having searched through the kingdom to find the exquisite little foot which fits the delicate
glass slipper.
</p>
<p>We do not have to rely on left-wing librarians to spot the sexism in this little farago. Young
girls are being encouraged to think small and dream big. Cinderella would never study for an
Open University degree. Men don't like clever girls, only pretty ones with small feet.
Cinderella learns how to wait for her big chance by ignoring Buttons, her natural ally.
</p>
<p>Buttons is traditionally kind and caring, a good companion, and all that disqualifies him from
being the kind of husband whom Cinderella does not really deserve, is his lack of wealth and
privilege. So, by flirting with Buttons and keeping her hand in seduction, Cinderella waits for
the ball and her prince, whom she will meet but once, before decisivelysliding her foot in the
slipper and plighting her troth.</p>
<p>It is not the kind of example which should be offered to the coming generation. Thcy may
come too quickly. If the tale a8ronts feminists, it holds out little comfort for male chauvinists
either. The only thing that we know about the Prince is that he's not Clint Eastwood. He's just
rich, young and impressionable: standard beefcake, a centrefold for girls.</p>
<p>One may assume that he is physically well-endowed, although the story is ambivalent on this
point, but we do know that he‘s powerful. It is status, rather than bodily characteristics, that
distinguishes the Prince. He has, however, one other dubious quality which he shares with the
dirty raincoat brigade. He's easily obsessed and will stop at nothing to get his own way,
which is all very flattering if you like that sort of thing, but frankly I would prefer my
daughter, if I had one, to go out with a normal man in a normal way.</p>
<p>We only have the Prince's word that Cinderella is the girl for whom he has been searching.
He could simply have run out of excuses for toying with the feet of the young women in his
kingdom. After a month-long orgy of fondling ankles and caressing shrimp-like toes, the
Prince rushes to the confessional where the Archbishop counsels him to take the next pair of
insteps which crosses his path as wife, abandoning all others, solemates if not soul mates, and
Cinderella was the lucky girl, or not, as the case may be.</p>
<p>In the light of Britain's poor performance in the many international economic league tables,
what should really worry us, however, about Cinderella is its impudent challenge to all kinds
of political orthodoxies. If the British are really hooked on the Cinderella story, as they give
every appearance of being, then it should be treated as a dangerous drug. Anyone caught
sniffing Cinderella should be sent to the Milton Friedman Remand Home for Lazy
Housekeepers, the only prison in the country where you have to pay for your lunches. Shops
which sell Cinderella kits, consisting of the one pumpkin, two white mice and four rats, to
which you only have to add a fairy godmother, should be liable for prosecution under every
act on the statute book, from Cruelty to Animals to Fraud and Misleading Advertising.</p>
<p>What after all is the economic lesson to be drawn from Cinderella?</p>
<p>Here is this poor gjrl, slaving away in a low technology industry, hearth sweeping, whose
days are obviously numbered with the coming of central heating, earning pitiably low wages
and denied proper opportunities to retrain upwards.</p>
<p>It is all very well to object that her feckless father is Baron Hardup, not Lord Muck, and that
education costs money. It is money that he can ill afford not to spend. Otherwise he must
write off one-third of the labour force of his daughters, potentially the most profitable sector
of the domestic economy, for Cinderella has proved that she is prepared to knuckle down to
work, unlike Griselda and Lumpkin, her ugly sisters.
</p>
<p>As things stand, Cinderella is stuck in a useless job without prospects or union protection,
with only Buttons, who (God help us) must be a wishy-washy Liberal, to stand by her when
things get tough.</p>
<p>The moral is obvious. Baron Hardup must invest in a programme of domestic expansion and
retraining, to get the household ready for the twenty-first century; and the key feature of this
policy must be the education of his under-used and undervalued workforce.</p>
<p>That is what the Moral of the story should be. What do we get instead? A fairy godmother!</p>
<p>I have nothing against fairy godmothers in principle, for they come in all shapes and sizes,
and where could we be without them? But if they do generically have a fault, it is that their
magic operates according to certain mysterîous laws which can only be appreciated by
reading the small print very carefully, which few of us have time to do.</p>
<p>Take this little matter of being home by midnight. This may sound sensible, good advice for a
young girl, still unversed in the ways of the world, but in Cinderella's case, it was nearly
disastrous. Very well, she was careless, but let us suppose that the fairy godmother was not so
scrupulously well-disposed towards Cinderella as her behaviour suggests, that she had
invented ways of delaying Cinderella until after the last fatal stroke, so that she was reduced
to rags in the eyes of the world court, without any chance of redress through the courts by
means of a glass slipper.</p>
<p>Let us suppose that Cinderella in her low technology area of expertise was in fact something
of a genius, who had invented a better mousetrap, which was of obvious use to the Fairy
Godmother with her skill at turning mice into flunkeys.</p>
<p>By dressing up Cinderella in finery for a few hours, in time for something like a courtship or
an election, the Fairy Godmother had secured Cinderella's secrets, such as they are, for her
own purposes, knowing that after midnight they would be hers, all hers.
</p>
<p>What if the Godmother turned out to be really a Godfather7</p>
<p>I must make it perfectly clear at this point that I am not really writing about Wcstland
Helicopters or British Leyland, or any other British company saved from bankruptcy by the
miraculous injection of US capital.</p>
<p>Perish the thought! I could be accused of anti-Americanism. I might be blamed for making
some propaganda joke about Mrs. Thatcher, suggesting that she was selling off the family
silverware to buy a new dress for the élection, and of weasel-words which Norman Tebbit
would rightly déplore.
</p>
<p>No, I am merely pointing out that the habit of looking for fairy godmothers is more honoured
in the breach than the observance. If I had a daughter, even so well-trained in the domestic
disciplines as Mrs. Thatcher, I would strongly advise her against accepting wardrobes and
magic couches from strangers who appear and disappear in clouds of smoke.
</p>
<p>‘There is no such thing as a free landau-and-four,’ I would say, wisely scratching the side of
my nose, ‘Beware of Greeks bearing Gifts from the Gods. Look before you leap. Does the
glass slipper really fit? Do you like wearing glass slippers anyway, once the initial thrill has
gone? Don't they often trap you in escalators? Going down as well as up.’
</p>
<p>To which Mn. Thatcher might reply in her customary fashion.</p>
<p>At which point I would beat a retreat to less slippery ground by stating that what really
concerns me about the Cinderella story is its bigoted attitude towards Ugly Sisters.</p>
<p>Dammit, we weren't all born beautiful and humble. Some of us are naturally vain and ugly.
However hard wc try to squeeze our misshapen feet into Standard Size 10s, there is always a
toe left hanging out or a corn on the heel that nobody could have anticipated. Go a size larger
and we are left slopping around the floor as if they were Wellington boats. We trip over tables
and bump our heads on low beams.</p>
<p>Sometimes we can justify our existences by brute force, such as by forcing open a door or
lifting a cart from the mire, but for normal domestic chores, Cinderella is much better
equipped than we are, with hair that looks even prettier when towzled and whose satin
cheeks are enhanced by a smear of soot.</p>
<p>At the beginning, we tried to compensate for our natural defects by volunteering. ‘Here,
Cinderella,’ we said, ‘we'll light the fire,’ but it wouldn't light, and ‘Here› Cinderella, we'll
clear out the grate!’ but we dropped all the ashes on the carpet, until finally Cinderella with
that infuriating smile of hers, the one that makes you want to kick her in the teeth, said,
‘That's all right, Grizelda, I'll do it!’</p>
<p>And Buttons, who should be carried away to some distant part where he can freeze to death in
his button-up shoes, said, ‘That's right, Griselda, leave it to Cinderella. She knows how.’
</p>
<p>And Lumpkin would giggle, the bitch, but nervously, knowing that she would be the next in
line for some lethal snub.</p>
<p>And the payment for our misfortune is to be parodied down the ages by fat comics who like
to dress in knickers and stuff pillows in their vests, as sloppily out of control as those great
dangling bags with which God has endowed us; for the delight and internal corruption of
those snotty-faced brats who have yet to learn the anguish of continual humiliation and have
no sympathy, none at all, with the pathetic airs and graces through which we try to hide our
evident inferiority.
</p>
<p>For there are no godmothers for us, none at all, no princes. If we go to the ball, we do so on
forged invitations and spend weeks rather than seconds in choosing the appropriate dresses,
in colours which always mysteriously clash with some part of our colour scheme, our ginger
hair, mauve eyes and green lips, and when we get there, the prince has just left for a previous
engagement and the only person who wants to talk to us is a drunken stockbroker who has
mistaken us for someone else twice our combined ages, and the supposedly flat dance floor is
pitted with little dips and ledges, where our shoes stick or slide, and we are reduced to jerking
up and down, more or less in time with the music, though not synchronised, alas, with our
partners, having lost the knack of matching up with up and down with down, until finally the
Last Waltz comes when we are drained and dripping with unladylike sweat and quite unfit for
what, we are told, could follow, in the moonlight outside, although in our cases never does.</p>
<p>And all that compensates us for our ungainly lifetimes and inconsequential deaths is that,
thank God, we were not like Cinderella. We are our self-made boobies, neither transformed
by a godmother nor redeemed by a prince. We have nobody to thank and nobody to blame but
ourselves, and we look for no miracles. Stubbornly self-reliant, we try to learn from our
mistakes and battle through the world as best we can, and when we fail, as we usually do, we
curse our fate and start again.</p>
<p>After all, pantos are just for the winter. All Cinderellas melt with the snow. But Ugly Sisters
doggedly stick it out to the spring, and summer, and autumn, year after year, after year</p>

  </body>
</html>
