<div class="container-fluid">
  <div class="container-fluid">
    <h1 class="text-center p-4 size3"><strong>Contemporary review</strong></h1>
  </div>
    <div class="text-center">
      <%= cl_image_tag("CR_1fit_bfvw4c", class: "img_test") %>
      <div class="p-4">
       <%= link_to "Interested?", emailform_path, class:"mainbutton2 black-outline-button" %>
      </div>
    </div>
  <div class="pt-3">
    <p class="sizebooks">The Contemporary Review (CR), a monthly magazine, was founded in 1866 as a vehicle for the growing community of writers and intellectuals who sought to explore the prospects for a brave new world transformed by scientific knowledge and the Industrial Revolution. It was ‘left-of-centre’, with unofficial links to the Liberal Party, progressively Christian, or humanist in outlook. Its early contributors included John Ruskin, Aldous Huxley, W.E. Gladstone, Matthew Arnold, and J.M. Barrie.
    Under two long-standing editors, Percy Bunting (1882-1911) and G.P. Gooch (1911-1960), the historian and Liberal MP for Bath, CR developed a wide and international readership, across Europe and the Empire. During the 1950s, its familiar yellow and black cover could be seen in most newsagents, until (like its comrade from the Victorian age, Punch) it ceased publication in 2013.
    John joined the Liberal Party in 1964, stood unsuccessfully for parliament and the Greater London Council (GLC), and became an adviser to the party on arts and broadcasting. He was invited by Rosalind Wade, the novelist, who took over as CR editor in 1966, to contribute articles on a regular basis – six a year. John agreed on the understanding that these should not be about theatre or the arts, but about politics, social change, and travel. They describe such events as the formation of the LibDem Alliance, the arrival of broadband, and the end of Soviet rule in Central and Eastern Europe.
    Articles include:
    </p>
    <div class="intenttext">
      <ol>
        <li class="sizebooks">The Minister’s Non-Quantum Shift (Sept. 1978)</li>
        <li class="sizebooks"> Soft Zlotys and Quangos – Poland before Solidarity (Nov. 1978)</li>
        <li class="sizebooks"> Flounder Power (Jan. 1979)</li>
        <li class="sizebooks"> The Painted Tunnel – Sweden after the Social Democrats (March 1979)</li>
        <li class="sizebooks">Can We Change our Minds? (May 1979)</li>
        <li class="sizebooks"> How to Control the Collapse – Yugoslavia under Tito (July 1979)</li>
        <li class="sizebooks"> At the End of the World – Ngaio Marsh in New Zealand (Aug. 1979)</li>
        <li class="sizebooks"> Threats to World Peace – A conversation with George Brown MP (Sept 1979)</li>
        <li class="sizebooks"> Dancing with Swords (Nov. 1979)</li>
        <li class="sizebooks">The Big Grey Patch (Jan. 1980)</li>
        <li class="sizebooks"> The Good-Humoured Liberal (March 1980)</li>
        <li class="sizebooks"> The Global Village – North-South (June 1980)</li>
        <li class="sizebooks"> In Labour – an interview with William Rodgers MP (Sept. 1980)</li>
        <li class="sizebooks"> Lords of Misrule (Nov. 1980)</li>
        <li class="sizebooks"> The Ring Road – short story (Jan. 1981)</li>
        <li class="sizebooks"> Going West – Theatre in California (March, 1981)</li>
        <li class="sizebooks"> Lovin’ New York (May, 1981)</li>
        <li class="sizebooks"> Israel the Schnitzel (July 1981)</li>
        <li class="sizebooks"> A Term of Abuse (Sept 1981)</li>
        <li class="sizebooks"> Democratic License (Nov. 1981)</li>
        <li class="sizebooks"> A Way of Life (Jan 1982)</li>
        <li class="sizebooks"> Looking for Audiences (March, 1982)</li>
        <li class="sizebooks"> A Tourist in India (June, 1982)</li>
        <li class="sizebooks"> Explaining India (July, 1982)</li>
        <li class="sizebooks"> London’s India (Sept. 1982)</li>
        <li class="sizebooks"> Streams of Light (1982)</li>
        <li class="sizebooks"> Living Graciously – a cultural convention in NY</li>
        <li class="sizebooks"> A Way of Life – cricket</li>
        <li class="sizebooks"> Geoffrey Whitworth – The Disinterested Builder (1983)</li>
        <li class="sizebooks"> Samuel Beckett, Max Wall, and Me</li>
        <li class="sizebooks"> Posters and Prejudice</li>
        <li class="sizebooks"> Ibsen and the Lost Bohemia</li>
        <li class="sizebooks"> To Merge or Not to Merge – how the Liberal Party joined the SDP</li>
        <li class="sizebooks"> Gentlemen’s Agreements – meeting Peter Hall</li>
        <li class="sizebooks"> A National Cause?</li>
        <li class="sizebooks"> The Glory of Whose Garden? (1984)</li>
        <li class="sizebooks"> Pleasure Principle (1984)</li>
        <li class="sizebooks"> USA, USSR, and US (1984)</li>
        <li class="sizebooks"> The Orwell in Suffolk? – the real 1984 (1984)</li>
        <li class="sizebooks"> A Garden in Siberia (1985)</li>
        <li class="sizebooks"> The Social Role of the Theatre Critic (1985)</li>
        <li class="sizebooks"> Brittle Language, (1985)</li>
        <li class="sizebooks"> Making Lists (1985)</li>
        <li class="sizebooks">What the Arts Unions Can Do</li>
        <li class="sizebooks"> Cinderella (1986)</li>
        <li class="sizebooks"> Is Shakespeare Still our Contemporary? (1986)</li>
        <li class="sizebooks"> Iris Murdoch (1987)</li>
        <li class="sizebooks"> Spring (1987)</li>
        <li class="sizebooks">he Road to Westminster ’87 (1987)</li>
        <li class="sizebooks"> Life Without Labour (1987)</li>
        <li class="sizebooks"> Mere Formalities – a convention in Castro’s Havana (1988)</li>
        <li class="sizebooks"> Realism Revisited – teaching at GITIS (1988)</li>
        <li class="sizebooks"> First Nights (1988)</li>
        <li class="sizebooks">Commitment as a form of privilege (1988)</li>
        <li class="sizebooks"> Changing Frames (1988)</li>
        <li class="sizebooks"> The Grand Bazaar – Istanbul (1988)</li>
        <li class="sizebooks"> Ruffians in Robes (1989)</li>
        <li class="sizebooks"> Another Modest Proposal (After Dean Swift)</li>
        <li class="sizebooks"> Cities that shun the artist (1989)</li>
        <li class="sizebooks">The End of the Absurd? (1989) </li>
        <li class="sizebooks"> The Muddled Mind of Mr. Hurd – Broadcasting in the ‘90s, (1989)</li>
        <li class="sizebooks"> Bulgaria, (1990)</li>
        <li class="sizebooks"> The Wilding Process (1990)</li>
        <li class="sizebooks">The Forces of Friendship</li>
      </ol>
    </div>
  </div>
</div>
