<div class="container-fluid">
  <div class="container-fluid">
    <h1 class="text-center p-4 size3"><strong>Contemporary review</strong></h1>
  </div>
    <div class="text-center">
      <%= cl_image_tag("CR_1fit_bfvw4c", class: "img_test") %>
      <div class="p-4">
       <%= link_to "Interested?", emailform_path, class:"mainbutton2 black-outline-button" %>
      </div>
    </div>
  <div class="pt-3">
    <p class="sizebooks">The Contemporary Review (CR), a monthly magazine, was founded in 1866 as a vehicle for the growing
      community of writers who sought to express their hopes for a brave new world, transformed by
      science, democracy, and the Industrial Revolution. It was ‘left-of-centre’, with unofficial links to the
      Liberal Party, progressively Christian, or humanist in outlook. Its early contributors included John
      Ruskin, W.E. Gladstone, Matthew Arnold, J.M. Barrie, and Aldous Huxley.
      Under two long-standing editors, Percy Bunting (1882-1911) and G.P. Gooch (1911-1960), the historian
      and Liberal MP for Bath, CR developed a wide readership, across Europe, the Commonwealth, and the
      Empire. Throughout the 20th century, its yellow and black cover could be seen in most newsagents,
      until, like its comrade magazine from the Victorian age, Punch, it ceased publication in 2013.
      Author’s note: I first came across CR in the 1960s, when its title seemed like a huge joke. No magazine
      in Swinging London could seem less contemporary. It had no pictures, few ads, no targeted readership,
      and daunting titles. It was where the Great and the Good aired their latest causes. Their articles were
      well-reasoned, rarely flippant, discursive, but written with a twist of academic irony, typical of the
      Edwardians. They seemed to come from a vanishing civilization.
      In 1978, I wrote a discussion paper for the Liberal Party, Change and Choice, about the future for the
      British arts and cultural industries. The CR Editor, Rosalind Wade, the novelist, invited me to contribute
      an article for the magazine, which began a long association. For ten years, at Rosalind’s invitation, I
      wrote six articles annually about various aspects of our changing world. I wrote about a time when
      the prospects for broadband were threatening to transform our lives. The Cold War was starting to
      thaw. Britain was adjusting to its new role within the European Community. The post- war vision of a
      Welfare State was crumbling under the challenges of inflation, poor industrial relations, and the rise
      of Thatcherism. Always, however, I tried to match the literary tone of the original CR.
      From the 65 articles written for CR, I have selected three batches of articles to be available online. They
      are grouped around different themes, but evoke a pre-millennial world, whose speculations about the
      future anticipated the world today.
    </p>
    <br/>
    <div class="intenttext text-center">
      <ol>
        <strong><li>CULTURE AND POLITICS</li></strong>
        <br/>
        <p>The Minister’s Non-Quantum Shift </p>
        <p>Can We Change Our Minds? </p>
        <p>The Big, Grey Patch </p>
        <p>A National Cause? </p>
        <p>Cities that shun the artist, artists that shun the cities. </p>
        <p>Streams of Light </p>
        <p>Sir Keith at the Ramparts </p>
        <p>Pleasure Principle</p>
        <p>The Glory of Whose Garden?</p>
        <p>The Muddled Mind of Mr. Hurd </p>
        <p>The Wilding Process </p>
        <p>Brittle Language </p>
        <strong><li>BEFORE THE BERLIN WALL CAME DOWN</li></strong>
        <br/>
        <p>Soft Zlotys and Quangos</p>
        <p>The Global Village</p>
        <p>How to Control the Collapse</p>
        <p>A Garden in Siberia</p>
        <p>Israel the Schnitzel</p>
        <p>Explaining India</p>
        <p>Mere Formalities</p>
        <p>The Painted Tunnel</p>
        <p>Ibsen and the Lost Bohemia</p>
        <p>Lovin’ New York</p>
        <p>The Forces of Friendship</p>
        <strong><li>HOME MUDDLE AND GLOBAL MADNESS</li></strong>
        <br/>
        <p>Making Lists</p>
        <p>World Peace – a conversation with Lord George Brown</p>
        <p>Lords of Misrule </p>
        <p>Dancing, with Swords</p>
        <p>Changing Frames </p>
        <p>In Labour – a Conversation with the Rt. Hon. William Rodgers, MP</p>
        <p>Samuel Beckett, Max Wall, and Me </p>
        <p>The Orwell in Suffolk </p>
        <p>Cinderella </p>
        <p>To Merge or Not to Merge </p>
        <p>The End of the Absurd? </p>
        <p>Spring </p>
      </ol>
    </div>
  </div>
</div>
