<html>
  <body>
    <h1>SAMUEL BECKETT, MAX WALL AND ME</h1>
    <p>Where did I have the honour?</p>
    <p>Or rather, since the 'where' springs to mind all too easily, as often happens with incidents of
      quite stunning insignificance, when? For it would be true to say, in as much as anything can
      be more falsified with the old beguiler truth, that I encountered Samuel Beckett long before I
      was physically introduced to him, and even that can scarcely be called a meeting, certainly
      not a meeting of minds, but rather a Weinklatsch for media men, so that as many of us as
      possible could begin our 500 words with the truthful lie, 'We sat, Samuel Beckett and I, in the
      downstairs bar at the Royal Court Theatre ...', and thus stake our claims to intimacy.</p>
      <p>That was when I first had the privilege to meet him, and where, over a glass or so of PR
      plonk, with me raking the brain to ask stimulating questions and him shimmeringly alert and
      far from monosyllabic, though monosyllables would have served as well as speeches to dig a
      suitably shallow grave for all that hilarity. You do not need an excavator to bite the head off
      sand castles. The tide will do just as well, if you can afford to wait.</p>
      <p>But Beckett at least had the grace to make it seem as if our bright little interrogatives, our
      'Really?' and 'What did you mean by . . ?' required the full strength of his earth-moving
      intelligence to do them justice.</p>
      <p>A colleague, so daring that the rest of us were ashamed to be seen with him, asked where he
      was staying. Would Beckett name a hotel and risk a siege from lionising hostesses, with half
      the inhabitants of Belsize Park to pacify? Or would he confess to a little flat somewhere truly
      anonymous like 57a Orsett Rise, for it seemed incredible to us that such a man could stay
      anywhere, other than on a heath with a solitary tree, as in Godot, or in an impenetrable
      bedsitter, as in Krapp, or in a cell, or buried to his neck in soil; while if he admitted to more
      than that, to the merest hint of suburban luxury, would not that be an admission that the
      bleakness of his art was at odds with his life, hence false and affected, not to be taken
      seriously, for we media men are skilled at taking nothing seriously, unless, we are forced to
      do so, under editorial instructions.</p>
      <p>Beckett, sitting upright, his head poised aquiline upon a pilastru spine, upright but not bolt,
      anti-slump but not pro-ramrod, wavered not a whit before this devious barrage of seeming
      (and actual) inanity.</p>
      <p>He named the hotel, fearlessly, but stated that he was returning on the morrow, thus lessening
      the threat of invasion, although where he was returning to… Paris presumably, or Dublin, or
      the renowned Schiller Theatre in Germany, was left as problematic as where he had come
      from, to sit before us in the flesh, upright in that subterranean bar, present and indubitably
      correct.</p>
      <p>So much for meeting Beckett.</p>
      <p>Although I had encountered him some twenty years and more before, after college, when I
      was as green and prickly as a gone bush and wandered into Waiting for Godot in a mood
      prone to be sceptical, for in those days, to be kept waiting at all for anything was a monstrous
      abuse of my time, and to wait for someone who may or may not turn up, and who may or
      may not exist, and who may or may not be of any direct service to me whether or not he (or
      she) did exist, was as total a roadblock to my ongoing nature, motorway-mad, as could be
      endured.</p>
      <p>And yet endure it I did for two and a half hours of qualified enragement, if only to prove that
      I could, and thence to idolise my tormentor, who had thus forced mc against my will to
      contemplate the possibility that all my ongoingness, my male thrust to be somewhere and
      somebody, was truthfully nothing more than a refusal to admit that I was nowhere and a
      nobody, as truthfully we all are.</p>
      <p>From then on that upright scoundrel Beckett never left me alone, but sat on my shoulder,
      upright but not bolt, swaying with the breezes of activity without ever exactly losing his
      perch, whispering harsh nothings into my ear while my mouth and my mind were in danger
      of filling to the brim with sweet somethings, those accidents which willingly distract one
      away from the essence of what, against one's better judgement, one is.</p>
      <p>Among those accidents, when I was soft and twenty, was a comic called Max Wall,
      music-hall bred, radio-bound, whose way of sucking words dry before spitting them out of
      the corner of his elongated mouth tickled the fancy of all of those for whom, like me, words
      were an unfamiliar contorted mode of expression.
      </p>
      <p>'Look,'' he would say, 'There's Humph-ray - HUM - FF - RAY—Oh ...' and the whole Home
      Counties dissolved into two or sometimes three syllables of extreme upper-classness. Or as
      Professor Wallovski, in a wig like a black mat, with black tights like a school Hamlet but
      with a deep morning coat, long-tailed for weddings and funerals, he would announce that
      'Tonight Rachman-in-oFF' would be rendered in such a rendition the like of which had never
      yet been heard by human ear.</p>
      <p>'To the stoo-oo-11 ...' he would say, wildly signposting towards a submissive grand piano,
      which had never done anybody any harm, but kept its lid closed for safety, its keyboard visor
      shut, to be prized open by Wa1lovski's magic paws, digits arced like a monkey wrench,
      forcing the bugger, if you will forgive the expression, wide and open.</p>
      <p>Nothing in those ignorant l950s could have seemed less like the austere and finical Beckett
      than that mournful clown, whose life itself (if we could judge by the tabloids) was a chapter
      of accidents, divorces, wild and all too brief honeymoons, a mass of harmful insinuations,
      which eventually dumped him in the back of beyond, working the clubs up north, beyond
      Watford, while Beckett was in spirit if not in 8esh gradually insinuating himself among the
      intelligentsias of Belsize Park whose lives, straddled as they were between the delicatessens
      and Sloane Square, could afford to be described as bleak—being nothing of the kind.</p>
      <p>What all-embracing mind, sensitive to the heights and the depths of existence, the low gag
      and thc sensitive tremor of the perceptive phrase, could have elected an introduction between
      Beckett and Wall, the miraculous union of apparent opposites, a marriage which if not
      precisely was made in heaven but rather the temporary studios of the London Broadcasting
      Company, nevertheless now seems as inevitable and fate-ordained as any of those weddings
      for which a benevolent god is customarily blamcd? What cupid, on the qui vive for a main
      chance, could have fired so long an arrow, uniting the so palpably separate? What divine
      registrar, impatient of merely compromising George with Margaret, Janet with John, took a
      gamble with his civic and supernatural duties by pronouncing those fateful words over ... ?
      </p>
      <p>But let me hold you in suspense no longer.
      </p>
      <p>It was I!</p>
      <p>I, John Elsom, of temporarily no very fixed abode, of uncertain profession though with, let
      me stress, great expectations, who first induced a perceptible response from the delicate
      antennae whereby these two dissimilar visionaries detect the world elsewhere.</p>
      <p>I remember the circumstances well, for the temporary studios at LBC were nothing if not
      unforgettable—the security guard in his little glass box, for greater security, the receptionist
      with her push-button smile, the only truly automatic feature of a building designed to be
      automated, the steps leading upwards to the executive suites and the steps leading downwards
      to the basement, which like all basements was littered with rubbish, like presenters,
      newscasters, important messages neatly shredded, ticker-tape, sticker tape, monitors,
      admonitors, turntables and upturned tables, all drifting and gathering in huge piles towards
      the twin focal points of us media men, the studios, sound-proofed and padded like lunatics'
      cells, where we could sit confronted by webs of cables and mikes and speak to ourselves by
      ourselves, in isolation, knowing that we were really speaking to everybody</p>
      <p>I do not, however, remember quite how Max Wall arrived in that execrable dump, whether by
      black taxi or in one of LBC's temporary fleet of minicabs, zealously trained to be in almost
      the right place roughly five minutes too late, for he had rushed (no expense spared) from the
      Greenwich Theatre by indeterminate means to be interviewed by yours truly, appropriately
      enough in a padded cell ...</p>
      <p>I, who as a child had even run from school at lunchtime in time to catch Max Wall's 'HUM -
      FF - RAY' on Workers' Playtime . .</p>
      <p>I, who had sat in the back row of the stalls, where was it? in the Haymarket at Leicester,
      surrounded by ice-cream wrappers and still serviceable chewing gum, to watch Wallovski
      criminally assault yet another grand piano ... thus disarming by laughter a vicious-looking
      bunch of old-age pensioners ...</p>
      <p>The Great Wall now stood, flanked by the security guard and the receptionist, at the top of the
      stern leading down into the media basement, wearing a cloth cap and meditatively sucking
      his teeth, at once deferential and assertive, quite prepared to take advice but determined not to
      be alarmed by the spiders' webs of cables and ticker tapes into which he was about to
      descend ... and it seemed as if ancient man, though wary as all human beings must be in that
      wasteland of mass communication, were about to impose an element of good sense on the
      prevailing disorder, though what good sense and Max Wall were doing in the LBC's
      temporary studios was beyond all reasonable calculation, unless it be on the principle of 'if
      you can't beat 'em, join 'em', which scarcely seems likely…</p>
      <p>And so, on into the studios, green light flickering to signify something, the gap perhaps
      betweén the commercials and the weather forecast, then a snatch of Wall and me, before the
      racing results, a burst of the Blockheads (with lan Drury), then back to Wall, as if life were
      not full of backs to the wall, in one sense or another ...</p>
      <p>All the time, leisurely, as if determined not to be bustled but to keep his timing which had
      served him well in Barnsley and BH, Leicester and LBC, Max Wall answered the questions
      as if they actually meant something, turned words to good account, cracked little familiar
      jokes to put us at ease, quietly adapted the turmoil of LBC live broadcasts (surely a
      contradiction in terms) into something which did actually seem alive, yes, and even human,
      and generally beat back the invasion of the androids with that compassion which comes from
      grim experience.
      </p>
      <p>It was then that I noticed, if it were not already obvious, a similarity between, what was it,
      Max Wall's poise and that of Samuel Beckett's, a use of language which, if it did not precisely
      match, and how could it† given the barriers which education erects, at least tallied to a
      remarkable degree, a comparable method of deflating the accident to arrive at the essential.</p>
      <p>What sat before me in that temporary studio was the voice that had sat on my shoulder since
      Waiting for Godot and the circumstances were, as near as dammit, Estragon's or Krapp's
      condition, bettered by boots and spools of tape mechanically unreeling.</p>
      <p>'Spoo-oo-11' And who used that word with languorous derision? Beckett.
      </p>
      <p>'Stoo-oo-ll' And who massacred that term with a melancholy affection? Wall.</p>
      <p>Hospitality, at LBC, came afterwards, a noggin of sour white wine suspended in a white-foam
      cup. It was always better at LBWS to postpone the promise of hospitality until after the
      interview, lest the guests would be so put off by the wine and the cup that the interviews
      would turn equally sour .. .</p>
      <p>Partly to distract Wall from the deficiencies of the wine, the grapes that had not ripened in
      that or any other LBC year, I broached the matter of Beckett. Had he ... by any chance .. .
      come across .. . ? 'Who? . . . No, I don't think, now you come to mention it, so ...'</p>
      <p>That was when I decided, partly to compensate for the hospitality, to send Max Wall a copy
      of Samuel Beckett's Krapp's Last Tape.
      </p>
      <p>If it had not been for the sourness of LBC'5 hospitality wine, Wall might never have come
      across Beckett, how all the accidents in life conspire to produce the inevitable!</p>
      <p>Mind you, I am not absolutely sure that Wall (or Max, as I am now honoured to call him) was
      totally prepared to receive a play written for one old man surrounded by tapes of his former
      self—for, despite the pleasant thank-you letter, he may well have felt that Krapp's Last Tape,
      far from taking the taste of LBC's hospitality wine away, actually added bitterness to
      sourness, insult to injury, whatever may have been the intentions.</p>
      <p>When a guest has been half-poisoned, it is of little comfort to present him with an image of
      death by acetate.
      </p>
      <p>Indeed, Max's first remark when I saw him again some months later and brightly enquired
      whether he had ... er ... read ... er? ... was, 'Well, it's a bit miserable, isn't it?' And that in a
      theatre bar, where nothing is miserable, by order of the management!</p>
      <p>But the proof of this, as of every other, pudding lies in the eating, for Max not only read and
      inwardly digested Krapp's Last Tape, but went on to provide the finest performance in Britain
      of that bleak biography, and then to wait for Godot in Manchester and London…</p>
      <p>…and then to fill our underground stations with portraits of himself as Estragon, painted by
      Maggi Humbling, who catching the infectiousness of this prolific Beckett/Wall marriage,
      filled a whole exhibition area at the National Portrait Gallery with Max as the existential
      clown, Beckett brought to life, if you can call it living, Max without makeup, Max with Cat,
      Max with Bird, Max with Elephant, Max pondering, Max smiling, Max thinking about what
      to do next, Max deciding against it …</p>
      <p>For Miss Hambling, to prove that great minds think alike if not (chuckle, chuckle) at quite the
      same time, caught Max's One Man Show at the Garrick—and decided that something should
      be done about it, which she did, prolifically</p>
      <p>As for me, I am always content to rest on my laurels, provided that everybody knows that,
      contrary to all appearances, laurels are actually there, buried somewhere beneath a broadly
      liberal backside .</p>
      <p>April 1983</p>
      <p>(Author's note: With Beckett's permission, John Elsom adapted his novel, Malone Dies, for
      Max Wall's solo performance at the Edinburgh International Festival.)</p>

  </body>
</html>
