<div class="plantingtreeimg">
  <div class="cardsdis container setposition">
    <%= image_tag("world_without_worship_cover.jpg", class: "wid50 me-5") %>
    <div class ="wid50 tealign">
      <h2>World Without Worship – 2013 </h2>
      <h4>(fiction – available online)</h4>
      <div>
        <button class="btn btn-outline-dark">Want to read?</button>
        <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
      </div>

    </div>
  </div>

  <div class="col-m container">
    <p>Ten short stories about the thin dividing lines between factual knowledge, intuitive guesswork, and strange happenings.
Titles: A Skirmish on the Left Bank; Never Look Down; the Colony; That Space Between Us; East Window; War Effort; Foreign Correspondent; World Within; Ants; Dame Sandra Davis.
→ World Within (stage play)
    </p>
  </div>
</div>
