<h1>World Without Worship – 2013 (fiction – available online)</h1>

<%= image_tag("world_without_worship_cover.jpg", class: "img_size_m") %>

<p>Ten short stories about the thin dividing lines between factual knowledge, intuitive guesswork, and strange happenings.
Titles: A Skirmish on the Left Bank; Never Look Down; the Colony; That Space Between Us; East Window; War Effort; Foreign Correspondent; World Within; Ants; Dame Sandra Davis.
→ World Within (stage play)
</p>
