<div class="plantingtreeimg">
  <div class="cardsdis container setposition">
    <%= image_tag("world_without_worship_cover.jpg", class: "wid50 me-5") %>
    <div class ="wid50 tealign">
      <h2>World Without Worship – 2013 </h2>
      <h4>(fiction – available online)</h4>
      <div>
        <button class="btn btn-outline-dark">Want to read?</button>
        <%= link_to "More about the author?", about_path, class:"btn btn-outline-success" %>
      </div>

    </div>
  </div>

  <div class="col-m container">
    <p>Ten short stories about the thin dividing lines between factual knowledge, intuitive guesswork, and strange happenings.
<p>Titles:</p>
<ul>
<li>A Skirmish on the Left Bank;</li>
<li>Never Look Down;</li>
<li>the Colony;</li>
<li>That Space Between Us;</li>
<li>East Window;</li>
<li>War Effort;</li>
<li>Foreign Correspondent;</li>
<li>World Within; Ants;</li>
<li>Dame Sandra Davis.</li>
</ul>
→ World Within (stage play)
    </p>
  </div>
</div>
