
<div class="plantingtreeimg">
  <div class="cardsdis container-fluid ">
    <div class="img-container">
      <%= cl_image_tag("theatreoutsidelondon_dbyylf", class: "wid50 me-5") %>
    </div>
    <div class ="text-container">
      <h1 class="size3">Theatre Outside London</h1>
      <h6 class="size7">John Elsom</h6>
      <h5 class="size7 cite2">Macmillan, 1971</h5>
        <%= link_to "Interested", contactform_path, class:"mainbutton2 black-outline-button" %>

    </div>


  </div>
  <div class="col-m container-fluid sizebooks pt-3">
    <p>
    Between 1939 and 1958, no new theatres were built in Britain and commercial touring theatres declined from 130 to about 30. In the next ten years, 40 new repertory theatres were built, with the help of public subsidies, with resident companies and local writers. ‘The lively and healthy state in which British theatre finds itself today,’ wrote Laurence Olivier, the first director of the National Theatre, ‘is due almost entirely to the activity of the repertory movement.’

    The Arts Council of Great Britain (ACGB) was brought into being as part of the drive to build a Welfare State from a war-torn country. The reps reflected the pride and aspirations of towns that felt (and were) out-of-touch with the star-studded West End.

    Topics: Change and Prophecies; Merit Marks; Drought and irrigation; The Arts Council; Theatre in Education; Living Dangerously; Buildings, Areas, and Actors; An Alphabet of Reps.</p>

    <p>‘An excellent survey of British reps.’ Richard Findlater. Encounter. 1971. (→further press.)</p>

    <p>→Post War British Theatre, Journalism, The Well-Intentioned Builder, Kingston Welcomes Korea, Change and Choice (Liberal Party discussion paper).</p>

  </div>

</div>
