<h1>Peacemaker</h1>

<h2>ADC Theatre, Cambridge – 1956</h2>

<p>Musical play, with music by Sally Mays and movement by Jean Denning, written and directed by John Elsom.
A stranger arrives in a foreign country, torn by civil war, where he is welcomed as a saviour. One way to quell the factions is by threatening world destruction. The alternative is laughter.
‘This sense of unity is emphasized through the production, in which words, music and movement are treated as being equally important.’ The Times. Aug 1956 (→further press)
</p>
