<div class="container mt-2">
  <h1>ISRAEL THE SCHNITZEL</h1>
  <p>Ronnie D., our Israeli military guide, first mentioned the ‘schnitzel principle’, while we were
  driving in an army car around what could be called the tourist spots of Southern
  Lebanon—the panoramic view of Beaufort where the PLO are entrenched, the much-shelled
  cowshed known as Radio Free Lebanon run by Americans addicted to God, Love and
  country-and-western music, and, of course, the Good Fence.
  </p>
    <p>He dropped the term casually but meaningfully into the conversation, but wc
  journalists, all three of us, were too ashamed of our ignorance to ask what it meant. There
  were also other things on our mind. It was March, officially spring but abnormally hot. In
  theory, some might say, we were invading a foreign country. In either theory or practice, wc
  could be shot.</p>
    <p>There was little real danger. In March, this wild stretch of rock and rift was controlled
  by Major Haddad, the Lebanese commanding officer of the mainly Christian militia, who,
  having been appointed to his post by a former Beirut government, chose to go there via Israel,
  to avoid the troubles inland. With the help of the Israeli government and his family
  connections, Haddad established a buffer zone between Israel and the various bands of Syrian
  and PLO forces, who would otherwise hover on the border for a quick raid or a fresh
  invasion.
  </p>
  <p>In theory again, the United Nations should have been doing the buffering, but at the
  mention of the UNIFIL forces, a look of benign wisdom flickered across the Major's brusque,
  soldierly countenance. ‘We have no quarrel with UNIFIL,’ Haddad explained to TV cameras,
  having blown up three Nigerians the day before, ‘They are the ones who are quarrelling with
  us.’
  </p>
  <p>Major-General William Callaghan, the region's UN commander, is a no-nonsense
  Irishman. His policy was simple—to keep the sides apart with an ‘iron fist’ by any means at
  his disposal short of actual fighting.</p>
  <p>Haddad was sceptical of Callaghan's ability to do so. Intelligence sources have
  warned that Syrian troops were creeping up behind the UN shield, and, risking an
  international incident, Haddad was quite prepared to bombard the shield to singe the arm
  behind it.</p>
  <p>This is bandit country. This is the wild west in the Middle East, where wolves have
  been seen in the foothills of Mount Hermon and vultures circle lazily over the dying calf. A
  native like Haddad can look around at the small villages perched on the hilltops, and know
  exactly to whom each belongs, what the religions are, and the shades of religion, and thc
  loyalties and feuds which stretch back generations before the United Nations was conceived
  or misconceived.</p>
  <p>It is all very well for the UN to police an area like the Sinai desert, where you can't
  hide a flea on a camel, but here a small army can hole up in the valleys, led by friendsfrom
  the villages, and an outsider like Callaghan will be none the wiser.</p>
  <p>To support Haddad's argument, Ronnie waved as arm iii the direction of Beaufort, a
  crusader castle cut out of the mountain rock, which has so far resisted everything that
  twentieth-century ammunition manufacturers have thrown against it. There are caves and
  tunnels behind Beaufort, stacking arms from God knows where, although the Israelis could
  give Him a clue.
  </p>
  <p>Ronnie was an excellent guide. He looked like a smoother Castro, and with a similar
  reticence. In his civilian life, for he was on his month's annual military service, he was an
  editor of an economics magazine, which gave him what could be termed a global outlook. He
  didn't support Haddad too openly, to leave the impression that the Lebanese major was just an
  Israeli stooge. Nor was he prepared to hand out the schmaltz of official propaganda, which
  was why we had to prise from him the story of the Good Fence. He wanted to talk about
  smuggling.</p>
  <p>Haddad may have been the best commander that Israel had got in Southern Lebanon,
  but he couldn't do everything. Taxation remained a problem, which was why the area had
  become virtually a tax-free zone. On both sides of the border, there were those engaged in the
  smuggling trade, thus adding to the security risks, for it is not always easy to distinguish
  between the casual transporter of cheap radios and the determined terrorist. Both look equally
  guilty.</p>
  <p>As for the Good Fence—well, what did we want to know about it7 It was there, you
  could see it, a batch of army huts on the border where the Lebanese get the benefit of the
  Israeli health service.</p>
  <p>How did it start? In 1973, this whole place was a battlefield. Kiryat Shmona was
  being blasted. The Syrians were swarming on the Golan Heights. One night, the Israelis heard
  a girl crying for help in no-man’s-land. She was badly wounded. They decided to rescue her,
  and take her back to hospital. Next morning there were dozens of Lebanese, all injured, all
  waiting to be rescued—and that's how the Good Fence began.
  </p>
  <p>Propaganda? ‘Well,’ said Ronnie, ‘If that's what you mean by propaganda, I'm all for
  it.’ The Good Fence is nonetheless very elective propaganda, proof positive of Israel's
  humanitarian intentions; and on Israel's side of the border, coach loads of American tourists
  arrived at half-hour interval, with their cameras and Bermuda shorts, to gaze at these
  nondescript shacks in the middle of nowhere. There was even a small bazaar, just for them,
  where the Druse sell sticky cakes and plastic chess sets.</p>
  <p>‘There are some vultures then,’ I murmured, ‘even above the Good Fence.’ ‘Of
  course,’ said Ronnie, ‘but’, he added as a bright green lizard stalked across our path, settled
  on a branch and turned brown with the effort, ‘there are more chameleons.’ I had no idea
  what he meant.
  </p>
  <p>We drove back for lunch to the Hotel Arizim, in the border town of Metullah.
  Metullah used to be a holiday resort, but now ordinary tourists avoid the place, if only
  because transport is so difficult. It still seems prosperous though, and the Arizim was used as
  a kind of meeting place for journalists, military personnel and UNIFIL officers. Haddad
  sometimes dropped in for tea in the afternoon.
  </p>
  <p>There were also some sight-seers, elaborately casual, lounging around on the
  off-chance that something might happen; and others, whose motives were less clearly
  defined, Ronnie's chameleons perhaps, who might have information to sell, or services.
  </p>
  <p>Metullah is one of those places where building-site labourers unexpectedly have been
  to the Sorbonne. When somebody asks you the time, you look not at your watch but your
  wallet. The waitress who brought me a cold Coke spoke perfect English and possessed two
  university degrees.
  </p>
  <p> Over lunch, Ronnie pulled out the military maps of the region, with their shaded
  areas, indicating the estimated concentrations of Syrian and PLO troops. Then we pondered
  the national maps, showing the forces of the Arab world lined up against Israel.
  </p>
  <p>Did I know that Saudi Arabia was spending 24 billion dollars a year on arms? I had
  been told so. ‘But where,’ I asked, ‘does the main threat come?’ The economist in
  Ronniecame to the surface. ‘From inflation, he replied.</p>
  <p>Inflation has become an Israel speciality. Few countries have so much of it (more than
  140% in 1980), cultivate it more carefully and, as with pot and alcohol, are quicker to
  condemn its pernicious e8ects. As a rule though, Israelis do not personally suffer from
  inflation, for all wages and investments are index-linked.
  </p>
  <p>That is the problem. A seasonal price rise can set off a spiral of wage increases; but
  breaking this spiral is full of political complications. Begin's former finance minister, Yigael
  Hurvitz, tried to do so by negotiating wage agreements at a level below that of inflation. The
  result was a wave of strikes and the increasing unpopularity of the government.</p>
  <p>Begin sacked Hurv‹tz and chose a quiet man in his Likud coalition, Aridor. Aridor
  tackled the same problem by a different route. He subsidised those goods which made an
  impact on the inflation index, so that price rises came at less frequent intervals and did not
  thus set off the demands so often. Although Aridor was accused by his opponents of simply
  trying to bribe the electorate with subsidies, the polls started to shift once more in Begin's
  favour.</p>
  <p>In Ronnie's view, these manoeuvres were more a matter of getting to grips with the
  electorate than the economy. He mourned the fact that Jacob Levinson, the strong silent man
  of Israel's financial system, a banker and a formidable presence, had refused to join the list
  offered by Shimon Peres, the Labour coalition leader.
  </p>
  <p>The real problem with inflation was external, rather than internal. Who would invest
  in Israel, other than dedicated Zionists, if its currency were so unstable? Israel might possess
  the most efficient army in the world and a small, but flourishing, arms industry; but how
  could it continue to afford to buy arms from abroad?</p>
  <p>It is an article of faith in Israel (but not just of faith) that the Arabs have all the
  weapons, but none of the skills to use them. The sheer volume of arms pouring into the
  Middle East caused general alarm, heightened in March by the news that the United States
  were selling four AWACS (advance warning and command systems) to Saudi Arabia,having
  sold them sixty F-15s a few weeks before.</p>
  <p>However mishandled, those new capabilities altered the military balance, but what
  particularly galled the Israelis was the thought that their economic difficulties, added to their
  sheer smallness, prevented them from matching the challenge. They simply couldn't go on
  competing in the arms race.</p>
  <p>If the situation continued to develop along these lines, Israel would be left with two
  equally dangerous options—to attempt some kind of pre-emptive action against its enemy
  neighbours, to sort out its international boundaries once and for all, or to rely on
  non-conventional weapons.</p>
  <p>No Israeli spokesman would admit that Israel possessed nuclear arms, for that would
  open the door for others to beg, borrow or even buy them too, but none would totally deny
  that possibility either. It was a war of nerves.</p>
  <p>But if Israel could keep a grip on its economic problems, to stay in a race which it had
  no chance of winning, there was a chance, a faint chance, that time could come to its side.</p>
  <p>Buffer zones, such as that in Southern Lebanon, could keep the combatants apart;
  while the diplomats could negotiate peace agreements, as with the Egyptian government and
  the Camp David agreement.
  </p>
  <p>That is the theory, but whatever Ronnie's opinions on the matter may have been (for I
  did not ask him), I did not find much confidence about the Camp David agreement in Israel.
  The various members of the Knesset I met had different opinions about what Camp David
  actually meant.</p>
  <p>In outline it seems simple, a peace treaty after a war, whereby Egypt received back
  most of its former lands in the Sinai (with oil wells), while the Israeli-conquered West Bank,
  and the Gaza Strip, were to be autonomous for five years pending a final decision as to its
  exact status. The trick word here is ‘autonomous’. The Begin government, sticking to the
  exact wording of the treaty, insists that autonomy has been granted to the Arabs living in
  Judea and Samaria, but not to the land itself.</p>
  <p>The Arabs can choose to live under Jordanian law, but since the area itself is not
  autonomous, they can have no objection to Israelis setting up settlements in the same district
  and looking towards Israeli law.</p>
  <p>The opponents of Begin insist that this is legalistic nonsense. You cannot grant
  autonomy to the inhabitants of a region without defining the boundaries of that region and,
  once you have defined those boundaries, automatically you are giving autonomy to the region
  as well as its inhabitants.</p>
  <p>Shulamit Aloni, the lone Knesset member of the Civil Rights Movement, was
  forthright in her views. Camp David was a tragic misunderstanding, made worse by the
  behaviour of Begin, who was implementing his interpretation and creating ‘facts’ (Israeli
  settlements) on the West Bank.</p>
  <p>Josef Romm, a member of the Likud coalition who nevertheless voted against Camp
  David, was more moderate in his opinion. Camp David was an agreement to try out a limited
  autonomy in the West Bank region, which was likely to fail through its internal
  contradictions. Meir Amit, an MK from the other side of the fence, argued that it was an
  agreement to disagree without which no peace treaty could have been struck.
  </p>
  <p>Amit feared that the concessions made by Israel were balanced by no kind of
  reciprocal promises, thus giving Begin an unofficial licence to seize whatever advantage he
  could find.</p>
  <p>There was much speculation about the secret motives behind Camp David, in which
  the consensus view seemed to be that Begin had agreed to hand over the Sinai to Sadat, in
  exchange for Israeli control over the West Bank. Since such a deal would have aroused the
  hostility of the Arab world towards Egypt, which is already hostile enough, autonomy had to
  be invented as a disguise for the facts.</p>
  <p>From such an unspoken premise, the Labour opposition parties had devised its
  ‘Jordanian option’, whereby, just as the Sinai Desert had bought peace with Egypt, the
  WestBank could be offered to Jordan as part of a Camp David-style treaty. There are some
  flaws in this argument, among them the fact that, as the result of Camp David, the West Bank
  is not Israel's to hand over. If autonomy means anything at all, it means that, in this matter,
  the Arabs have the right to choose. And the Arabs I spoke to in the region, admittedly an
  infinitely small sample, were almost as hostile to Amman as they were to the Israeli
  government.
  </p>
  <p>Their loyalties lay with the PLO and an independent Palestine. But the chief problem
  could be appreciated from the very maps which Ronnie laid before me at the Hotel Arizim.</p>
  <p>Israel is a very small country. The West Bank area is no larger than Norfolk, but it
  contains strategic height› to control the coastal plains, the Yizreel Valley and other regions
  which, by international agreement, are definitely Israel. In Britain, we are sometimes led to
  believe that the West Bank is as remote to Tel Aviv as Northern Ireland is to London. In fact,
  it is like having Ulster at Rickmansworth.
  </p>
  <p>Even if, therefore, Jordan were prepared to take on the responsibility of the dissident
  Arabs on the West Bank, any Israeli government would be unwilling to give up even part of
  its existing control without receiving the strongest guarantees from the other side. There
  could be no ‘agreement to disagree’ as there was with Camp David.</p>
  <p>For either Israel or Jordan to accept such guarantees, for them to be implemented,
  they would have to be supported by international pressure. A world opinion expressed much
  more forcibly than through Callaghan's UNIFIL troops would have to maintain them. Here
  Israel feels particularly vulnerable, for it senses that world opinion has slipped from its side.
  The Boy David is now presented as a Goliath.</p>
  <p>Colette Avital, the press officer of the Foreign Ministry, was bitter about all the
  anti-Israel nuances which seemed to creep into apparently non-aligned reporting of Israeli
  affairs. But the real danger came not from bitchery, or even from the outright alignment of
  countries like France with the Arabs; but from the steady growth of a Western political
  opinion which regards Israel as a disposal luxury.</p>
  <p>Here in Israel's eyes, the traitors are often the well-intentioned liberals. Let us suppose
  that a Western leader, seeking détente with Russia, were to propose an arms-free zone in the
  Middle East—or, at least, an embargo on further arms supply. It might be tempting poEtically
  but very hard to implement fairly; and its likely consequence would be that Israel would be
  left without support from the West while its enemies would be supplied and trained from
  the East. Another scenario could involve a partial implementation of the Brandt report, which
  envisages a recycling of oil dollars from the Arab countries.</p>
  <p>This re-cycling could visit some familiar places before arriving, if it ever did, at its
  destination, the under-developed Third World. Slowly, inexorably, the world's banks are
  fastening their attention on the vaults of Kuwait and Saudi Arabia.</p>
  <p>It might be distracting for them to avert their gaze, even for a moment, to the little
  local difficulty of their former ties with Israel. And if foreign financial support were
  withdrawn from Israel, and the Israelis continued to suffer from the Arab trade embargo,how
  could Israel survive?</p>
  <p>Beneath the surface anxieties, if you can call inflation and Camp David as such, that
  floated around during the election campaign, there lay a residual fear that the tide of world
  events was sweeping past Israel, and could even sweep it away, that allies were no longer as
  staunch as they had been, and that Israel had less to offcr in exchange for help, nothing
  perhaps other than the thought that it is the sole Western-style democracy in the Middle East,
  with Western standards of social care and, for the most part, with enlightened Western views
  on human rights, even though they may not always be applied to dissident Arabs.</p>
  <p>Israelis, no strangers to a justified paranoia, arc sensitive to the approach of another
  Kafkaesque trial, where the judges and jury are remote, arbitrary and unwilling to give
  reasons for what they do, although the sentence is a foregone conclusion.
  </p>
  <p>It is against that background that Begin's bellicose remarks in the Knesset and
  elsewhere during May have to be measured, the wholesale swipe against Helmut Schmidt and
  the German people for belonging to a race which massacred Jews, the cavalier dismissal of
  Saudi Arabia as another potential Iran, the emotional appeal to Jews to remember their
  past—and the desperate, foolhardy raid on the nuclear reactor near Baghdad.</p>
  <p>It was not just a calculated gamble during the election campaign, a last-ditch appeal to
  patriotism; or an untimely response to the events in Lebanon; but the attempt to express
  something which is nearly inexpressible, and certainly untranslatable, a Jcwinh foreboding of
  another final solution.</p>
  <p>It is hard for me to believe that the events in Southern Lebanon are as serious as they
  now seem. My memories of that hot, lazy afternoon in the Hotel Arizim are too strong.
  Ronnie made no mention of the SAM missiles which the Syrians must have been sidling into
  Lebanon and which, by May, were to launch the American special envoy, Habbib, into frantic
  rounds of shuttle diplomacy; which were to threaten the bi-partisan approach to defence
  enjoyed by Israel since its foundation; which were to demand the watchful presence of two
  Soviet ships and their American counterparts o8 the Lebanese coast; and which were, as it
  happened, to overshadow all other issues in the June election.</p>
  <p>In March indeed, it seemed highly unlikely that the Lebanon would
  emerge as an election issue at all. During the afternoon admittedly, a UNIFIL truck drove up
  in a hurry, to disgorge Major-General Callaghan, who strode into the dark back rooms of the
  Arizim, to emerge a few minutes later, baton under his arm, full of an iron resolve.</p>
  <p>Otherwise the problems seemed very local, even a little ridiculous. One freedom-fighter, or terrorist, what you will, had tried to cross the border on a power-operated
  hang-glider, with a better chance of breaking a leg than blowing up an army dump.</p>
  <p>It is easy enough to provoke a minor crisis in Lebanon. The place is full of minor
  crises. The Israelis could do so, simply by maintaining too high a profile; the Syrians could
  do so, by shifting their missiles too close to the border and shooting down, as they have done,
  some Israeli planes; even the UNIFIL forces could do so, by whittling away through
  diplomatic pressure at he protection afforded by Haddad's enclaves, thus letting the PLO
  through.
  </p>
  <p>But a major crisis must involve the threat of invasion from one side or the other; and
  in this curiously anarchic region, so watchfully patrolled, so inherently disordered, it is hard
  to imagine how the forces could gather enough of an army to mount an invasion without cries
  of protest being heard from one side of the world to the other.</p>
  <p>The situation is not the same as in 1967, when the Syrians controlled the Golan
  Heights, and the Israelis could look across their border to the hill-slopes, fifty yards away,
  and see the troops massing.</p>
  <p>Nor was there a trace of that feeling, which you can sense elsewhere in the Middle
  East, that the Divine Head Waiter, having shaken the champagne bottle, was slowly placing
  his thumbs on the cork. There was not that kind of simmering menace; and I remember
  asking Ronnie, quite casually, whether he had ever felt afraid</p>
  <p>'Why should I feel afraid?’ he replied, 'I know Israel. The harder you knock it, the
  more it expands.’</p>
  <p>Is that,’ I asked, 'what you meant by the schnitzel principle?’</p>
  <p>July 1981</p>
</div>
