<div class="deeporangebackground", style="height: 100%;">
  <div class="pt-4 oldboybottom">
    <div class="card containerCustom">
     <div class="oldboybackground">
        <p class="topcornergreen sizebooks">available for purchase</p>
      </div>
      <div class="container-fluid">
        <h1 class="pt-3 size7"><strong>Old Boy</strong></h1>
        <h4 class="size5">Tristram Bates Theatre, London - 2009</h4>

        <p class="sizebooks">A comedy about the deception that convinces and the reality that deceives.
          On his retirement, Monty, a senior government adviser, behaves very recklessly. He obtains a work visa for his beautiful young interpreter from Belarus and sets her up with a flat of her own in Soho. Is she, his mistress? Is he planning marriage? Has he acted from the goodness in his heart? He persuades his ‘virtual’ nephew, a would-be journalist, to go to the Edinburgh International Festival with her. What on earth is he trying to do?

        </p>
        <p class="sizebooks">Script available online: Cast: four main characters.</p>



      </div>
    </div>
    <div class="card containerCustom mt-5">
      <p class="sizebooks"><strong><u>All enquires to:</u></strong></p>
        <p class="sizebooks">Anthony Fields Associates Ltd.,</p>
        <p class="sizebooks">114, St. Martins Lane,</p>
        <p class="sizebooks">Covent Garden,</p>
        <p class="sizebooks">London,</p>
        <p class="sizebooks">WC2N 4BE</p>
        <a href="mailto:john@anthonyfieldassiciates.com" class="mainbutton2 green-outling-button">Send Email</a>
    </div>
  </div>
</div>
