<div class="deeporangebackground">
  <div class="card container">
    <%= image_tag("Old_Boy_edited.jpg", class: "card-img-top")%>
    <div class="container">
      <h1 class="pt-3 pd-3"><strong>Old Boy</strong></h1>
      <h2>Tristram Bates Theatre, London - 2009</h2>

      <p>A comedy about the deception that convinces and the reality that deceives.
        On his retirement, Monty, a senior government adviser, behaves very recklessly. He obtains a work visa for his beautiful young interpreter from Belarus and sets her up with a flat of her own in Soho. Is she, his mistress? Is he planning marriage? Has he acted from the goodness in his heart? He persuades his ‘virtual’ nephew, a would-be journalist, to go to the Edinburgh International Festival with her. What on earth is he trying to do?

      </p>
      <p>Script available online: Cast: four main characters.</p>
    </div>
  </div>
</div>
