<h1>Old Boy</h1>
<h2>Tristram Bates Theatre, London - 2009</h2>

<p>A comedy about the deception that convinces and the reality that deceives.
On his retirement, Monty, a senior government adviser, behaves very recklessly. He obtains a work visa for his beautiful young interpreter from Belarus and sets her up with a flat of her own in Soho. Is she, his mistress? Is he planning to marry her? Has he acted from the goodness in his heart? He persuades his ‘virtual’ nephew, a would-be journalist, to go to the Edinburgh International Festival with her. What on earth is he trying to do?
Script available online: Cast: four main characters.
</p>
