<h1>find me at app/views/friends_family</h1>


   <!-- app/views/friendsfamily/index.html.erb -->

<div id="scrolling-content">
  <% @credits.each do |credit| %>
    <p><%= credit.name %></p>
  <% end %>
</div>


