
<div class = "d-flex container">
  <div>
  <%= image_tag("coldwartheatre.jpg", class: "wid50 me-5") %>
  </div>
  <div class="friendlistitem">
    `<div class="friendcard">
      <div id="scroll-text">
        <div clas="friendcard_content">
          <h2 class="friendcard_title">THE STEM</h2>

          <h3 class="friendcard_title">Born</h3>

          <div class="friendcard_content">
            <p>John Edward Elsom – October 31, 1934, in Leigh-on-Sea, Essex</p>
          </div>

          <h3 class="friendcard_title"> Family Stock </h3>
          <div class="friendcard_content">

            <p>East Anglian Yeo-persons,</p>
            <p>Father – Leonard Ernest Elsom, electrical engineer, and businessman,</p>
            <p>Mother – Marjorie Louise (née Dines), singer and choir mistress,</p>
            <p>Sister – Marjorie Joy Kelleher (née Elsom), mother, carer, and St. John’s Ambulance nurse,</p>
            <p>Uncles – Tom, Fred, Cyril, and Len</p>
            <p>Aunts – Kathleen, Elsie, Lena</p>
            <p>Cousins – Eric, Darrell, Eddie</p>
            <p>And others.</p>

          </div>


          <h3 class="friendcard_title">Education</h3>
          <div class="friendcard_content">
            <p>
            Evacuated from Essex during war,
            Pates Primary School, Cheltenham – Miss Bache
            Cheltenham Grammar School – 1942-45
            School friends – David Rees, Bugsy Henderson, Solo Odampton
            Brentwood School, Essex – 1945-53
            Magdalene College, Cambridge – 1954-6 – BA (Hons)
            Tutors – John Stevens, C.S. Lewis, F.R. Leavis
            College friends – Chris Cowell, Mike Fletcher, Joe Skinner, Mike Taverner, Clive Criper
            City University, London – PhD – 1991
            And life.
            </p>
          </div>

          <h3 class="friendcard_title">Families</h3>
          <div class="friendcard_content">
            <p>First Wife – Sally (Ann) Mays (Elsom) – (1930-2018) - Australian concert pianist</p>
            <p>Sally and John’s marriage – December 3, 1955</p>
            <p>Parents-in-law – Dorothy (née Hopkins) and Trevor Mays – musicians</p>
            <p>First son – Simon Mays Elsom (born April 1957)</p>
            <p>Second son – Jonathan Mark Mays Elsom (born March 1964)</p>
            <p>Nephews – Joe and Basil Kelleher</p>
            <p>First daughter-in-law – Pauline (née Turner)</p>
            <p>Second daughter-in-law – Sue (née Gurney)</p>
            <p>Grand-children – (to Pauline and Simon) Tom, Sarah; (Sue and Jonathan) Daisy, Charlie</p>
            <p>Grand-daughter-in-law – Harriet, partner to Tom,</p>
            <p>Great-grandchildren – (to Harriet and Tom) Isaac and Oscar</p>
            <p>Co-opted great-grandchildren – Leo and Raph</p>
            <p>Multiple cousins, uncles, aunts, second cousins, and three steps removed.</p>
            <p>Second Wife – Judith Anne (née Elliott) Elsom – BBC producer (retired)</p>
            <p>Judith and John’s marriage – October 30, 2021</p>
          </div>

          <h4 class="friendcard_title"> Friends and Colleagues
          In thanks and gratitude</h4>
          <div class="friendcard_content">
            <p>
              <p>Avril and Davis Sutton Anderson,</p>
              <p>Shirley Anderson,</p>
              <p>Ginette Ashkenazy,</p>
              <p>Anna Maria Baciu,</p>
              <p>Gabriela Baciu,</p>
              <p>John Baguley,</p>
              <p>Margaret Banwell,</p>
              <p>Lewis Barfoot,</p>
              <p>Jordan Barkham,</p>
              <p>Emma Beacroft,</p>
              <p>Raj Bisaria,</p>
              <p>Nicole Boireau,</p>
              <p>Adrian Brink,</p>
              <p>Stephen Browning,</p>
              <p>Elizabeth and Richard Bureau,</p>
              <p>Felix Buser,</p>
               <p>Carlina Carr,</p>
              <p>Gordan Carr,</p>
              <p>Augustus Caseley-Heyford,</p>
              <p>John Causebrook,</p>
              <p>Indira and Lopa Chatterjee,</p>
              <p>Phoebe Chuk,</p>
              <p>Anca Maria Colteanu,</p>
              <p>Juno Conolly,</p>
              <p>Ioana Cornisteanu,</p>
              <p>Mircea Cornisteanu,</p>
              <p>James Crabbe,</p>
              <p>Richard Crane,</p>
              <p>Adriana Christea,</p>
              <p>Patrick Curry,</p>
              <p>Ed Davey,</p>
              <p>Richard DeMarco,</p>
              <p>Oleg Dergachev,</p>
              <p>Simon Desorgher,</p>
              <p>Larry Devine,</p>
              <p>Catinca Dragonescu,</p>
              <p>Bogdan Dumitrascu,</p>
              <p>Eugenia Emets,</p>
              <p>Sarah Faulder,</p>
              <p>Nelson Fernandez,</p>
              <p>Joyce Fraser,</p>
              <p>Susan Friesner,</p>
              <p>Bamber Gascoigne,</p>
              <p>Angela Godfrey,</p>
              <p>Paul Goodey,</p>
              <p>Chris Green,</p>
              <p>Geoffrey Grey,</p>
              <p>Kit Gurney,</p>
              <p>Karina Hardingham,</p>
              <p>Ann Harris,</p>
              <p>John Harte SJ,</p>
              <p>Ian Herbert,</p>
              <p>Holly Hill,</p>
              <p>Michael Hitchcock,</p>
              <p>Mike Ingham,</p>
              <p>Fiona Isles Riley,</p>
              <p>Louise Jameson,</p>
              <p>Ruth Jindal,</p>
              <p>Hollace and Welton Jones,</p>
              <p>Yun-Cheol Kim,</p>
              <p>Andreas Kirsch,</p>
              <p>Paul Korenhof,</p>
              <p>Josh Kutschinsky,</p>
              <p>Sukha Kwon,</p>
              <p>Emily Li,</p>
              <p>David Liyan,</p>
              <p>Lauren Lodge-Campbell,</p>
              <p>Pat Loughrey,</p>
              <p>Catalina Lowe,</p>
              <p>Colin Luke,</p>
              <p>Ann and Peter McKie,</p>
              <p>Heather and Tom Mackenzie,</p>
              <p>Andrezj and Magda Zurowska,</p>
              <p>Salman Mannan,</p>
              <p>Richard Martin,</p>
              <p>Richard Mead,</p>
              <p>Michael Meadowcroft,</p>
              <p>Paul Medlicott,</p>
              <p>Anna Miran,</p>
              <p>Cathie, Heather and Clare Morley,</p>
              <p>Jytte and Andy Nacht,</p>
              <p>Simona Nastac,</p>
              <p>Ana Maria Negrescu,</p>
              <p>Nigel Newberry,</p>
              <p>Sue and Peter O’Hagan,</p>
              <p>Farouk Ohan,</p>
              <p>Vicki Ooi,</p>
              <p>Zeynup Oral,</p>
              <p>Zagba Oyortey,</p>
              <p>Tony Palmer,</p>
              <p>Ramamoorthi Parasuram,</p>
              <p>Philip Parr,</p>
              <p>Ronan Paterson,</p>
              <p>David Paskett,</p>
              <p>Richard Peng,</p>
              <p>Patricia Perry,</p>
              <p>Nicolai Pesochinsky,</p>
              <p>Barbara Phillips,</p>
              <p>Stephen Phillips,</p>
              <p>John Pick,</p>
              <p>Martyn Pick,</p>
              <p>Teodor Romeo Pop,</p>
              <p>Ana Popescu Deautsch,</p>
              <p>Phyllida Previte,</p>
              <p>Molly Price-Owen,</p>
              <p>Mary Reid,</p>
              <p>Lissa Tyler Renaud,</p>
              <p>Caroline Rinaldi,</p>
              <p>Sue Rolfe,</p>
              <p>Michael Roper,</p>
              <p>Edwin Roxburgh,</p>
              <p>Don Rubin,</p>
              <p>Farshid Sadr-Hashemi,</p>
              <p>Charlotte Salamon,</p>
              <p>Maureen Salmon,</p>
              <p>Maria Helena Serodio,</p>
              <p>Martina Shackerley-Bennett,</p>
              <p>Emil Sirbelescu,</p>
              <p>Kalina Stefanova,</p>
              <p>William Summers,</p>
              <p>Toby Syfret,</p>
              <p>David Thacker,</p>
              <p>Tomasc Tkacz,</p>
              <p>Traian Petrescu,</p>
              <p>Colin Tweedy,</p>
              <p>Dan Vasiliu,</p>
              <p>Oksana and Alexander Vorobyov,</p>
              <p>Hamlet Wang,</p>
              <p>Sawa Ward,</p>
              <p>Irving Wardle,</p>
              Eve and Wayne Warlow,
              David Warwick,
              Jan Wild,
              Judy and Kate Willoughby,
              Noel Witts,
              Madeline Wurzburger,
              Andrei Zaharia,
              Anna Valentina Zaharia,
              Juliet Zhou,
              Andrez and Magda Zurowska.
            </p>
          </div>

          <h4 class="friendcard_title">Summary</h4>
          <div class="friendcard_content">

              <p>From the stem, the bud;</p>
              <p>From the bud, the bloom;</p>
              <p>From the bloom, the seed;</p>
              <p>From the seed, the stem.</p>
          </div>
          <h5 class="friendcard_title">Produced by God</h5>

          <h5 class="friendcard_title">Distributed by the Internet</h5>
       </div>







      </div>

    </div>

  </div>
</div>
